---
layout: full-width
title: Reading groups that meet in Suffolk libraries
breadcrumb: events
jquery: true
dynatable: true
---
<p>Find out <a href="/events-activities/reading-groups/starting-a-reading-group/">how to set up your own reading group in a Suffolk library</a>. We can provide a free, welcoming space for your group and set up a special library account for borrowing more books.</p>

<p>See our <a href="/new-suggestions/">new titles</a> and <a href="/new-suggestions/book-club-ideas/">book club ideas</a> for reading inspiration.</p>

{% include dynatable-library-list.html %}

<table id="search-table" class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th data-dynatable-column="library">Library</th>
        <th data-dynatable-column="activity">Activity</th>
        <th data-dynatable-column="day">Day</th>
        <th data-dynatable-column="times">Times</th>
      </tr>
    </thead>
  <tbody>
    {% assign recurrents = site.recurrents | where: "recurrent-category", "reading-groups" | sort: 'recurrent-location' %}
    {% for recurrent in recurrents %}
    <tr>
      <td>{{ recurrent.recurrent-location-display-name }}</td>
      <td><a href="{{ recurrent.recurrent-location-display-url }}">{{ recurrent.recurrent-title }}</a></td>
      <td>{{ recurrent.recurrent-day }}</td>
      <td>{{ recurrent.recurrent-times }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
$('#search-table').dynatable({
  features: {
    paginate: false,
    recordCount: false,
    sorting: false
  },
  inputs: {
    queries: $('#search-library')
  }
});
</script>
