---
layout: sidebar-right
title: Staff training and CPD
breadcrumb: schools
sidebar: schools
---
<p>We've run a full programme of training courses for many years:</p>

<ul>
  <li>Books support group meeting termly for school staff working with KS2</li>
  <li>Professional termly forum for primary library staff</li>
  <li>Training courses for all primary library staff</li>
  <li>Termly County Training days for library staff featuring external experts – Secondary school only</li>
  <li>Termly area Librarian meetings for secondary school library staff</li>
  <li>A wide-range of training courses – see our calendar for further information</li>
</ul>

<h2>Upcoming events</h2>

{% assign events = site.events | sort: 'event-start-date'%}
{% for event in events %}
  {% if event.event-category == 'schools' %}
    {% capture now-unix-seconds %}{{'now' | date: '%s' }}{% endcapture %}
    {% capture event-time-seconds %}{{event.event-start-date | date: '%s' }}{% endcapture %}
    {% capture event-time %}{{ event-time-seconds | divided_by: 86400}}{% endcapture %}
    {% capture now-unix %}{{ now-unix-seconds | divided_by: 86400}}{% endcapture %}
    {% if now-unix <= event-time %}
      <article>
        <header>
          <h1><a href="{{ event.url }}">{{ event.name }}</a></h1>
          <p>
            {% if event.event-end-date %}
              <span>{{ event.event-start-date | date: "%a %-d %b, %Y" }}</span> <span>{{ event.event-start-time }}</span> &#8211; <span>{{ event.event-end-date | date: "%a %-d %b" }}</span> <span>{{ event.event-end-time }}</span>
            {% else %}
              <span>{{ event.event-start-date | date: "%a %-d %b, %Y" }}</span> <span>{{ event.event-start-time }}</span> &#8211; <span>{{ event.event-end-time }}</span>
            {% endif %}
          </p>
        </header>
      </article>
    {% endif %}
  {% endif %}
{% endfor %}

<a href="/schools-literacy/schools/contact/">Contact the LBRTS team for more info →</a>
