---
layout: default
title: Suffolk Libraries Bookfest
breadcrumb: events
hnav: bookfest
excerpt: A celebration of books, reading and libraries with author talks and activities throughout Suffolk
---
<div class="custom-narrow-width">

  <section id="introduction" class="{% include /c/content-block.html %} pb2 pb3-ns">

    <h1 class="page-title tc">Suffolk Libraries Bookfest</h1>

      <div class="custom-prose">

        <p class="ma0 tc f5 gray">Fri 21 Oct – Sun 30 Oct</p>

        <p>Launched in 2015, this is an annual event celebrating books and reading throughout Suffolk. We will be hosting novelists and poets, biographers and historians, children’s illustrators and storytellers in libraries in Beccles to the north of the county, along the coast at Southwold, Aldeburgh and Felixstowe, and down to Newmarket and Sudbury in the south.</p>

        <p class="tc f5"><a class="pure-button" href="http://www.eventbrite.co.uk/o/suffolk-libraries-7731632209">Buy tickets online</a> or call 01473 351249</p>

      </div>

  </section>

  <section id="25-october" class="{% include /c/content-block.html %} pb2 pb3-ns">

  <h1 class="{% include /c/content-block-title.html %} mb3 pb2 pt2 bb b--light-silver">25 October</h1>

    <div class="cf">

      <div class="custom-g-l3">

        <h1 class="{% include /c/sub-head.html %} custom-prose f5 fw6 mb2 mb3-ns"><a href="/events/bury-2016-10-25-suffolk-libraries-bookfest-gavin-extence/">Gavin Extence: <cite>The Empathy Problem</cite></a></h1>

        <div class="cf">

          <div class="custom-g-l2">

            <img src="/images/article/bookfest-gavin-extence-r.jpg" class="custom-br-50" />

          </div>

          <div class="custom-g-l4 custom-g-nm">

            <p class="custom-prose mt2 f5">Bury Library, 7.30pm, £6</p>

          </div>

        </div>

      </div>

      <div class="custom-g-l3 custom-g-nm">

        <h1 class="{% include /c/sub-head.html %} custom-prose f5 fw6 mb2 mb3-ns"><a href="/events/beccles-2016-10-25-suffolk-libraries-bookfest-liz-lochhead-with-tiffany-atkinson/">North and south: poetry with Liz Lochhead and Tiffany Atkinson</a></h1>

        <div class="cf">

          <div class="custom-g-l2">

            <img src="/images/article/bookfest-liz-lochhead-r.jpg" class="custom-br-50" />

          </div>

          <div class="custom-g-l4 custom-g-nm">

            <p class="custom-prose mt2 f5">Beccles Library, 7.30pm, £6</p>

          </div>

        </div>

      </div>

    </div>

  </section>

  <section id="26-october" class="{% include /c/content-block.html %} pb2 pb3-ns">

  <h1 class="{% include /c/content-block-title.html %} mb3 pb2 pt2 bb b--light-silver">26 October</h1>

    <div class="cf">

      <div class="custom-g-l3">

        <h1 class="{% include /c/sub-head.html %} custom-prose f5 fw6 mb2 mb3-ns"><a href="/events/southwold-2016-10-26-suffolk-libraries-bookfest-james-runcie-talks-about-writing-for-tv/">James Runcie talks about writing for TV</cite></a></h1>

        <div class="cf">

          <div class="custom-g-l2">

            <img src="/images/article/bookfest-james-runcie-r.jpg" class="custom-br-50" />

          </div>

          <div class="custom-g-l4 custom-g-nm">

            <p class="custom-prose mt2 f5">North Green, Southwold, 3pm, £6</p>

          </div>

        </div>

      </div>

      <div class="custom-g-l3 custom-g-nm">

        <h1 class="{% include /c/sub-head.html %} custom-prose f5 fw6 mb2 mb3-ns"><a href="/events/woodbridge-2016-10-26-suffolk-libraries-bookfest-an-evening-of-poetry-and-music-with-liz-lochhead-and-band/">An evening of poetry & music with Liz Lochhead</a></h1>

        <div class="cf">

          <div class="custom-g-l2">

            <img src="/images/article/bookfest-liz-lochhead-r.jpg" class="custom-br-50" />

          </div>

          <div class="custom-g-l4 custom-g-nm">

            <p class="custom-prose mt2 f5">Woodbridge Library, 7.30pm, £8</p>

          </div>

        </div>

      </div>

    </div>

  </section>

  <section id="27-october" class="{% include /c/content-block.html %} pb2 pb3-ns">

  <h1 class="{% include /c/content-block-title.html %} mb3 pb2 pt2 bb b--light-silver">27 October</h1>

    <div class="cf">

      <div class="custom-g-l3 custom-g-nm">

        <h1 class="{% include /c/sub-head.html %} custom-prose f5 fw6 mb2 mb3-ns"><a href="/events/lavenham-2016-10-27-suffolk-libraries-bookfest-taking-tea-in-the-library-with-james-runcie/">Taking tea in the library with James Runcie</a></h1>

        <div class="cf">

          <div class="custom-g-l2">

            <img src="/images/article/bookfest-james-runcie-r.jpg" class="custom-br-50" />

          </div>

          <div class="custom-g-l4 custom-g-nm">

            <p class="custom-prose mt2 f5">Lavenham Library, 3pm, £8</p>

          </div>

        </div>

      </div>

    </div>

  </section>

  <section id="29-october" class="{% include /c/content-block.html %} pb2 pb3-ns">

  <h1 class="{% include /c/content-block-title.html %} mb3 pb2 pt2 bb b--light-silver">29 October</h1>

    <div class="cf">

      <div class="custom-g-l3 custom-g-nm">

        <h1 class="{% include /c/sub-head.html %} custom-prose f5 fw6 mb2 mb3-ns"><a href="/events/felixstowe-2016-10-29-suffolk-libraries-bookfest-the-magic-of-elly-griffiths/">The magic of Elly Griffiths</a></h1>

        <div class="cf">

          <div class="custom-g-l2">

            <img src="/images/article/bookfest-elly-griffiths-r.jpg" class="custom-br-50" />

          </div>

          <div class="custom-g-l4 custom-g-nm">

            <p class="custom-prose mt2 f5">Felixstowe Library, 7pm, £8</p>

          </div>

        </div>

      </div>

    </div>

  </section>

  <section id="mailing-list" class="{% include /c/content-block.html %} pb2 pb3-ns">

  <div class="{% include /c/generic-panel.html %}">

    <p class="tc"><strong>Sign up for email updates</strong> and be the first to hear about authors and events confirmed at this year's festival:</p>

      <!-- Begin MailChimp Signup Form -->
      <form class="pure-form pure-form-stacked tc" action="//suffolklibraries.us4.list-manage.com/subscribe/post?u=8fdb8e824d6cb5f95be2c5b88&amp;id=f28f230b80" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      	<fieldset>
        <label for="mce-EMAIL">Email address</label>
      	<input type="email" value="" name="EMAIL" class="required email w-100" required id="mce-EMAIL">
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8fdb8e824d6cb5f95be2c5b88_f28f230b80" tabindex="-1" value=""></div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="pure-button pure-button-primary">
      </form>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->

    <p class="tc"><small>We'll only use your email to contact you with Bookfest news. You can unsubscribe at any time by clicking the unsubscribe link in any emails we send.</small></p>

  </div>

  </section>

</div><!-- end custom-narrow-width -->
