---
layout: default
title: Suffolk Libraries Presents
breadcrumb: events
---
<div class="custom-constrain-img">

  <section id="introduction" class="{% include /c/content-block.html %} cf">

    <h1 class="page-title tc"><img src="/images/article/sl-presents-logo.jpg" alt="Suffolk Libraries Presents"></h1>

    <p class="ma0 fw3 f3 mb2 mb4-ns tc">Amazing performances and cultural events recorded live and screened at your library using top quality projection equipment.</p>

  </section>

  <section id="screenings" class="custom-prose custom-lh-copy pb4">

      {% assign presents_event_list = site.events | where:"event-category","presents") %}

      {% for presents_event in presents_event_list %}

        {% capture now-unix-seconds %}{{'now' | date: '%s' }}{% endcapture %}

        {% capture event-time-seconds %}{{presents_event.event-start-date | date: '%s' }}{% endcapture %}

        {% capture event-time %}{{ event-time-seconds | divided_by: 86400}}{% endcapture %}

        {% capture now-unix %}{{ now-unix-seconds | divided_by: 86400}}{% endcapture %}

        {% if now-unix <= event-time %}

          <article class="{% include /c/slot.html %}">

              <h1 class="{% include /c/slot-title.html %}"><a class="blue" href="{{ presents_event.url }}">{{ presents_event.name }} at {{ presents_event.location-text }}</a></h1>

              <p class="{% include /c/page-meta.html %} mb0"><a href="/libraries/{{ presents_event.location }}">{{ presents_event.location-text }}</a> &middot; {{ presents_event.event-start-date | date: "%a %-d %b %Y" }}, {{ presents_event.event-start-time }} {% if presents_event.event-end-time %}-{{ presents_event.event-end-time }}{% endif %}{% if presents_event.event-ticket-price %} &middot; &pound;{{ presents_event.event-ticket-price }}{% endif %}<br><strong>For tickets visit or call <a href="/libraries/{{ presents_event.location }}">{{ presents_event.location-text }}</a></strong></p>

              <div class="cf{% if presents_event.event-image-small %} pt3{% endif %}">

                  {% if presents_event.event-image-small %}

                    <div class="custom-g-l2">

                        <img src="/images/{{ presents_event.event-image-small }}" alt="{{ presents_event.name | strip_html }}" class="br-100">

                    </div>

                  {% endif %}

                  {% if presents_event.event-image-small %}<div class="custom-g-l4 custom-g-nm">{% endif %}

                  <div class="custom-prose custom-lh-copy">

                      {{ presents_event.excerpt }}

                  </div>

                   {% if presents_event.event-image-small %}</div>{% endif %}

              </div>

          </article>

         {% endif %}

      {% endfor %}

  </section>

  <div class="{% include /c/generic-panel.html %}">

      <section id="about" class="{% include /c/content-block.html %}">

          <h1 class="{% include /c/content-block-title.html %} mb3 tc">About</h1>

            <div class="custom-prose custom-lh-copy custom-narrow-width f5">

                <p>Suffolk Libraries Presents brings quality theatre and exhibition events to Suffolk communities using the latest digital screening equipment.</p>

                <p>It’s funded by Arts Council England and runs in several of the county’s libraries with the aim of bringing more Suffolk residents into contact with the arts in a familiar and accessible local venue.</p>

                <p>Digitally recorded, internationally acclaimed performance and exhibition events will be screened using the latest projection equipment in Stradbroke, Felixstowe, Ixworth, Gainsborough, Hadleigh, Lowestoft and Capel St Mary libraries.</p>

                <p>The performances will include the Globe Theatre’s productions of <cite>Julius Caesar</cite> and <cite>The Comedy of Errors</cite>; well-known ballets such as Matthew Bourne’s productions of <cite>Sleeping Beauty</cite> and <cite>Swan Lake</cite>; and unique, commentated tours of visual art exhibitions featuring artists such as Matisse, Rembrant and Van Gogh.</p>

            </div>

      </section>

  </div>

      <section id="partners" class="{% include /c/content-block.html %}">

        <h1 class="{% include /c/content-block-title.html %} mb3 tc">Partners</h1>

          <div class="custom-prose custom-lh-copy">

              <div class="cf">

                  <div class="custom-g-l3">

                      <div class="cf">

                           <div class="custom-g-l3">

                               <a href="http://www.creativeartseast.co.uk/"><img src="/images/article/creative-arts-east-logo.jpg" class="{% include /c/img-float-left.html %}" alt="Creative Arts East logo"></a>

                           </div>

                           <div class="custom-g-l3 custom-g-nm">

                               <p class="f5">In partnership with Creative Arts East</p>

                           </div>

                    </div>

                </div>

                <div class="custom-g-l3 custom-g-nm">

                    <div class="cf">

                         <div class="custom-g-l3">

                            <a href="http://www.artscouncil.org.uk/"><img src="/images/article/arts-council-england-logo.jpg" class="{% include /c/img-float-left.html %}" alt="Arts Council England logo"></a>

                        </div>

                         <div class="custom-g-l3 custom-g-nm">

                            <p class="f5">Funded by Arts Council England</p>

                        </div>

                </div>

            </div>

          </div>

      </section>

  </div>
