---
title: Volunteer case studies
layout: sidebar-right
sidebar: volunteering
breadcrumb: volunteering
---

<section class="{% include /c/content-block.html %}">

	<div class="custom-narrow-width">

		<section class="{% include /c/generic-panel.html %}">

			<article class="cf {% include /c/content-block.html %}">

				<div>

					<img class="fl w-50 w-40-ns mt3-ns mr2 mb1 br-100" src="/images/featured/generic-image1.jpg" alt="Edna">

					<h1 class="{% include /c/sub-head.html %}">Edna is involved in the library's Top Time group which provides social activities and opportunities for older people</h1>

					<p class="mt2">"I have volunteered for many years for the Summer Reading Challenge and currently help organise and set up the Top Time Group each week and act as the treasurer. At first, volunteering was something for me to do, as I cannot go out much due to my health. The social side of volunteering with the library is my lifeline."</p>

				</div>

			</article>

		</section>

			<article class="cf {% include /c/content-block.html %}">

				<div>

					<img class="fl w-50 w-40-ns mt3-ns mr2 mb1 br-100" src="/images/featured/generic-image2.jpg" alt="Callum">

					<h1 class="{% include /c/sub-head.html %}">Callum is a 19-year-old volunteer at his local library</h1>

					<p class="mt2">"Volunteering at the library has been a thoroughly enjoyable and fulfilling experience. Not only was it great socially, in terms of making friends and interacting with the general public, but it also offered me the chance to develop my personal skills. I would recommend volunteering; it has got me out of the house, can add a lot to your CV and contributes to a valuable community asset."</p>

				</div>

			</article>

			<section class="{% include /c/generic-panel.html %}">

				<article class="cf {% include /c/content-block.html %}">

					<div>

						<img class="fl w-50 w-40-ns mt3-ns mr2 mb1 br-100" src="/images/featured/generic-image3.jpg" alt="Katie">

						<h1 class="{% include /c/sub-head.html %}">Katie fits her Home Library Service visits around her work and the school run</h1>

						<p class="mt2">"At the moment I visit two people and spend about 15–20 minutes chatting when I deliver their books. The people I visit wouldn’t get books otherwise. We all have friends or relatives like that. I have a 90 year old grandmother and I hope that someone where she lives does this too. If just a few people volunteered it could make a big difference.

						<p class="mt2">"I like meeting the people I deliver books to. I get to know people I wouldn’t otherwise come across in any other area of my life. I would definitely recommend volunteering like this to other people."</p>

					</div>

				</article>

			</section>

	</div>

</section>
