---
title: Volunteer case studies
layout: sidebar-right
sidebar: volunteering
breadcrumb: volunteering
---

<div class="{% include /c/content-block.html %}">

	<div class="custom-narrow-width">

		<article class="cf {% include /c/content-block.html %}">

				<img class="fl w-50 w-40-ns mt3-ns mr2 mb1 br-100" src="/images/featured/featured-volunteer-jenny.jpg" alt="Jenny">

				<h1 class="{% include /c/sub-head.html %}">Jenny has been volunteering for the Home Library Service for more than 20 years</h1>

				<p class="mt2">"I had a friend who volunteered for the Home Library Service. I thought I would give it a go and I thoroughly enjoyed it. You make friends and get to know people and their families.</p>

				<p class="mt2">"It is great fun choosing books for people and introducing them to books they hadn’t thought of reading. One lady I visit has similar tastes in reading to me, so it is easy to find books for her. You have to like people, be broadminded and have endless patience. You can spend ages choosing books only to have your choices rejected by the person you visit. But that doesn’t happen often, because you get to know them so well. You have to have a love of books, read yourself and be able to share your enthusiasm.</p>

				<p class="mt2">"I just love doing it."</p>

		</article>

		<article class="cf {% include /c/content-block.html %}">

			<div class="{% include /c/generic-panel.html %}">

					<img class="fl w-50 w-40-ns mt3-ns mr2 mb1 br-100" src="/images/featured/featured-volunteer-callum.jpg" alt="Callum">

					<h1 class="{% include /c/sub-head.html %}">Callum is a 19-year-old volunteer at his local library</h1>

					<p class="mt2">"Volunteering at the library has been a thoroughly enjoyable and fulfilling experience. Not only was it great socially, in terms of making friends and interacting with the general public, but it also offered me the chance to develop my personal skills. I would recommend volunteering; it has got me out of the house, can add a lot to your CV and contributes to a valuable community asset."</p>

			</div>

		</article>

		<article class="cf {% include /c/content-block.html %}">

				<img class="fl w-50 w-40-ns mt3-ns mr2 mb1 br-100" src="/images/featured/featured-volunteer-katie.jpg" alt="Katie">

				<h1 class="{% include /c/sub-head.html %}">Katie fits her Home Library Service visits around her work and the school run</h1>

				<p class="mt2">"At the moment I visit two people and spend about 15–20 minutes chatting when I deliver their books. I get to know what each person likes and doesn’t like. I then choose some books I know they would definitely enjoy, but I also choose some that might be a bit different to what they may usually read.</p>

				<p class="mt2">"The people I visit wouldn’t get books otherwise. We all have friends or relatives like that. I have a 90 year old grandmother and I hope that someone where she lives does this too. If just a few people volunteered it could make a big difference.</p>

				<p class="mt2">"I like meeting the people I deliver books to. I get to know people I wouldn’t otherwise come across in any other area of my life. I would definitely recommend volunteering like this to other people."</p>

		</article>

		<article class="cf {% include /c/content-block.html %}">

			<div class="{% include /c/generic-panel.html %}">

					<h1 class="{% include /c/sub-head.html %}">Josie has helped with the Summer Reading Challenge and is also part of her library's Friends group</h1>

					<p class="mt2">"I have been volunteering at the library for about 3 years. I initially joined the Top Time group when I moved to the area as a way of meeting people.</p>

					<p class="mt2">"I then got involved in helping with the group and volunteered for the Summer Reading Challenge, as I am a great believer that children need books. I didn’t want to lose the library, so I also got involved in the Friends group and now act as committee secretary."</p>

			</div>

		</article>

		<article class="cf {% include /c/content-block.html %}">

				<h1 class="{% include /c/sub-head.html %}">Edna is involved in the library's Top Time group which provides social activities and opportunities for older people</h1>

				<p class="mt2">"I have volunteered for many years for the Summer Reading Challenge and currently help organise and set up the Top Time Group each week and act as the treasurer.</p>

				<p class="mt2">"At first volunteering was something for me to do, as I cannot go out much due to my health. I put all my effort into that one day once a week. If I am really poorly, it is something I can aim to get back to. The social side of volunteering with the library is my lifeline."</p>

		</article>

	</div>

</div>
