---
layout: default
title: Advent calendar 2016
breadcrumb: staff-picks
---

<h1 class="{% include /c/page-title.html %} tc custom-icon-xmas-24 dib mb4-ns">Suffolk Libraries advent calendar 2016</h1>

<p class="pa3 ma0 mb4 bg-red white">Every day until Christmas Eve a member of Suffolk Libraries reveals a book, album or film they'll be giving as a Christmas present, and why.</p>

<div class="custom-flex-container">

{% assign advent_posts = (site.posts | where: "tag", "advent" | reverse ) %}

{% for post in advent_posts limit:24 %}

    <article class="custom-flex-row pv2 bt b--light-gray">

        <p class="custom-icon-xmas-{{ forloop.index }} f5 b dark-green ma0 mb2 pr2">{{ post.date | date: "%B %e" }}</p>

        <a class="white" href="{{ post.url }}"><img class="custom-constrain-img" src="{{ post.featured-image }}" alt="{{ post.featured-alt }}"></a>

        <h1 class="f5 fw6 ma0 pa0 pr2"><a href="{{ post.url }}" class="blue">{{ post.title }}</a></h1>

        <p class="f5 ma0 pr2">{{ post.excerpt }}</p>

    </article>

{% endfor %}

</div>
