# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Suffolk Libraries
email: help@suffolklibraries.co.uk
description: Free eBooks, eAudio and music. Reserve print titles, DVDs and CDs online. Branch contact details.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://www.suffolklibraries.co.uk" # the base hostname & protocol for your site
twitter_username: suffolklibrary
github_username:  suffolklibraries
message: "Suffolk County Council proposes to cut the library budget."
message_link: news/response-to-council-budget-proposals/
message_link_text: Read our response to the Council proposals



# Build settings
markdown: kramdown
permalink: /:categories/:title/
include: [_redirects]

# SASS settings
sass:
    style: compressed

# Collections
collections:
    libraries:
        output: true
    events:
        output: true
    recurrents:
        output: false
defaults:
  - scope:
      type: libraries
    values:
      layout: library
  - scope:
      type: events
    values:
      layout: event
