---
layout: default
title: Suffolk Libraries reserve, renew, branches and eLibrary
---

    <section>

        <h1 class="{% include /c/block-title.html %}">Help</h1>

        <div class="cf">

            <div class="custom-g-l2">

                <div class="{% include /c/block.html %}">

                    <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}"   href="/elibrary">Using the service</a></h1>

                    <p class="{% include /c/block-graf.html %}">How to borrow, borrowing periods, overdue dines, using our wifi and computers.</p>

                </div>

            </div>

            <div class="custom-g-l2">

                <div class="{% include /c/block.html %}">

                    <p class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}"   href="/libraries">Email</a></h1>

                </div>

            </div>

            <div class="custom-g-l2 custom-g-nm">

                <div class="{% include /c/block.html %}">

                    <p class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}"   href="/mobiles-home">Call 01473 351249</a></h1>

                </div>

            </div>

        </div> <!-- end .cf -->

    </section>

    <section class="pb3 pb4-ns">

        <h1 class="f4 f3-ns pa0 ma0 mb2 pt2 pb2 bb b--light-gray">More</h1>

            <ul class="list ma0 mb2 pa0 f5">

                <li class="db dib-ns pv1 pv0-ns mr3-ns"><a href="/music-and-drama" class="blue link">Music &amp; Drama Library</a></li>
                <li class="db dib-ns pv1 pv0-ns mr3-ns"><a href="/special-collections" class="blue link">Special collections</a></li>
                <li class="db dib-ns pv1 pv0-ns mr3-ns"><a href="http://www.fundingcentral.org.uk/default.aspx" class="blue link">Get help funding your project</a></li>
                <li class="db dib-ns pv1 pv0-ns mr3-ns"><a href="/prison-libraries" class="blue link">Prison library service</a></li>
                <li class="db dib-ns pv1 pv0-ns mr3-ns"><a href="/volunteer" class="blue link">Volunteering</a></li>

            </ul>

     </section>

{% assign featured_pages = (site.pages|where:"featured","true") %}

{% for post in featured_pages limit:1 %}

    <article class="cf mv2 mv3-ns mt4-ns pv2 pv3-ns bt b--light-gray">

        <div class="custom-g-l3">

            <h1 class="f4 f3-ns pa0 ma0 mb2">{{ post.title }}</h1>

            <p class="ma0 mb3 {% include /c/prose.html %}">{{ post.featured-excerpt }}</p>

            <p class="b"><a class="blue" href="{{ post.url }}">{{ post.featured-link-text }}&rarr;</a></p>

        </div>

        <div class="custom-g-l3 custom-g-nm">

            <a class="white" href="{{ post.url }}"><img class="custom-constrain-img" src="{{ post.featured-image }}" alt="{{ post.featured-alt }}"></a>

        </div>

    </article>

{% endfor %}
