---
layout: default
title: Suffolk Libraries reserve, renew, branches and eLibrary
map: true
---

<nav id="nav" class="mb2">

    <h1 class="dn">Navigation</h1>

    <section>

        <h1 class="dn">Library services</h1>

        <div class="cf">

            <div class="custom-g-l2">

                <section class="{% include /c/block.html %}">

                    <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}"   href="/elibrary">eLibrary</a></h1>

                    <p class="{% include /c/block-graf.html %}">Download free eBooks, eAudio, magazines &amp; MP3s</p>

                </section>

            </div>

            <div class="custom-g-l2">

                <section class="{% include /c/block.html %}">

                    <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}"   href="/branches">Libraries</a></h1>

                    <p class="{% include /c/block-graf.html %}">Library contact details &amp; events, hire library spaces</p>

                </section>

            </div>

            <div class="custom-g-l2 custom-g-nm">

                <section class="{% include /c/block.html %}">

                    <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}"   href="/mobiles-home">Mobiles &amp; home service</a></h1>

                    <p class="{% include /c/block-graf.html %}">Mobile library timetables &amp; books delivered to you</p>

                </section>

            </div>

        </div> <!-- end .cf -->

        <div class="cf">

            <div class="custom-g-l2">

                <section class="{% include /c/block.html %}">

                    <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}"   href="/help">Help using the service</a></h1>

                    <p class="{% include /c/block-graf.html %}">Finding &amp; reserving, charges &amp; fines, using our computers</p>

                </section>

            </div>

            <div class="custom-g-l2">

                <section class="{% include /c/block.html %}">

                    <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}"   href="/new-suggestions">New in &amp; ideas</a></h1>

                    <p class="{% include /c/block-graf.html %}">New titles, reading lists &amp; staff picks</p>

                </section>

            </div>

            <div class="custom-g-l2 custom-g-nm">

                <section class="{% include /c/block.html %}">

                    <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}"   href="/events-activities">Events &amp; activities</a></h1>

                    <p class="{% include /c/block-graf.html %}">Activities for children &amp; older people, free IT courses and special events</p>

                </section>

            </div>

        </div> <!-- end .cf -->

        <div class="cf">

            <div class="custom-g-l2">

                <section class="{% include /c/block.html %}">

                    <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}"   href="/information-resources">Research, study &amp; leisure resources</a></h1>

                    <p class="{% include /c/block-graf.html %}">Free access to Ancestry, Find my Past &amp; other information resources</p>

                </section>

            </div>

            <div class="custom-g-l2">

                <section class="{% include /c/block.html %}">

                    <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}"   href="/schools-literacy">Schools &amp; literacy</a></h1>

                    <p class="{% include /c/block-graf.html %}">Classroom resources for teachers and literacy resources for parents &amp; carers</p>

                </section>

            </div>

            <div class="custom-g-l2 custom-g-nm">

                <section class="{% include /c/block.html %}">

                    <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}"   href="/health">Mental health &amp; wellbeing</a></h1>

                    <p class="{% include /c/block-graf.html %}">Books on Prescription, wellbeing resources, events &amp; a blog</p>

                </section>

            </div>

        </div> <!-- end .cf -->

        <div class="cf">

            <div class="custom-g-l2">

                <section class="{% include /c/block.html %}">

                    <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}"   href="/news">News</a></h1>

                    <p class="{% include /c/block-graf.html %}">Updates &amp; press releases</p>

                </section>

            </div>

            <div class="custom-g-l2">

                <section class="{% include /c/block.html %}">

                    <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}"   href="/blog">Blog</a></h1>

                    <p class="{% include /c/block-graf.html %}">Our behind the scenes blog</p>

                </section>

            </div>

            <div class="custom-g-l2 custom-g-nm">

                <section class="{% include /c/block.html %}">

                    <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}"   href="/about">About us</a></h1>

                    <p class="{% include /c/block-graf.html %}">Governance, board members, documents  &amp; community groups</p>

                </section>

            </div>

        </div> <!-- end .cf -->

        <div class="cf">

            <div class="custom-g-l2">

                <section class="{% include /c/block.html %}">

                    <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}"   href="/branches/hub">Ipswich Enterprise + Business Hub</a></h1>

                    <p class="{% include /c/block-graf.html %}">Book a meeting space or desk, create with 3D printers and sewing machines</p>

                </section>

            </div>

            <div class="custom-g-l2 custom-g-nm">

                <section class="{% include /c/block.html %}">

                    <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}"   href="/about/jobs">Jobs</a></h1>

                    <p class="{% include /c/block-graf.html %}">See our latest vacancies</p>

                </section>

            </div>

        </div> <!-- end .cf -->

    </section>

    <section class="pb3 pb4-ns">

        <h1 class="f4 f3-ns pa0 ma0 mb2 pt2 pb2 bb b--light-gray">More</h1>

            <ul class="list ma0 mb2 pa0 f5">

                <li class="db dib-ns pv1 pv0-ns mr3-ns"><a href="/music-and-drama" class="blue link">Music &amp; Drama Library</a></li>
                <li class="db dib-ns pv1 pv0-ns mr3-ns"><a href="/special-collections" class="blue link">Special collections</a></li>
                <li class="db dib-ns pv1 pv0-ns mr3-ns"><a href="http://www.open4community.info/suffolklibraries/" class="blue link">Get help funding your project</a></li>
                <li class="db dib-ns pv1 pv0-ns mr3-ns"><a href="/prison-libraries" class="blue link">Prison library service</a></li>

            </ul>

     </section>

</nav>

{% assign featured_pages = (site.pages|where:"featured","true") %}

{% for post in featured_pages limit:1 %}

    <article class="cf mv2 mv3-ns mt4-ns pv2 pv3-ns bt b--light-gray">

        <div class="custom-g-l3">

            <h1 class="f4 f3-ns pa0 ma0 mb2">{{ post.title }}</h1>

            <p class="ma0 mb3">{{ post.featured-excerpt }}</p>

            <p class="b"><a class="blue" href="{{ post.url }}">Find out more about {{ post.featured-link-text }}&rarr;</a></p>

        </div>

        <div class="custom-g-l3 custom-g-nm">

            <a class="white" href="{{ post.url }}"><img class="custom-constrain-img" src="{{ post.featured-image }}" alt="{{ post.featured-alt }}"></a>

        </div>

    </article>

{% endfor %}
