---
layout: default
title: Suffolk Libraries reserve, renew, branches and eLibrary
featured-story: false
---

<section class="pb3 pb4-ns">

    <h1 class="f4 f3-ns pa0 ma0 mb2 pt2 pb2 bb b--light-gray">More</h1>

    <ul class="list ma0 mb2 pa0 f5">

        <li class="db dib-ns pv1 pv0-ns mr3-ns"><a href="/news" class="blue link">News</a></li>
        <li class="db dib-ns pv1 pv0-ns mr3-ns"><a href="/blog" class="blue link">Blog</a></li>
        <li class="db dib-ns pv1 pv0-ns mr3-ns"><a href="/music-and-drama" class="blue link">Music &amp; Drama Library</a></li>
        <li class="db dib-ns pv1 pv0-ns mr3-ns"><a href="/special-collections" class="blue link">Special collections</a></li>
        <li class="db dib-ns pv1 pv0-ns mr3-ns"><a href="http://www.fundingcentral.org.uk/default.aspx" class="blue link">Get help funding your project</a></li>
        <li class="db dib-ns pv1 pv0-ns mr3-ns"><a href="/prison-libraries" class="blue link">Prison library service</a></li>
        <li class="db dib-ns pv1 pv0-ns mr3-ns"><a href="/volunteer" class="blue link">Volunteering</a></li>

    </ul>

 </section>

 {% if page.featured-story %}

     {% assign featured_pages = (site.posts | where: "featured", "true") %}

     {% for post in featured_pages limit:1 %}

         <article class="cf mv2 mv3-ns mt4-ns pv2 pv3-ns bt b--light-gray">

             <div class="custom-g-l3">

                 <h1 class="ff4 f3-ns pa0 ma0 mb2 pt2 pb2 bb b--light-gray">{{ post.title }}</h1>

                 <p class="ma0 mb3 {% include /c/prose.html %}">{{ post.featured-excerpt }}</p>

                 <p class="b"><a class="blue" href="{{ post.url }}">{{ post.featured-link-text }} &rarr;</a></p>

             </div>

             <div class="custom-g-l3 custom-g-nm">

                 <a class="white" href="{{ post.url }}"><img class="custom-constrain-img" src="{{ post.featured-image }}" alt="{{ post.featured-alt }}"></a>

             </div>

         </article>

     {% endfor %}

 {% elsif page.featured-story == false %}

     <article class="cf mv2 mv3-ns mt4-ns pv2 pv3-ns">

         <h1 class="f4 f3-ns pa0 ma0 mb2 pt2 pb2 bb b--light-gray"><a class="blue link" href="/whats-new">Lists, ideas, reviews &amp; interviews</a></h1>

         <div class="custom-g-l3">

             <p class="ma0 mb3 {% include /c/prose.html %}">Looking for reading, viewing &amp; listening inspiration? Check out our lists, reviews, articles, blogs, podcast and author interviews for readers of all ages.</p>

         </div>

         <div class="custom-g-l3 custom-g-nm">

             <a class="white" href="/whats-new/"><img class="custom-constrain-img" src="/images/featured/featured-alienography-2.jpg" alt="First Aid "></a>

         </div>

     </article>

 {% endif %}
