---
layout: default
title: Enterprise + Innovation Hub
breadcrumb: branches
hnav: hub
excerpt: Supporting Suffolk’s aspiring entrepreneurs, business owners and creative minds
---

<article class="custom-lh-copy">

	<h1 class="tc {% include /c/page-title.html %}">Enterprise + Innovation Hub</h1>

	<p class="f5 tc">Tel: 01473 263827 · Email: hub@suffolklibraries.co.uk · Address: The Carnegie Room, Ipswich County Library, Northgate Street, Ipswich IP1 3DE</p>

	<p class="tc"><em>Supporting Suffolk’s aspiring entrepreneurs, business owners and creative minds</em></p>

	<p class="tc mb3 mb5-ns"><a class="pure-button pure-button-primary" href="https://uk.bookingbug.com/home/45066-Enterprise-+-Innovation-Hub">Book a space, machine or advisor →</a></p>

	<div class="custom-narrow-width">

		<section class="{% include /c/generic-panel.html %} mb3 mb5-ns">

			<h1 class="{% include /c/content-block-title.html %} tc">Code club</h1>

			<div class="custom-prose">

				<p><img src="/images/article/code-club.jpg" alt="Children at laptops"></p>

				<p class="mt2">Learn coding learn while using your imagination in creative projects. Bring your own laptop or use one of our library Chromebooks (tablets aren't suitable). For children aged 6-14, accompanied by an adult. Call <strong>01473 263827</strong> or email <strong>hub@suffolklibraries.co.uk</strong> for info.</p>

			</div>

		</section>

		<section class="{% include /c/content-block.html %}">

			<h1 class="{% include /c/content-block-title.html %} tc">Business advice</h1>

			<p class="custom-prose">We have two <a href="http://www.newangliagrowthhub.co.uk/">New Anglia Growth Hub</a> advisors working on a fortnightly, rotating basis. They advise on topics including exporting, digital support, intellectual property, finance, grants and vouchers and starting up a business.</p>

			<article class="cf {% include /c/content-block.html %}">

				<div class="custom-g-r5">

					<h1 class="{% include /c/sub-head.html %}">Kurt Scheepers</h1>

					<p class="mt2">Kurt is a business growth adviser for south-east Suffolk and specialises in grant funding and business management.</p>

				</div>

				<div class="custom-g-r1 custom-g-nm">

					<p class="tc ma0 mb2"><img src="/images/article/kurt-scheepers.jpg" class="br-100" alt="Kurt Scheepers" /></p>

				</div>

			</article>

			<article class="cf {% include /c/content-block.html %}">

				<div class="custom-g-r5">

					<h1 class="{% include /c/sub-head.html %}">William Millar</h1>

					<p class="mt2">William is a business growth advisor for Suffolk and specialises in innovation and digital.</p>

				</div>

				<div class="custom-g-r1 custom-g-nm">

					<p class="tc ma0 mb2"><img src="/images/article/william-millar.jpg" class="br-100" alt="William Millar" /></p>

				</div>

			</article>

			<p class="tc mt0"><a class="pure-button pure-button-primary" href="https://uk.bookingbug.com/home/45066-Enterprise-+-Innovation-Hub">Book an advisor &rarr;</a></p>

		</section>

		<section class="{% include /c/generic-panel.html %}">

			<h1 class="{% include /c/content-block-title.html %} tc">MakerSpace</h1>

			<p class="tc"><img src="http://suffolklibraries.co.uk/wp-content/uploads/2015/11/featured-hub-makerspace.jpg" alt="MakerSpace" /></p>

			<p class="custom-prose">Situated in the Lab, our MakerSpace is an open, friendly public space to design and create. We offer a range of equipment including two 3D printers, a 3D scanner, two computer coding kits and two professional sewing machines.</p>

			<p class="custom-prose"><strong><a href="/branches/hub/makerspace">Find out about our facilities in the MakerSpace</a></strong>.</p>

			<p class="custom-prose">Are you experienced with fashion and textile design, coding or 3D printers? We’re looking for skilled and enthusiastic volunteers to help support our newly built MakerSpace. Contact us at hub@suffolklibraries.co.uk or call 01473 263827 to get involved!</p>

			<p class="tc"><a class="pure-button pure-button-primary" href="https://uk.bookingbug.com/home/45066-Enterprise-+-Innovation-Hub">Book a machine &rarr;</a></p>

		</section>

		<section class="{% include /c/content-block.html %}">

			<h1 class="{% include /c/content-block-title.html %} tc">Spaces for hire</h1>

			<div class="cf">

				<div class="custom-g-l3">

					<p>Located on the second floor of Ipswich County Library, the Carnegie Room offers a variety of spaces perfect for business meeting and presentations.

					</p>The room has free WiFi, power points and a kitchen.

				</div>

				<div class="custom-g-l3 custom-g-nm">

					<table class="pure-table">
						<thead>
						<tr>
						<th>Day</th>
						<th>Hours</th>
						</tr>
						</thead>
						<tbody>
						<tr>
						<td>Monday</td>
						<td>0900 - 1800</td>
						</tr>
						<tr>
						<td>Tuesday</td>
						<td>0900 - 1900</td>
						</tr>
						<tr>
						<td>Wednesday</td>
						<td>0900 - 1800</td>
						</tr>
						<tr>
						<td>Thursday</td>
						<td>0900 - 1800</td>
						</tr>
						<tr>
						<td>Friday</td>
						<td>0900 - 1900</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>0830 - 1700</td>
						</tr>
						<tr>
						<td>Sunday</td>
						<td>1000 - 1600</td>
						</tr>
						</tbody>
					</table>

				</div>

			</div>

			<section class="{% include /c/content-block.html %} pt2 bt b--light-gray">

				<h1 class="{% include /c/sub-head.html %} tc">Carnegie Room</h1>

				<div class="cf">

					<div class="custom-g-l3">

						<p>You can hire the entire Carnegie Room by contacting hub@suffolklibraries.co.uk</p>

					</div>

					<div class="custom-g-l3 custom-g-nm">

						<table class="pure-table">
							<thead>
							<tr>
							<th>Private hire - Advance booking (per hour)</th>
							</tr>
							</thead>
							<tbody>
							<tr>
							<td>£45.60</td>
							</tr>
							</tbody>
						</table>

					</div>

				</div>

			</section>

			<section class="{% include /c/content-block.html %} pt2 bt b--light-gray">

				<h1 class="{% include /c/sub-head.html %} tc">Lounge &amp; presentation suite</h1>

				<p><img src="http://suffolklibraries.co.uk/wp-content/uploads/2015/11/featured-hub-lounge.jpg" alt="Lounge" /></p>

				<div class="cf">

					<div class="custom-g-r3">

						<p>The Lounge is packed with sofas and coffee tables, plus a dedicated hotdesk area. Also comes with a fully equipped presentation suite seating an audience of 15.</p>

					</div>

					<div class="custom-g-r3 custom-g-nm">

						<table class="pure-table">
							<thead>
							<tr>
							<th>Private hire - Advance booking (per hour)</th>
							<th>Private hire - Walk-in booking (per hour)</th>
							</tr>
							</thead>
							<tbody>
							<tr>
							<td>£27.60</td>
							<td>£29.60</td>
							</tr>
							</tbody>
						</table>

					</div>

				</div>

			</section>

			<section class="{% include /c/content-block.html %} pt2 bt b--light-gray">

				<h1 class="{% include /c/sub-head.html %} tc">Pods</h1>

				<p><img src="http://suffolklibraries.co.uk/wp-content/uploads/2015/11/featured-hub-pod.jpg" alt="Pods" /></p>

				<div class="cf">

					<div class="custom-g-l3">

						<p>Two glass rooms ideal for private meetings. Each pod contains a round table, four seats and flipcharts.</p>

					</div>

					<div class="custom-g-l3 custom-g-nm">

						<table class="pure-table">
						<thead>
						<tr>
						<th>Advance booking (per hour)</th>
						<th>Walk-in booking (per hour)</th>
						</tr>
						</thead>
						<tbody>
						<tr>
						<td>£4.80</td>
						<td>£6.80</td>
						</tr>
						</tbody>
						</table>

					</div>

				</div>

			</section>

			<section class="{% include /c/content-block.html %} pt2 bt b--light-gray">

				<h1 class="{% include /c/sub-head.html %} tc">Lab</h1>

				<p><img src="http://suffolklibraries.co.uk/wp-content/uploads/2015/11/featured-hub-lab.jpg" alt="Lab" /></p>

				<div class="cf">

					<div class="custom-g-r3">

						<p>Meeting space with whiteboard, table and 8 chairs.</p>

					</div>

					<div class="custom-g-r3 custom-g-nm">

						<table class="pure-table">
						<thead>
						<tr>
						<th>Advance booking (per hour)</th>
						<th>Walk-in booking (per hour)</th>
						</tr>
						</thead>
						<tbody>
						<tr>
						<td>£18</td>
						<td>£20</td>
						</tr>
						</tbody>
						</table>

					</div>

				</div>

			</section>

			<p class="tc"><a class="pure-button pure-button-primary" href="https://uk.bookingbug.com/home/45066-Enterprise-+-Innovation-Hub">Book a space →</a></p>

		</section>

	</div>

	<footer class="{% include /c/content-block.html %} pt2 bt b--light-gray">

		<h1 class="{% include /c/content-block-title.html %} tc">Partners</h1>

		<ul class="cf list ma0 pa0 mb2 tc custom-prose">

			<li class="custom-g-l1"><a class="custom-no-underline" href="http://www.suffolkchamber.co.uk/"><img src="/images/article/scc-small.jpg" alt="Suffolk Chamber of Commerce" /></a></li>
			<li class="custom-g-l1"><a class="custom-no-underline" href="http://www.newangliagrowthhub.co.uk/"><img src="/images/article/nagh-small.jpg" alt="New Anglia Growth Hub" /></a></li>
			<li class="custom-g-l1"><a class="custom-no-underline" href="http://www.eehub.co.uk/"><img src="/images/article/eehub-small.jpg" alt="Eastern Enterprise Hub" /></a></li>
			<li class="custom-g-l1"><a class="custom-no-underline" href="http://www.ucs.ac.uk/"><img src="/images/article/ucs-small.jpg" alt="UCS" /></a></li>
			<li class="custom-g-l1"><a class="custom-no-underline" href="http://www.ipswich.gov.uk/"><img src="/images/article/ibc-small.jpg" alt="Ipswich Borough Council" /></a></li>

		</ul>

		<p class="gray tc"><small>FCA Registration Number IP031542</small></p>

	</footer>

</article>
