---
layout: default
title: Literacy, Books and Reading Team for Schools
breadcrumb: schools-literacy
hnav: lbarts
---

<h1 class="page-title tc">Literacy Books and Reading Team for Schools</h1>

<section class="{% include /c/generic-panel.html %}">

    <div class="cf">

        <div class="custom-g-l4">

            <h1 class="f4 f3-ns ma0 pa0 mb2 custom-lh-title">Supporting reading for pleasure in schools</h1>

            <div class="custom-prose">

                <p class="ma0">We support your students' reading for pleasure through resource loans and expert advice. We offer a fully supported service where we choose resources for you, or you can choose your own resources with our self-service option.</p>

                <ul>
                 	<li><a href="/schools-literacy/schools/curriculum-topic-loan/">Make a curriculum topic loan</a></li>
                 	<li><a href="/schools-literacy/schools/artefact-loan/">Make an artefact loan</a></li>
                 	<li><a href="/schools-literacy/schools/reading-for-pleasure-loan/">Make a reading for pleasure loan</a></li>
                 	<li>Make a stationery order: <a href="/assets/doc/lbrts-stationery-order-form-2015.doc">Word format form</a> · <a href="/assets/pdf/lbrts-stationery-order-form-2015.pdf">PDF format form</a></li>
                </ul>

            </div>

        </div>

        <div class="custom-g-l2 custom-g-nm">

            <img src="/images/article/mildenhall-300.jpg" class="custom-br-50" alt="School children with books in a library">

        </div>

    </div>

</section>

<div class="custom-narrow-width custom-prose">

    <section class="cf {% include /c/content-block.html %}">

        <div class="custom-g-r4">

            <h1><a href="/schools-literacy/schools/curriculum-support/">Curriculum support</a></h1>

            <p>Book and resource loans, guided and group reading sets, artefact loans, KS5 class library cards, dual and foreign language for EAL learners, large print titles.</p>

        </div>

        <div class="custom-g-r2 custom-g-nm">

            <img src="/images/article/castle-200.jpg" class="custom-br-50" alt="LBaRTS books">

        </div>

    </section>

    <section class="cf {% include /c/content-block.html %}">

        <div class="custom-g-l4">

            <h1><a href="/schools-literacy/schools/staff-training-and-cpd">Staff training and CPD</a></h1>

            <p>Book support groups, primary staff forums, county training days and secondary librarian meetings.</p>

        </div>

        <div class="custom-g-r2 custom-g-nm">

            <img src="/images/article/ardagh-200.jpg" class="custom-br-50" alt="LBaRTS books">

        </div>

    </section>

    <section class="cf {% include /c/content-block.html %}">

        <div class="custom-g-r4">

            <h1><a href="/schools-literacy/schools/advisory-librarian-support">Advisory librarian support</a></h1>

            <p>Our advisory librarians bring over 80 years experience to library design and layout support, computer system set up, skills sessions with students and more.</p>

        </div>

        <div class="custom-g-r2 custom-g-nm">

            <img src="/images/article/lbrts.jpg" class="custom-br-50" alt="The LBaRTS team">

        </div>

    </section>

    <section class="cf {% include /c/content-block.html %}">

        <div class="custom-g-l4">

            <h1><a href="/schools-literacy/schools/student-awards-and-events">Awards and events</a></h1>

            <p>Book mastermind, book promotion events, author visits and Reading Stars award.</p>

        </div>

        <div class="custom-g-l2 custom-g-nm">

            <img src="/images/article/mastermind-200.jpg" class="custom-br-50" alt="Schoolchildren with an award">

        </div>

    </section>

    <section class="cf {% include /c/content-block.html %}">

        <div class="custom-g-r4">

            <h1><a href="/schools/online-resources">Online resources</a></h1>

            <p>Lesson plans and classroom activities, advice on running reading hacks, and interviews with children's authors for use by teachers.</p>

        </div>

        <div class="custom-g-r2 custom-g-nm">

            <img src="/images/featured/featured-child-on-computer.jpg" class="custom-br-50" alt="A child on a computer">

        </div>

    </section>

</div>
