---
layout: sidebar-right
title: Online resources
breadcrumb: schools
---

<div class="custom-narrow-width custom-prose">

    <section class="cf {% include /c/content-block.html %}">

        <div class="custom-g-r4">

            <h1><a href="/schools-literacy/schools/online-resources/classroom-activities/">Classroom activities</a></h1>

            <p>Lesson plans, supplementary activities and short activities designed to spark pupils' interest in reading.</p>

        </div>

        <div class="custom-g-r2 custom-g-nm">

            <img src="/images/featured/featured-classroom-activities.jpg" class="custom-br-50" alt="Story cube activity">

        </div>

    </section>

    <div class="custom-narrow-width custom-prose">

        <section class="cf {% include /c/content-block.html %}">

            <div class="custom-g-r4">

                <h1><a href="/schools-literacy/schools/online-resources/how-to-reading-hack/">How to run a reading hack</a></h1>

                <p>Learn how to run a reading hack by following the activities of our reading hack group the 'Beccles Book Bunnies'.</p>

            </div>

            <div class="custom-g-r2 custom-g-nm">

                <img src="/images/featured/featured-how-to-reading-hack.jpg" class="custom-br-50" alt="An image from the Beccles Bunnies reading hack">

            </div>

        </section>

        <div class="custom-narrow-width custom-prose">

            <section class="cf {% include /c/content-block.html %}">

                <div class="custom-g-r4">

                    <h1><a href="/schools-literacy/schools/online-resources/beyond-the-book-interviews/">Interviews with children's authors</a></h1>

                    <p>Our collection of Beyond The Book interviews can introduce you to new books and authors and be used as teaching resources.</p>

                </div>

                <div class="custom-g-r2 custom-g-nm">

                    <img src="/images/article/beyond-the-book-logo.jpg" class="custom-br-50" alt="Beyond the Book Logo">

                </div>

            </section>
