---
layout: default
title: Schools
breadcrumb: home
hnav: lbarts
---

<h1 class="{% include /c/page-title.html %} tc">Literacy, Books and Reading Team for Schools</h1>

<div class="custom-narrow-width">

  <section class="{% include /c/generic-panel.html %}">

            <h1 class="f4 f3-ns ma0 pa0 mb2 custom-lh-title">Order forms</h1>

            <div class="custom-prose">

                  <ul>
                 	<li><a href="/schools/curriculum-topic-loan/">Make a topic box loan</a></li>
                 	<li><a href="/schools/reading-for-pleasure-loan/">Make a classroom collection loan</a></li>
                 	<li>Make a stationery order: <a href="/assets/doc/lbrts-stationery-order-form-2015.doc">Word format form</a> · <a href="/assets/pdf/lbrts-stationery-order-form-2015.pdf">PDF format form</a></li>
                </ul>

            </div>

  </section>

</div>

<div class="custom-narrow-width custom-prose">
  
  <p class="mt2">The Library, Books and Reading Team for Schools offers specialist knowledge and experience to support leisure and curriculum reading in schools across all sectors.</p>

  <p class="mt2">Our services include resources, advice and guidance, training and special events. Our 'menu' system provides value, choice and flexibility as you can pick exactly what your school requires.</p>

  <p class="mt2">For many of our services, we offer 'supported' loans, where we provide, select and deliver books to your school, and 'self-service' loans, where your school is issued with a library card you can use at any Suffolk Library. We offer annual rolling contracts and pay-as-you-go services.</p>

</div>

<div class="custom-narrow-width custom-prose">

    <section class="cf {% include /c/content-block.html %}">

        <div class="custom-g-r4">

            <h1><a href="/schools/curriculum-support/">Curriculum support</a></h1>

            <p>Book and resource loans, guided and group reading sets, artefact loans, KS5 class library cards, dual and foreign language for EAL learners, large print titles.</p>

        </div>

        <div class="custom-g-r2 custom-g-nm">

            <img src="/images/article/castle-200.jpg" class="custom-br-50" alt="LBaRT books">

        </div>

    </section>

    <section class="cf {% include /c/content-block.html %}">

        <div class="custom-g-l4">

            <h1><a href="/schools/training-opportunities">Training Opportunities</a></h1>

            <p>Book support groups, primary staff forums, county training days and secondary librarian meetings.</p>

        </div>

        <div class="custom-g-r2 custom-g-nm">

            <img src="/images/article/ardagh-200.jpg" class="custom-br-50" alt="LBaRT books">

        </div>

    </section>

    <section class="cf {% include /c/content-block.html %}">

        <div class="custom-g-r4">

            <h1><a href="/schools/advisory-librarian-support">Advisory librarian support</a></h1>

            <p>Our advisory librarians bring over 80 years experience to library design and layout support, computer system set up, skills sessions with students and more.</p>

        </div>

        <div class="custom-g-r2 custom-g-nm">

            <img src="/images/article/lbrts.jpg" class="custom-br-50" alt="The LBaRT team">

        </div>

    </section>

    <section class="cf {% include /c/content-block.html %}">

        <div class="custom-g-l4">

            <h1><a href="/schools/student-awards-and-events">Awards and events</a></h1>

            <p>Book mastermind, book promotion events, author visits and Reading Stars award.</p>

        </div>

        <div class="custom-g-l2 custom-g-nm">

            <img src="/images/article/mastermind-200.jpg" class="custom-br-50" alt="Schoolchildren with an award">

        </div>

    </section>

    <section class="cf {% include /c/content-block.html %}">

        <div class="custom-g-r4">

            <h1><a href="/schools/online-resources">Online resources</a></h1>

            <p>Lesson plans and classroom activities, advice on running reading hack groups, and interviews with children's authors for use by teachers.</p>

        </div>

        <div class="custom-g-r2 custom-g-nm">

            <img src="/images/featured/featured-child-on-computer-200.jpg" class="custom-br-50" alt="A child on a computer">

        </div>

    </section>

</div>
