---
layout: full-width
title: Regular older people's activities
breadcrumb: events
jquery: true
dynatable: true
---

<p>We run regular groups for older people and their families and carers. You can just drop in for a chat or join theatre groups, do arts and crafts and find out about local history. We also offer advice and information.</p>

<p>You can also check out our <a href="/events-activities/upcoming">special events</a>.</p>

{% include dynatable-library-list.html %}

<table id="search-table" class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th data-dynatable-column="library">Library</th>
        <th data-dynatable-column="activity">Activity</th>
        <th data-dynatable-column="day">Day</th>
        <th data-dynatable-column="times">Times</th>
      </tr>
    </thead>
  <tbody>
    {% assign recurrents = site.recurrents | sort: 'recurrent-location'%}
    {% for recurrent in recurrents %}
    {% if recurrent.recurrent-category == 'older' %}
    <tr>
      <td>{{ recurrent.recurrent-location-display-name }}</td>
      <td><a href="{{ recurrent.recurrent-location-display-url }}">{{ recurrent.recurrent-title }}</a></td>
      <td>{{ recurrent.recurrent-day }}</td>
      <td>{{ recurrent.recurrent-times }} </td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

<script>
$('#search-table').dynatable({
  features: {
    paginate: false,
    recordCount: false,
    sorting: false
  },
  inputs: {
    queries: $('#search-library')
  }
});
</script>

<h2>Home Library Service reading groups</h2>

<p>Monthly reading groups aimed at older people, including users of the At Home Library Service and their carers, families or volunteer visitors, offering a stimulating programme of topics to discuss and read around. If you require use of the free transport then contact the library at least one week before the event. At Home Library Service Reading Groups are held at the following Suffolk libraries:</p>

<ul>
  <li><a href="/libraries/ipswich-county-library/">Ipswich County Library</a></li>
  <li><a href="/libraries/lowestoft-library/">Lowestoft Library</a></li>
</ul>
