---
layout: full-width
title: "Older people's activities"
breadcrumb: events
---
<h2>Meetings for older people</h2>

<p>We run groups for older people and their families and carers. You can just drop in for a chat or join theatre groups, do arts and crafts and find out about local history. We also offer advice and information.</p>

<table class="pure-table">
  <thead>
    <tr>
      <th>Library</th>
      <th>Activity</th>
      <th>Day</th>
      <th>Times</th>
    </tr>
  </thead>
  <tbody>
    {% assign recurrents = site.recurrents | sort: 'recurrent-location'%}
    {% for recurrent in recurrents %}
    {% if recurrent.recurrent-category == 'older' %}
    <tr>
      <td><a href="{{ recurrent.recurrent-location-display-url }}">{{ recurrent.recurrent-location-display-name }}</a></td>
      <td>{{ recurrent.recurrent-title }}</td>
      <td>{{ recurrent.recurrent-day }}</td>
      <td>{{ recurrent.recurrent-times }} </td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

<h2>Home Library Service reading groups</h2>

<p>Monthly reading groups aimed at older people, including users of the At Home Library Service and their carers, families or volunteer visitors, offering a stimulating programme of topics to discuss and read around. If you require use of the free transport then contact the library at least one week before the event. At Home Library Service Reading Groups are held at the following Suffolk libraries:</p>

<ul>
  <li><a href="/branches/ipswich-county-library/">Ipswich County Library</a></li>
  <li><a href="/branches/lowestoft-library/">Lowestoft Library</a></li>
</ul>
