---
layout: default
title: Libraries
breadcrumb: home
sidebar: branches
map: true
jquery: true
---
<h1 class="{% include /c/page-title.html %}">Libraries</h1>

<section>

    <h1 class="dn">Map</h1>

    {% include map.html %}

</section>

<section class="custom-prose custom-lh-copy pt2 pt4-ns" id="library-list">

    {% for branch in site.data.branches %}

        <article class="{% include /c/slot.html %}">

            <h1 class="{% include /c/slot-title.html %}"><a href="{{ branch.url }}">{{ branch.name }}</a></h1>

            <p class="{% include /c/page-meta.html %} mb0">{{ branch.address }} &middot; <a href="tel:{{ branch.phone }}">{{ branch.phone }}</a></p>

            {% if branch.room-hire-text %}<p class="{% include /c/page-meta.html %} mt0">Room hire: <a href="{{ branch.room-hire-url }}">{{ branch.room-hire-text}}</a></p>{% endif %}

        </article>

    {% endfor %}

</section>
