---
layout: default
title: Libraries
breadcrumb: home
sidebar: branches
map: true
jquery: true
---
<h1 class="{% include /c/page-title.html %}">Libraries</h1>

<div class="{% include /c/generic-panel.html %}">

    <p class="ma0 pa0 f6 custom-icon-info"><strong><a class="blue" href="/local/">Suffolk Libraries Local</a>:</strong> a new, pop-up library service starting March 16.</p>

</div>

<div class="cf">

    <div class="custom-g-l2">

        <section class="custom-lh-copy" id="library-list">

            <h1 class="dn">Libraries</h1>

            {% for library in site.libraries %}

                <article class="{% include /c/slot.html %}">

                    <h1 class="{% include /c/slot-title.html %}"><a class="blue" href="{{ library.branch-unique-id }}">{{ library.branch-name }}</a></h1>

                    <p class="{% include /c/page-meta.html %} mb0">{{ library.branch-address }}, {{ library.branch-post-code }} &middot; <a class="blue" href="tel:{{ branch.phone }}">{{ library.branch-tel }}</a></p>

                    {% if library.branch-room-hire %}<p class="{% include /c/page-meta.html %} mt0"><a class="blue" href="{{ library.branch-room-hire }}">Room hire details</a>.</p>{% endif %}

                </article>

            {% endfor %}

        </section>

    </div>

    <div class="custom-g-l4 custom-g-nm">

        <section class="pt1 bt b--light-gray">

            <h1 class="dn">Map</h1>

            {% include map.html %}

        </section>

    </div>

</div>
