{% if page.breadcrumb == 1 %}

    <div class="panel breadcrumb">

        <p><a class="icon icon-home" href="/">Home</a> &rarr; {{ page.title }}</p>

    </div>

{% elsif page.breadcrumb == 2 or page.event-start-date %}

    <div class="panel breadcrumb">

        <p><a class="icon icon-home" href="/">Home</a> &rarr; <a href="/events">Events</a> &rarr; {{ page.title }}</p>

    </div>

{% elsif page.breadcrumb == 3 or page.branch-name %}

    <div class="panel breadcrumb">

        <p><a class="icon icon-home" href="/">Home</a> &rarr; <a href="/branches">Branches</a> &rarr; {{ page.title }}</p>

    </div>

{% endif %}
