<p class="mb0 b">Filter by library:</p>

<div class="pure-form">

    <select class="w-50-ns" id="search-library" name="library">
        <option></option>
        <option>Aldeburgh Library</option>
        <option>Beccles Library</option></option>
        <option>Brandon Library</option>
        <option>Broomhill Library</option>
        <option>Bungay Library</option>
        <option>Bury St Edmunds Library</option>
        <option>Capel St Mary Library</option>
        <option>Chantry Library</option>
        <option>Clare Library</option>
        <option>Debenham Library</option>
        <option>Elmswell Library</option>
        <option>Eye Library</option>
        <option>Felixstowe Library</option>
        <option>Framlingham Library</option>
        <option>Gainsborough Community Library</option>
        <option>Glemsford Library</option>
        <option>Great Cornard Library</option>
        <option>Hadleigh Library</option>
        <option>Halesworth Library</option>
        <option>Haverhill Library</option>
        <option>Ipswich County Library</option>
        <option>Ixworth Library</option>
        <option>Kedington Library</option>
        <option>Kesgrave Library</option>
        <option>Kessingland Library</option>
        <option>Lakenheath Library</option>
        <option>Lavenham Library</option>
        <option>Leiston Library</option>
        <option>Long Melford Library</option>
        <option>Lowestoft Library</option>
        <option>Mildenhall Library</option>
        <option>Needham Market Library</option>
        <option>Newmarket Library</option>
        <option>Oulton Broad Library</option>
        <option>Rosehill Library</option>
        <option>Saxmundham Library</option>
        <option>Southwold Library</option>
        <option>Stoke Library</option>
        <option>Stowmarket Library</option>
        <option>Stradbroke Library</option>
        <option>Sudbury Library</option>
        <option>Thurston Library</option>
        <option>Wickham Market Library</option>
        <option>Woodbridge Library</option>
    </select>

</div>
