        <footer id="footer" class="pa2 pt3 pa3-ns pt4-ns bg-near-black white">

            <div class="custom-max-width">

                <div class="cf mb4">

                    <div class="custom-g-l2 mb4 f6 f5-ns">

                        <section class="pb4">

                            <h1 class="{% include /c/nib-title.html %}">Do it online</h1>

                            <ul class="list pa0 ma0">

                                <li class="mb2 mb0-ns"><a href="https://suffolk.spydus.co.uk" class="link aqua">Search &amp; reserve</a></li>
                                <li class="mb2 mb0-ns"><a href="https://suffolk.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/LOGINB" class="link aqua">Login &amp; renew</a></li>
                                <li class="mb2 mb0-ns"><a class="link aqua" href="/elibrary">eLibrary</a></li>
                                <li class="mb2 mb0-ns"><a href="#" class="link aqua">Apply for or renew a card</a></li>

                            </ul>

                        </section>

                    </div>

                    <div class="custom-g-l2 mb4 f6 f5-ns">

                        <section class="pb4">

                            <h1 class="{% include /c/nib-title.html %}">Contact us</h1>

                            <ul class="list pa0 ma0">

                                <li class="mb2 mb0-ns"><a href="tel:01473263838" class="link aqua">01473 263838</a></li>
            					<li class="mb2 mb0-ns"><a href="mailto:help@suffolklibraries.co.uk" class="link aqua">help@suffolklibraries.co.uk</a></li>

                            </ul>

                        </section>

                        <section class="pb4">

                            <h1 class="{% include /c/nib-title.html %}">Social media</h1>

                            <ul class="list pa0 ma0">

            					<li class="mb2 mb0-ns"><a href="http://twitter.com/suffolklibrary" class="link aqua">Twitter</a></li>
            					<li class="mb2 mb0-ns"><a href="http://facebook.com/suffolklibraries" class="link aqua">Facebook</a></li>
            					<li class="mb2 mb0-ns"><a href="https://instagram.com/suffolklibraries" class="link aqua">Instagram</a></li>
            					<li class="mb2 mb0-ns"><a href="http://eepurl.com/xIZ5D" class="link aqua">Email newsletter</a></li>

                            </ul>

                        </section>

                    </div>

                    <div class="custom-g-l2 custom-g-nm mb4 f6 f5-ns">

                        <section class="pb4">

                            <h1 class="{% include /c/nib-title.html %}">Sections</h1>

                            <ul class="list pa0 ma0">

                                <li class="mb2 mb0-ns"><a href="/elibrary" class="link aqua">eLibrary</a></li>
                                <li class="mb2 mb0-ns"><a href="/branches" class="link aqua">Branches</a></li>
                                <li class="mb2 mb0-ns"><a href="/mobiles-home" class="link aqua">Mobile &amp; home service</a></li>
                                <li class="mb2 mb0-ns"><a href="/information-resources" class="link aqua">Research, study &amp; leisure resources</a></li>
                                <li class="mb2 mb0-ns"><a href="/new-suggestions" class="link aqua">New in &amp; ideas</a></li>
                                <li class="mb2 mb0-ns"><a href="/events-activities" class="link aqua">Events &amp activities</a></li>
                                <li class="mb2 mb0-ns"><a href="/health" class="link aqua">Mental health &amp; wellbeing</a></li>
                                <li class="mb2 mb0-ns"><a href="/schools-literacy" class="link aqua">Schools &amp; literacy</a></li>
                                <li class="mb2 mb0-ns"><a href="/hub" class="link aqua">Ipswich Enterprise + Innovation Hub</a></li>
                                <li class="mb2 mb0-ns"><a href="/news" class="link aqua">News</a></li>
                                <li class="mb2 mb0-ns"><a href="/blog" class="link aqua">Blog</a></li>
                                <li class="mb2 mb0-ns"><a href="/about" class="link aqua">About us</a></li>

                            </ul>

                        </section>

                    </div>

                </div> <!-- end .cf -->

                <section class="pb4 f6 f5-ns">

                    <h1 class="{% include /c/nib-title.html %}">Privacy &amp; cookies</h1>

                    <p class="ma0 light-gray">By using our site you agree to our use of cookies. Find out what cookies we use, how they affect you and how you can control them: <a href="/help/privacy-and-cookies/" class="aqua">our cookie policy</a>.</p>

                </section>

            </div>

        </footer>

    </body>

</html>
