        <footer id="footer" class="site-footer">

            <div class="bg bg-text bg-dark content-band">

                <div class="g-row">

                    <div class="g-w-col4 g-w-left">

                        <section class="nib-box">

                            <h1 class="nib-box-title">Contact us</h1>

                            <ul class="no-bullet">

                                <li><a href="tel:01473263838" class="h-nav-link icon icon-phone-white">01473 263838</a></li>
        						<li><a href="mailto:help@suffolklibraries.co.uk" class="h-nav-link icon icon-email-white">help@suffolklibraries.co.uk</a></li>
        						<li><a href="http://twitter.com/suffolklibrary" class="h-nav-link icon icon-twitter-white">Twitter</a></li>
        						<li><a href="http://facebook.com/suffolklibraries" class="h-nav-link icon icon-facebook-white">Facebook</a></li>

                            </ul>

                        </section>

                    </div>

                    <div class="g-w-col4 g-w-left">

                        <section class="nib-box">

                            <h1 class="nib-box-title">Do it online</h1>

                            <ul class="no-bullet">

                                <li><a href="https://suffolk.spydus.co.uk" class="icon icon-search-white">Search &amp; reserve</a></li>
                                <li><a href="https://suffolk.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/LOGINB" class="icon icon-lock-white">Login &amp; renew</a></li>
                                <li><a class="icon icon-tablet-white" href="/elibrary">eLibrary</a></li>
                                <li><a href="#" class="icon icon-card-white">Apply for or renew a card</a></li>


                            </ul>

                        </section>

                    </div>

                    <div class="g-w-col4 g-w-left">

                        <section class="nib-box">

                            <h1 class="nib-box-title">Privacy &amp; cookies</h1>

                            <p>By using our site you agree to our use of cookies. Find out what cookies we use, how they affect you and how you can control them.</p>

                        </section>

                        <section class="nib-box">

                            <h1 class="nib-box-title">Test layout pages</h1>

                            <ul>

                                <li><a href="/example-layouts/example-sidebar-left">Example sidebar left</a></li>
                                <li><a href="/example-layouts/example-sidebar-right">Example sidebar right</a></li>
                                <li><a href="/example-layouts/example-article-full">Example full width page</a></li>
                                <li><a href="/example-layouts/example-article-full-narrow">Example full width page with narrow inner</a></li>

                            </ul>

                        </section>

                        <section class="nib-box">

                            <h1 class="nib-box-title">Examples</h1>

                            <ul>

                                <li><a href="/branches/lowestoft-library.html">Lowestoft Library</a></li>
                                <li><a href="/events/a-past-event.html">A past event</a></li>
                                <li><a href="/events/a-test-event.html">A test event</a></li>

                            </ul>

                        </section>

                    </div>

                </div>

            </div>

        </footer>

    </body>

</html>
