        <footer id="footer" class="pa2 pt3 pa3-ns pt4-ns bg-near-black white">

            <div class="custom-max-width">

                <div class="cf mb4">

                    <div class="custom-g-l2 mb4 f6 f5-ns">

                        <section class="pb4">

                            <h1 class="{% include /c/nib-title.html %}">Do it online</h1>

                            <ul class="list pa0 ma0">

                                <li class="mb2 mb0-ns"><a href="https://suffolk.spydus.co.uk" class="link aqua">Search &amp; reserve</a></li>
                                <li class="mb2 mb0-ns"><a href="https://suffolk.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/LOGINB" class="link aqua">Login &amp; renew</a></li>
                                <li class="mb2 mb0-ns"><a class="link aqua" href="/elibrary">eLibrary</a></li>
                                <li class="mb2 mb0-ns"><a href="https://suffolk.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/JOIN" class="link aqua">Apply for a card</a></li>

                            </ul>

                        </section>

                    </div>

                    <div class="custom-g-l2 mb4 f6 f5-ns">

                        <section class="pb4">

                            <h1 class="{% include /c/nib-title.html %}">Contact us</h1>

                            <ul class="list pa0 ma0">

                                <li class="mb2 mb0-ns"><a href="tel:01473263838" class="link aqua">01473 263838</a></li>
            					<li class="mb2 mb0-ns"><a href="mailto:help@suffolklibraries.co.uk" class="link aqua">help@suffolklibraries.co.uk</a></li>

                            </ul>

                        </section>

                        <section class="pb4">

                            <h1 class="{% include /c/nib-title.html %}">Social media</h1>

                            <ul class="list pa0 ma0">

            					<li class="mb2 mb0-ns"><a href="http://twitter.com/suffolklibrary" class="link aqua">Twitter</a></li>
            					<li class="mb2 mb0-ns"><a href="http://facebook.com/suffolklibraries" class="link aqua">Facebook</a></li>
            					<li class="mb2 mb0-ns"><a href="https://instagram.com/suffolklibraries" class="link aqua">Instagram</a></li>
            					<li class="mb2 mb0-ns"><a href="/newsletter" class="link aqua">Email newsletter</a></li>

                            </ul>

                        </section>

                    </div>

                    <div class="custom-g-l2 custom-g-nm mb4 f6 f5-ns">

                        <nav class="pb4" id="footer-nav">

                            <h1 class="{% include /c/nib-title.html %}">Sections</h1>

                            <ul class="list pa0 ma0">

                                <li class="mb2 mb0-ns"><a href="/elibrary" class="link aqua">eLibrary</a></li>
                                <li class="mb2 mb0-ns"><a href="/libraries" class="link aqua">Libraries</a></li>
                                <li class="mb2 mb0-ns"><a href="/mobiles-home" class="link aqua">Mobile &amp; home service</a></li>
                                <li class="mb2 mb0-ns"><a href="/help" class="link aqua">Help using the service</a></li>
                                <li class="mb2 mb0-ns"><a href="/information-resources/" class="link aqua">Research, study &amp; leisure resources</a></li>
                                <li class="mb2 mb0-ns"><a href="/new-suggestions" class="link aqua">New in &amp; ideas</a></li>
                                <li class="mb2 mb0-ns"><a href="/events-activities" class="link aqua">Events &amp activities</a></li>
                                <li class="mb2 mb0-ns"><a href="/health" class="link aqua">Mental health &amp; wellbeing</a></li>
                                <li class="mb2 mb0-ns"><a href="/schools-literacy" class="link aqua">Schools &amp; literacy</a></li>
                                <li class="mb2 mb0-ns"><a href="/hub" class="link aqua">Ipswich Enterprise + Innovation Hub</a></li>
                                <li class="mb2 mb0-ns"><a href="/news" class="link aqua">News</a></li>
                                <li class="mb2 mb0-ns"><a href="/blog" class="link aqua">Blog</a></li>
                                <li class="mb2 mb0-ns"><a href="/about" class="link aqua">About us</a></li>
                                <li class="mb2 mb0-ns"><a href="/about/jobs" class="link aqua">Jobs</a></li>

                            </ul>

                        </nav>

                    </div>

                </div> <!-- end .cf -->

                <section class="pb4 f6 f5-ns">

                    <h1 class="{% include /c/nib-title.html %}">Privacy &amp; cookies</h1>

                    <p class="ma0 light-gray">By using our site you agree to our use of cookies. Find out what cookies we use, how they affect you and how you can control them: <a href="/help/privacy-and-cookies/" class="aqua">our cookie policy</a>.</p>

                </section>

            </div>

        </footer>

        {% include scripts.html %}

        {% if page.map %}

        <script src="/js/jquery.address.js"></script>
        <script src="/js/sl_maps_lib.js"></script>
        <script>
          //<![CDATA[
            $(window).resize(function () {
              var h = $(window).height(),
                offsetTop = 105; // Calculate the top offset

              $('#map_canvas').css('height', (h - offsetTop));
            }).resize();

            $(function() {
              var myMap = new MapsLib({
                fusionTableId:      "1VaywTis_CDTsYqkFwVnCW3ZJ66mWSvEpapopkIZ3",
                googleApiKey:       "AIzaSyCzv2ep-hLeNxtPLTejxwBYmqZgXbE6faE",
                locationColumn:     "Address",
                map_center:         [52.188902, 0.997712],
                locationScope:      "suffolk",
                searchRadius:       8047,
                defaultZoom:        9,
                addrMarkerImage:    "/images/icons/blue-pushpin.png"
              });

              var autocomplete = new google.maps.places.Autocomplete(document.getElementById('search_address'));

              $(':checkbox').click(function(){
                myMap.doSearch();
              });

              $(':radio').click(function(){
                myMap.doSearch();
              });

              $('#search_radius').change(function(){
                myMap.doSearch();
              });

              $('#search-button').click(function(){
                myMap.doSearch();
              });

              $('#find_me').click(function(){
                myMap.findMe();
                return false;
              });

              $('#reset').click(function(){
                myMap.reset();
                return false;
              });


            });
          //]]>
        </script>

        {% endif %}

        {% if page.parsley %}

        <script>
            $('#form').parsley();
        </script>

        {% endif %}

    </body>

</html>
