<!doctype html>

<html lang="en-gb">

<head>

	<!-- LEON GET RID OF THIS LINE ON LIVE -->
	<meta name='robots' content='noindex,nofollow' />

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
	<![endif]-->

    <link rel="stylesheet" href="/css/main.css">

    <title>{{ page.title}} &#8211; Suffolk Libraries</title>

	<script type="text/javascript">
		WebFontConfig = {
		google: { families: [ 'Source+Sans+Pro:400,400italic,600,700:latin' ] }
		};
		(function() {
		var wf = document.createElement('script');
		wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
		wf.type = 'text/javascript';
		wf.async = 'true';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(wf, s);
		})();
	</script>

</head>

<body>

	<div class="accessibility hide">

		<ul>

			<li><a href="#content">Skip to content</a></li>
			<li><a href="#nav">Skip to main navigation menu</a></li>
			<li><a href="#uni-nav">Skip to tools menu</a></li>

		</ul>

	</div>

	<header class="topbar topbar-purple clearfix" id="site-header">

		<div class="g-row">

			<nav id="uni-nav">

				<h1 class="topbar-title"><a rel="home" href="/"><span class="weight-semib">Suffolk</span> <span class="weight-normal">Libraries</span></a></h1>

				<ul class="h-nav topbar-nav clearfix">

					{% if page.title != 'Reserve, renew, branches and eLibrary' %}

						<li class="h-nav-item"><a href="https://suffolk.spydus.co.uk/" class="h-nav-link icon icon-search-white">Search &amp; reserve</a></li>
						<li class="h-nav-item"><a href="https://suffolk.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/LOGINB" class="h-nav-link icon icon-lock-white">Login &amp; renew</a></li>
						<li class="h-nav-item"><a href="https://suffolk.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/JOIN" class="h-nav-link icon icon-card-white">Apply for a card</a></li>
						<li class="h-nav-item"><a href="#" class="h-nav-link icon icon-info-white">Help</a></li>
						<li class="h-nav-item"><a href="#" class="h-nav-link icon icon-phone-white">Contact</a></li>

					{% else %}

						<li class="h-nav-item"><a href="tel:01473263838" class="h-nav-link icon icon-phone-white">01473 263838</a></li>
						<li class="h-nav-item"><a href="mailto:help@suffolklibraries.co.uk" class="h-nav-link icon icon-email-white">help@suffolklibraries.co.uk</a></li>
						<li class="h-nav-item"><a href="http://twitter.com/suffolklibrary" class="h-nav-link icon icon-twitter-white">Twitter</a></li>
						<li class="h-nav-item"><a href="http://facebook.com/suffolklibraries" class="h-nav-link icon icon-facebook-white">Facebook</a></li>

					{% endif %}

				</ul>

				<form id="searchform" class="pure-form pure-form-custom" action="<?php echo esc_url( home_url( '/' ) ); ?>" method="get">

					<input id="s" type="search" name="s" value=""></input>
					<input id="searchsubmit" type="submit" class="pure-button pure-button-custom" value="Search"></input>

				</form>

			</nav> <!-- end #uni-nav -->

		</div> <!-- end .g-row -->

	</header>
