<nav id="nav" class="pa2 pb0 pt2 pt3-ns ph5-ns custom-max-width tc">

    <ul class="list pa0 ma0">

    {% if page.hnav == 'lbarts' %}

        <li class="{% include /c/hnav-list-item.html %}"><a href="/schools" class="{% include /c/hnav-list-item-link.html %}">LBaRTS home</a></li>
        <li class="{% include /c/hnav-list-item.html %}"><a href="/schools/order-forms" class="{% include /c/hnav-list-item-link.html %}">Order forms</a></li>
        <li class="{% include /c/hnav-list-item.html %}"><a href="/schools/contact" class="{% include /c/hnav-list-item-link.html %}">Contact</a></li>
        <li class="{% include /c/hnav-list-item.html %}"><a href="/schools/about" class="{% include /c/hnav-list-item-link.html %}">About</a></li>
        <li class="{% include /c/hnav-list-item.html %}"><a href="/schools/costs" class="{% include /c/hnav-list-item-link.html %}">Costs</a></li>

    {% endif %}

    {% if page.hnav == 'hub' %}

        <li class="{% include /c/hnav-list-item.html %}"><a href="/libraries/hub" class="{% include /c/hnav-list-item-link.html %}">Hub home</a></li>
        <li class="{% include /c/hnav-list-item.html %}"><a href="https://uk.bookingbug.com/home/45066-Enterprise-+-Innovation-Hub" class="{% include /c/hnav-list-item-link.html %}">Book a space, room or advisor</a></li>
        <li class="{% include /c/hnav-list-item.html %}"><a href="/libraries/hub/makerspace" class="{% include /c/hnav-list-item-link.html %}">Makerspace</a></li>
        <li class="{% include /c/hnav-list-item.html %}"><a href="http://eepurl.com/bB1SUb" class="{% include /c/hnav-list-item-link.html %}">Newsletter</a></li>

    {% endif %}

    {% if page.hnav == 'bookfest' %}

        <li class="{% include /c/hnav-list-item.html %}"><a href="/events-activities/bookfest/" class="{% include /c/hnav-list-item-link.html %}">Bookfest home</a></li>
        <li class="{% include /c/hnav-list-item.html %}"><a href="/events-activities/bookfest/about" class="{% include /c/hnav-list-item-link.html %}">About</a></li>

    {% endif %}

    {% if page.hnav == 'genre' %}

        <li class="{% include /c/hnav-list-item.html %}"><a href="/new-suggestions/reviews/genre/crime-and-thriller/" class="{% include /c/hnav-list-item-link.html %}">Crime and thriller</a></li>
        <li class="{% include /c/hnav-list-item.html %}"><a href="/new-suggestions/reviews/genre/historical/" class="{% include /c/hnav-list-item-link.html %}">Historical fiction</a></li>
        <li class="{% include /c/hnav-list-item.html %}"><a href="/new-suggestions/reviews/genre/literary-fiction/" class="{% include /c/hnav-list-item-link.html %}">Literary fiction</a></li>
        <li class="{% include /c/hnav-list-item.html %}"><a href="/new-suggestions/reviews/genre/sci-fi" class="{% include /c/hnav-list-item-link.html %}">Science fiction</a></li>

    {% endif %}

    </ul>

</nav>
