<div class="ph2 ph3-ns pt2 pb0 center bg-navy white">

    <div class="custom-max-width">

        <section class="center-ns">

            <h1 class="f3 f2-ns pa0 ma0 mb2 tc-ns">Welcome to Suffolk Libraries</h1>

            <form id="searchform" class="custom-lh-title dark-gray f5 f4-ns pure-form mt2 mt0-ns mb2 tc-ns" action="/search" method="get">

                <input id="search" type="search" name="q" value="" class="mr0 w-80-ns"></input>
                <input id="searchsubmit" type="submit" value="Search" class="pa2 pure-button"></input>
                <input type="hidden" name="sitesearch" value="suffolklibraries.co.uk">

            </form>

        </section>

        <div class="cf">

            <section class="custom-g-r2">

                <div class="bg-light-gray dark-gray pa2 pa3-ns">

                    <h1 class="f3 ma0 pa0 mb1">Do it online</h1>

                    <ul class="list pa0 ma0 mb2 bb b--white">

                        <li class="pv2 bt b--white custom-icon-search"><a href="https://suffolk.spydus.co.uk/" class="blue">Search &amp; reserve for collection</a></li>
                        <li class="pv2 bt b--white custom-icon-lock"><a href="https://suffolk.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/LOGINB" class="blue">Login to your account</a></li>
                        <li class="pv2 bt b--white custom-icon-card"><a href="https://suffolk.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/JOIN" class="blue">Apply for a card</a></li>
                        <li class="pv2 bt b--white custom-icon-pc"><a href="/book-a-computer/" class="blue">Book a computer</a></li>

                    </ul>

                </div>

            </section>

            <section class="custom-g-l4 custom-g-nm">

                <div class="bg-light-gray dark-gray pa2 pa3-ns">

                    <h1 class="f3 ma0 pa0 mb1">Services</h1>

                    <div class="cf">

                        <div class="custom-g-l3">

                            <ul class="list pa0 ma0 bb-ns b--white">

                                <li class="bt b--white pv2"><a href="#" class="blue">eLibrary</a></li>
                                <li class="bt b--white pv2"><a href="#" class="blue">Libraries</a></li>
                                <li class="bt b--white pv2"><a href="#" class="blue">Mobiles &amp; home service</a></li>
                                <li class="bt b--white pv2"><a href="#" class="blue">Events &amp; activities</a></li>
                                <li class="bt b--white pv2"><a href="#" class="blue">Research, study &amp; leisure resources</a></li>
                                <li class="bt b--white pv2"><a href="#" class="blue">Schools</a></li>


                            </ul>

                        </div>

                        <div class="custom-g-l3 custom-g-nm">

                            <ul class="list pa0 ma0 mb2 mb0-ns bb b--white">

                                <li class="bt b--white pv2"><a href="#" class="blue">Children's information &amp; resources</a></li>
                                <li class="bt b--white pv2"><a href="#" class="blue">What's new</a></li>
                                <li class="bt b--white pv2"><a href="#" class="blue">Business</a></li>
                                <li class="bt b--white pv2"><a href="#" class="blue">Health &amp; wellbeing</a></li>
                                <li class="bt b--white pv2"><a href="#" class="blue">Jobs</a></li>
                                <li class="bt b--white pv2"><a href="#" class="blue">About us</a></li>

                            </ul>

                        </div>

                    </div>

                </div>

            </section>

        </div>

    </div>

</div>
