<div class="ph2 ph3-ns pt4-ns pb0 center bg-navy white custom-banner-image">

    <div class="custom-max-width">

        <div class="cf">

            <section class="custom-g-l3 pb2">

                <h1 class="f3 f2-ns ma0 pa0 custom-lh-title">Welcome to Suffolk Libraries</h1>

                <ul class="list ma0 pa0 f5 mb2">

                    <li class="pv1 pv0-ns dib-ns mr3-ns"><a href="tel:01473351249" class="white">01473 351249</a></li>
                    <li class="pv1 pv0-ns dib-ns"><a class="white" href="mailto:help@suffolklibraries.co.uk">help@suffolklibraries.co.uk</a></li>

                </ul>

                <form id="searchform" class="custom-lh-title dark-gray f5 pure-form mt2 mt0-ns" action="/search" method="get">

					<input id="search" type="search" name="q" value="" class="mr0 w-30 w-60-ns"></input>
					<input id="searchsubmit" type="submit" value="Search" class="pa2 pure-button"></input>
                    <input type="hidden" name="sitesearch" value="suffolklibraries.co.uk">

				</form>

            </section>

            <section class="custom-g-l3 custom-g-nm">

                <div class="bg-light-gray dark-gray pa2 pa3-ns">

                    <h1 class="f3 ma0 pa0 mb1">Do it online</h1>

                    <ul class="list pa0 ma0 mb2">

                        <li class="mb1 custom-icon-search"><a href="https://suffolk.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/BSEARCH" class="blue">Search &amp; reserve for collection</a></li>
                        <li class="mb1 custom-icon-lock"><a href="https://suffolk.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/LOGINB" class="blue">Login to your account</a></li>
                        <li class="mb1 custom-icon-card"><a href="https://suffolk.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/JOIN" class="blue">Apply for a card</a></li>
                        <li class="mb1 custom-icon-pc"><a href="/book-a-computer/" class="blue">Book a computer</a></li>

                    </ul>

                </div>

            </section>



        </div>

    </div>

</div>
