<div class="ph2 ph3-ns pt2 pb0 center bg-navy white">

    <div class="custom-max-width">

        <h1 class="f3 f2-ns pa0 ma0 mb2 tc-ns">Welcome to Suffolk Libraries</h1>

        <ul class="tl tc-ns list ma0 pa0 mb2 mb3-ns">

            <li class="dib-ns mh2-ns pv1 pv0-ns custom-icon-phone-white"><a class="white" href="tel:01473351249">01473 351249</a></li>
            <li class="dib-ns mh2-ns custom-icon-email-white"><a class="white" href="mailto:help@suffolklibraries.co.uk">help@suffolklibraries.co.uk</a></li>

        </ul>

        <div class="cf">

            <section class="custom-g-r2">

                <div class="bg-light-gray dark-gray pa2 pa3-ns">

                    <h1 class="f3 ma0 pa0 mb1">Do it online</h1>

                    <ul class="list pa0 ma0 mb2 bb b--white">

                        <li class="pv2 bt b--white custom-icon-search"><a href="https://suffolk.spydus.co.uk/" class="blue">Search &amp; reserve for collection</a></li>
                        <li class="pv2 bt b--white custom-icon-lock"><a href="https://suffolk.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/LOGINB" class="blue">Login to your account &amp; renew</a></li>
                        <li class="pv2 bt b--white custom-icon-card"><a href="/help/joining-the-library/" class="blue">Get a library card</a></li>
                        <li class="pv2 bt b--white custom-icon-pc"><a href="/book-a-computer/" class="blue">Book a computer</a></li>

                    </ul>

                </div>

            </section>

            <section class="custom-g-l4 custom-g-nm">

                <div class="bg-light-gray dark-gray pa2 pa3-ns">

                    <h1 class="f3 ma0 pa0 mb1">Information</h1>

                    <div class="cf">

                        <div class="custom-g-l3">

                            <ul class="list pa0 ma0 bb-ns b--white">

                                <li class="bt b--white pv2"><a href="/elibrary/" class="blue">eLibrary</a></li>
                                <li class="bt b--white pv2"><a href="/libraries/" class="blue">Libraries</a></li>
                                <li class="bt b--white pv2"><a href="/mobiles-home/" class="blue">Mobiles &amp; home service</a></li>
                                <li class="bt b--white pv2"><a href="/events-activities/" class="blue">Events &amp; activities</a></li>
                                <li class="bt b--white pv2"><a href="/business-and-room-hire/" class="blue">Business &amp; room hire</a></li>
                                <li class="bt b--white pv2"><a href="/information-resources/" class="blue">Research, study &amp; leisure resources</a></li>


                            </ul>

                        </div>

                        <div class="custom-g-l3 custom-g-nm">

                            <ul class="list pa0 ma0 mb2 mb0-ns bb b--white">

                                <li class="bt b--white pv2"><a href="/new-suggestions/" class="blue">Recommendations &amp; reviews</a></li>
                                <li class="bt b--white pv2"><a href="/parents-carers-and-children/" class="blue">Parents, carers &amp; children</a></li>
                                <li class="bt b--white pv2"><a href="/schools/" class="blue">Schools</a></li>
                                <li class="bt b--white pv2"><a href="/health/" class="blue">Health &amp; wellbeing</a></li>
                                <li class="bt b--white pv2"><a href="/help/#borrowing" class="blue">Fines, charges &amp; renewing</a></li>
                                <li class="bt b--white pv2"><a href="/help/#wifi" class="blue">WiFi, computers &amp; printing</a></li>

                            </ul>

                        </div>

                    </div>

                </div>

            </section>

        </div>

    </div>

</div>
