<div class="pa2 pa3-ns pb0 pb0-ns center bg-red white">

    <div class="custom-max-width">

        <div class="cf">

            <section class="custom-g-l3 pb2">

                <h1 class="f3 f2-ns ma0 pa0">Welcome to Suffolk Libraries</h1>

                <ul class="list pa0 ma0 f5 mb2">

                    <li class="pv1 pv0-ns dib-ns mr3-ns">01473 351249</li>
                    <li class="pv1 pv0-ns dib-ns">help@suffolklibraries.co.uk</li>

                </ul>

                <form id="searchform" class="custom-lh-title dark-gray f5 pure-form mt2 mt0-ns" action="#" method="get">

					<input id="s" type="search" name="s" value="" class="w-60-ns"></input>
					<input id="searchsubmit" type="submit" value="Search" class="pa2 pure-button"></input>

				</form>

            </section>

            <section class="custom-g-l3 custom-g-nm">

                <div class="bg-light-gray dark-gray pa2 pa3-ns">

                    <h1 class="f3 ma0 pa0 mb1">Do it online</h1>

                    <ul class="list pa0 ma0 mb2">

                        <li class="mb1 custom-icon-search"><a href="#" class="blue">Search &amp; reserve for collection</a></li>
                        <li class="mb1 custom-icon-lock"><a href="#" class="blue">Login to your account</a></li>
                        <li class="mb1 custom-icon-card"><a href="#" class="blue">Apply for a card</a></li>
                        <li class="mb1 custom-icon-pc"><a href="#" class="blue">Book a computer</a></li>

                    </ul>

                </div>

            </section>



        </div>

    </div>

</div>
