<p class="f5 ma0 mb2" id="map-instructions">Enter a town, village, address or postcode and <strong><span class="purple">click on the markers</span></strong> for more details:</p>

<div class="pure-form mb2" id="search-library-form">

    <input id="search_address" class="dib mr1 mb2 border-box w-80 w-50-ns" type="search">

    <label>within</label>

    <select class="mr1 mb2" id="search_radius">

        <option value="805">1/2 mile</option>
        <option value="1610">1 mile</option>
        <option value="3220">2 miles</option>
        <option value="8047">5 miles</option>
        <option value="16093" selected="selected">10 miles</option>
        <option value="32186">20 miles</option>

    </select><br>

    <a id="search-button" class="dib mr1 pure-button pure-button-primary white custom-force-white" href="#map-instructions">Search</a>
    <a id="reset" class="pure-button mr1 custom-force-dark-gray" href="#map-instructions">Reset</a>
    <a id="find_me" class="f5 dib blue mv2 mv0-ns" href="#map-instructions">(or use my current location)</a>

</div>

<!-- <div id="result_box"><strong id="result_count"></strong></div> -->

<noscript>
    <p>Your JavaScript is disabled.</p>
    <p>Please enable JavaScript to view the map.</p>
</noscript>

<div id="map_canvas"></div>
