{% if page.excerpt %}
  <p>{{ page.excerpt }}</p>
{% endif %}
<ul class="listing">
  {% for post in site.categories.[page.category] %}
    <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <p>Written by
        {% if post.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">
            {% assign author = site.data.authors[post.author] %}{{ author.name }}
          </span>
        </span>
        {% endif %} on {{ post.date | date: "%b %-d, %Y" }}</p>
      <p>{{ post.excerpt }}</p>
    </li>
  {% endfor %}
</ul>
