{% if page.excerpt %}

    <p class="mb3 mb4-ns f4 f3-ns">{{ page.excerpt }}</p>

{% endif %}

    {% for post in site.categories.[page.category] %}

    <article class="pb4 pb5-ns pt1 bt b--light-gray">

        <header class="pb2">

            <h1 class="f4 ma0 pa0 pb1 custom-lh-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>

            <p class="{% include /c/page-meta.html %}">{% if post.author %}Written by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{% assign author = site.data.authors[post.author] %}{{ author.name }}</span></span> &middot; {% endif %}Published {{ post.date | date: "%b %-d, %Y" }}</p>

        </header>

        <p class="ma0">{{ post.excerpt }}</p>

    </article>

    {% endfor %}
