<aside id="sidebar" class="{% include /c/content-box.html %} custom-constrain-img" role="complementary">

    {% assign sidebar = page.sidebar %}

    {% case sidebar %}

        {% when 'about' %}
        {% include /sidebar/about.html %}

        {% when 'blog' %}
        {% include /sidebar/blog.html %}

        {% when 'branches' %}
        {% include /sidebar/branches.html %}

              <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/about/">About us</a></li>
              <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/about/board-members/">Board members</a></li>
              <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/about/documents/">Documents (including board meeting minutes)</a></li>
              <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/about/member-organisations/">Member organisations</a></li>
              <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/about/jobs/">Jobs</a></li>
              <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/volunteer/">Volunteering</a></li>

        {% when 'health' %}
        {% include /sidebar/health.html %}

        {% when 'help' %}
        {% include /sidebar/help.html %}

        {% when 'hub' %}
        {% include /sidebar/hub.html %}

        {% when 'information-resources' %}
        {% include /sidebar/information-resources.html %}

        {% when 'literacy' %}
        {% include /sidebar/literacy.html %}

        {% when 'meet-the-author' %}
        {% include /sidebar/meet-the-author.html %}

        {% when 'mobile-home' %}
        {% include /sidebar/mobile-home.html %}

        {% when 'news' %}
        {% include /sidebar/news.html %}

        {% when 'schools' %}
        {% include /sidebar/schools.html %}

        {% when 'summer-reading-challenge' %}
        {% include /sidebar/summer-reading-challenge.html %}

    {% endcase %}

    {% if page.breadcrumb == 'blog' %}

        {% include /sidebar/blog.html %}

        <section class="{% include /c/sidebar-section.html %}">

            <h1 class="{% include /c/sidebar-section-title.html %}">Latest blog posts</h1>

            <ul class="{% include /c/sidebar-section-list.html %}">

                {% for post in site.categories.['blog'] limit:10 %}
                    <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                {% endfor %}

            </ul>

        </section>

    {% endif %}

    {% if page.category == 'meet-the-author' %}

        <section class="{% include /c/sidebar-section.html %}">

            <h1 class="{% include /c/sidebar-section-title.html %}">About meet the author</h1>

            <p class="ma0 mb2 f6 f5-ns">Regular interviews with some of the world's biggest-selling authors.</p>

        </section>

    {% endif %}

    {% if page.breadcrumb == 'elibrary' %}

        <section class="{% include /c/sidebar-section.html %}">

            <h1 class="{% include /c/sidebar-section-title.html %}">Instructions for:</h1>

            <ul class="{% include /c/sidebar-section-list.html %}">

                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/elibrary/overdrive/">OverDrive</a></li>
                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/elibrary/borrowbox/">BorrowBox</a></li>
                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/elibrary/freegal/">Freegal</a></li>
                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/elibrary/zinio/">Zinio</a></li>
                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/elibrary/3m/">3M Cloud Library</a></li>

            </ul>

        </section>

    {% endif %}

    {% if page.breadcrumb == 'news' %}

        {% include /sidebar/news.html %}

        <section class="{% include /c/sidebar-section.html %}">

            <h1 class="{% include /c/sidebar-section-title.html %}">Latest news</h1>

            <ul class="{% include /c/sidebar-section-list.html %}">

            {% for post in site.categories.['news'] limit:10 %}
                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
            {% endfor %}

            </ul>

        </section>

    {% endif %}

    {% if page.sidebar == 'children-parents' or page.breadcrumb == 'childrens-ya-books' %}

        <section class="{% include /c/sidebar-section.html %}">

            <h1 class="{% include /c/sidebar-section-title.html %}">Parents, carers and children</h1>

            <ul class="{% include /c/sidebar-section-list.html %}">

                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/parents-carers-and-children/">Home</a></li>
                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/parents-carers-and-children/childrens-ya-books/">New in &amp; book ideas</a></li>
                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/parents-carers-and-children/getting-the-best-out-of-the-library-service/">Getting the best out of the library service</a></li>
                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/parents-carers-and-children/dyslexia-irlen/">Dyslexia and Irlen syndrome</a></li>

            </ul>

        </section>

    {% endif %}

    {% if page.breadcrumb == 'new-suggestions' %}

        <section class="{% include /c/sidebar-section.html %}">

            <h1 class="{% include /c/sidebar-section-title.html %}">More suggestions</h1>

            <ul class="{% include /c/sidebar-section-list.html %}">

            {% for current in site.data.cats-suggestions %}

                {% if current.stub != 'staff-picks' %}

                  <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/new-suggestions/{{ current.stub }}/">{{ current.full-name }}</a></li>

                {% else %}

                  <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/new-suggestions/reviews/">{{ current.full-name }}</a></li>

                {% endif %}

            {% endfor %}


            </ul>

        </section>

        <section class="{% include /c/sidebar-section.html %}">

            <h1 class="{% include /c/sidebar-section-title.html %}">Keep updated</h1>

            <p class="ma0 mb2 f6 f5-ns">Get the latest suggestions, releases and reviews delivered straight to you.</p>

            <ul class="{% include /c/sidebar-section-list.html %}">

                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/newsletter/">Email newsletter</a></li>
                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="https://facebook.com/suffolklibraries">Facebook</a></li>
                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="https://twitter.com/suffolklibrary">Twitter</a></li>
                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="https://instagram.com/suffolklibraries">Instagram</a></li>

            </ul>

        </section>

    {% endif %}

    {% if page.category and page.breadcrumb != 'new-suggestions' %}

        {% for current in site.data.cats-suggestions %}

            {% if page.category == current.stub %}

                <section class="{% include /c/sidebar-section.html %}">

                    <h1 class="{% include /c/sidebar-section-title.html %}">More {{ current.full-name }}</h1>

                    <ul class="{% include /c/sidebar-section-list.html %}">

                        {% for post in site.categories.[current.stub] limit:10 %}

                            <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="{{ post.url }}">{{ post.title }}</a></li>

                        {% endfor %}

                    </ul>

                </section>

                <section class="{% include /c/sidebar-section.html %}">

                    <h1 class="{% include /c/sidebar-section-title.html %}">More suggestions</h1>

                    <ul class="{% include /c/sidebar-section-list.html %}">

                    {% for current in site.data.cats-suggestions %}

                        {% if current.stub != 'staff-picks' %}

                          <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/new-suggestions/{{ current.stub }}/">{{ current.full-name }}</a></li>

                        {% else %}

                          <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/new-suggestions/reviews/">{{ current.full-name }}</a></li>

                        {% endif %}

                    {% endfor %}


                    </ul>

                </section>

                <section class="{% include /c/sidebar-section.html %}">

                    <h1 class="{% include /c/sidebar-section-title.html %}">Keep updated</h1>

                    <p class="ma0 mb2 f6 f5-ns">Get the latest suggestions, releases and reviews delivered straight to you.</p>

                    <ul class="{% include /c/sidebar-section-list.html %}">

                        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/newsletter/">Email newsletter</a></li>
                        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="https://facebook.com/suffolklibraries">Facebook</a></li>
                        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="https://twitter.com/suffolklibrary">Twitter</a></li>
                        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="https://instagram.com/suffolklibraries">Instagram</a></li>

                    </ul>

                </section>

            {% endif %}

        {% endfor %}

    {% endif %}

    {% if page.sidebar == 'information-resources' %}

        <section class="{% include /c/sidebar-section.html %}">

            <h1 class="{% include /c/sidebar-section-title.html %}">In this section</h1>

            <ul class="{% include /c/sidebar-section-list.html %}">

                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/information-resources/">Information resources</a></li>
                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/music-and-drama">Music and Drama Library</a></li>
                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/special-collections">Special collections</a></li>

            </ul>

        </section>

    {% endif %}

    {% if page.sidebar == 'summer-reading-challenge' %}

        <section class="{% include /c/sidebar-section.html %}">

            <h1 class="{% include /c/sidebar-section-title.html %}">In this section</h1>

            <ul class="{% include /c/sidebar-section-list.html %}">

                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/events-activities/summer-reading-challenge/">Home</a></li>
                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/events-activities/summer-reading-challenge/summer-reading-challenge-volunteer-application-form/">Volunteer application form</a></li>
                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/events-activities/summer-reading-challenge/gold-ticket-family-prize-draw/">Gold ticket family prize draw</a></li>
                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/events-activities/summer-reading-challenge/imagination/">ImagiNation: for 11-18 year olds</a></li>

            </ul>

        </section>

    {% endif %}

    {% if page.sidebar == 'mobile-home' %}

        <section class="{% include /c/sidebar-section.html %}">

            <h1 class="{% include /c/sidebar-section-title.html %}">Mobiles &amp; home service</h1>

            <ul class="{% include /c/sidebar-section-list.html %}">

                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/mobiles-home/">All mobile library stops</a></li>
                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/mobiles-home/using-the-mobile-library-service/">How to use the mobile library service</a></li>
                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/mobiles-home/mobile-route-schedules/">Mobile route timetables</a></li>
                <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/mobiles-home/home/">About the Home Library Service</a></li>

            </ul>

        </section>

    {% endif %}

    {% if page.sidebar == 'branches' %}

        <section class="{% include /c/sidebar-section.html %}">

            <h1 class="{% include /c/sidebar-section-title.html %}">Ipswich Entrerprise + Innovation Hub</h1>

            <p class="ma0 mb2 f6 f5-ns">Use our Makerspace and hire meeting rooms and work desks.</p>

            <p class="ma0 mb2 f6 f5-ns"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/branches/hub/">Find out more about the Enterprise + Innovation Hub</a></p>

        </section>

    {% endif %}

    {% if page.sidebar == 'volunteering' %}

      <section class="{% include /c/sidebar-section.html %}">

          <h1 class="{% include /c/sidebar-section-title.html %}">In this section</h1>

          <ul class="{% include /c/sidebar-section-list.html %}">

              <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/volunteer/">Volunteering with Suffolk Libraries</a></li>
              <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/volunteer/volunteer-application-form">Volunteer application form</a></li>
              <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/volunteer/volunteer-case-studies/">Volunteer case studies</a></li>
              <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/mobiles-home/home/">Home Library Service</a></li>

          </ul>

      </section>

      {% endif %}

</aside>
