<div class="g-w-right g-w-col4">

    <aside id="sidebar" class="bg bg-white" role="complementary">

        <div class="secondary">

            {% if page.breadcrumb == 4 %}

                <section class="vbox">

                    <h1 class="vbox-title">Instructions for:</h1>

                    <ul class="vbox-text">

                        <li><a href="/elibrary/overdrive/">OverDrive</a></li>
                        <li><a href="/elibrary/borrowbox/">BorrowBox</a></li>
                        <li><a href="/elibrary/freegal/">Freegal</a></li>
                        <li><a href="/elibrary/zinio/">Zinio</a></li>
                        <li><a href="/elibrary/3m/">3M Cloud Library</a></li>

                    </ul>

                </section>

            {% endif %}

            <section class="vbox">

                <h1 class="vbox-title">Sidebar section title</h1>

                <p>Sidebar text.</p>

            </section>

        </div> <!-- end .secondary -->

    </aside>

</div>
