---
layout: sidebar-right
title: "Suffolk User Forum advocacy roadshow to visit libraries across Suffolk"
date: 2017-04-27
author: alice-violett
category: news
excerpt: "Independent mental health charity Suffolk User Forum is coming to several libraries in Suffolk to help support people with mental health issues to have their voices heard."
breadcrumb: news
---

<p>Independent mental health charity Suffolk User Forum is coming to several libraries in Suffolk to help support people with mental health issues to have their voices heard.</p>

<p>The service user led charity will be visiting libraries across Suffolk where you will be able to have a chat about any concerns you may have around mental health, whether for yourself, as a family carer, or as a friend/relative of a person who has a mental health illness.</p>

<p>SUF will also be very happy to record any feedback you have regarding your or a loved one's experience of the mental health system in Suffolk. This will be done anonymously and enable SUF to feed back to commissioners to show what is working well and not so well, there for being a catalyst for change in the future.</p>

<p>SUF have already visited some libraries. See below for upcoming visits.</p>

{% assign suf-events = (site.events | where: "event-category", "suf" | sort: "event-start-date" ) %}

{% for event in suf-events  %}

    <article class="{% include /c/listing.html %}">

        <h1 class="{% include /c/listing-title.html %}"><a href="{{ event.url }}">{{ event.name }}</a></h1>

        <p class="{% include /c/page-meta.html %}">

        {% if event.event-end-date %}

            <span>{{ event.event-start-date | date: "%a %-d %b" }}</span> <span>{{ event.event-start-time }}</span> &#8211; <span>{{ event.event-end-date | date: "%a %-d %b" }}</span> <span>{{ event.event-end-time }}</span>

            {% else %}

            <span>{{ event.event-start-date | date: "%a %-d %b" }}</span> <span>{{ event.event-start-time }}</span> &#8211; <span>{{ event.event-end-time }}</span>

        {% endif %}

        <br><a href="/libraries/{{ event.location}}">{{ event.location-text}}</a>
        </p>

    </article>

{% endfor %}

<ul>

  <li><a href="https://www.suffolkuserforum.co.uk/membership/">Become a member of SUF</a></li>
  <li><a href="https://twitter.com/SUFmentalwealth">Follow SUF on Twitter</a></li>
  <li><a href="https://www.facebook.com/search/241001629394417/local_search?surface=sist">Like SUF on Facebook</a></li>

</ul>
