---
layout: sidebar-right
title: "Magical events to entertain your children at Suffolk Libraries this half-term"
date: 2017-02-09
author: alice-violett
category: news
excerpt: "Wondering what to do with your children this February half-term? We're holding events for children across our libraries, many with a magical theme."
breadcrumb: news
---

<p>Wondering what to do with your children this February half-term? We're holding events for children across our libraries, many with a magical theme.</p>

<p>Some Presents screenings are also taking place in half-term. Hadleigh Library are showing <a href="/events/hadleigh-2017-02-15-presents-the-railway-children/">York Theatre Royal's production of <cite>The Railway Children</cite> on Wednesday 15 February</a>, while Felixstowe Library's screening of <a href="/events/felixstowe-2017-02-17-presents-twelfth-night/"><cite>Twelfth Night</cite> on Friday 17 February</a> may be of interest to older children who are studying Shakespeare at school.</p>

<p>For a full list of half-term activities for children, please see below.</p>

{% assign half-term-events = site.events | where: "event-category", "half-term" %}

{% for event in half-term-events %}

    <article class="{% include /c/listing.html %}">

        <h1 class="{% include /c/listing-title.html %}"><a href="{{ event.url }}">{{ event.name }}</a></h1>

        <p class="{% include /c/page-meta.html %}">

        {% if event.event-end-date %}

            <span>{{ event.event-start-date | date: "%a %-d %b" }}</span> <span>{{ event.event-start-time }}</span> &#8211; <span>{{ event.event-end-date | date: "%a %-d %b" }}</span> <span>{{ event.event-end-time }}</span>

            {% else %}

            <span>{{ event.event-start-date | date: "%a %-d %b" }}</span> <span>{{ event.event-start-time }}</span> &#8211; <span>{{ event.event-end-time }}</span>

        {% endif %}

        <br><a href="/libraries/{{ event.location}}">{{ event.location-text}}</a>
        </p>

    </article>

{% endfor %}
