---
layout: sidebar-right
title: "Celebrate World Book Day at Suffolk Libraries"
date: 2017-02-24
author: alice-violett
category: news
excerpt: "Do Something Booky next week! The 20th World Book Day comes to Suffolk Libraries"
breadcrumb: news
---

<p>Next Thursday (2 March) is the 20th World Book Day 2017 and libraries across Suffolk will be helping to distribute book tokens to children so they can get one of ten free special World Book Day books.</p>

<p>Several libraries will also be hosting special events to mark the day.</p>

<p>Krystal Vittles, Suffolk Libraries development manager and children’s lead, said: "We celebrate books and reading all year round but World Book Day is a chance to encourage children to visit their library or pick up a free book which might spark a lifelong love of reading. Why not make World Book Day the day you visit your local library and sign up your child for their first library card?"</p>

<p>2017 marks the 20th World Book Day. World Book Day is a celebration of authors, illustrators, books and (most importantly) a celebration of reading. It’s the biggest celebration of its kind, designated by UNESCO as a worldwide celebration of books and reading, and marked in over 100 countries all over the world.</p>

<p>The main aim of World Book Day in the UK and Ireland is to encourage children to explore the pleasures of books and reading by providing them with the opportunity to have a book of their own. 15 million book tokens will be distributed by schools and libraries and can either be exchanged for a free book or can be used to get £1 off the price of a full price book at a participating bookshop.</p>

<p>See below for a full list of World Book Day events in our libraries.</p>

{% assign world-book-day-events = site.events | where: "event-category", "world-book-day" %}

{% for event in world-book-day-events %}

    <article class="{% include /c/listing.html %}">

        <h1 class="{% include /c/listing-title.html %}"><a href="{{ event.url }}">{{ event.name }}</a></h1>

        <p class="{% include /c/page-meta.html %}">

        {% if event.event-end-date %}

            <span>{{ event.event-start-date | date: "%a %-d %b" }}</span> <span>{{ event.event-start-time }}</span> &#8211; <span>{{ event.event-end-date | date: "%a %-d %b" }}</span> <span>{{ event.event-end-time }}</span>

            {% else %}

            <span>{{ event.event-start-date | date: "%a %-d %b" }}</span> <span>{{ event.event-start-time }}</span> &#8211; <span>{{ event.event-end-time }}</span>

        {% endif %}

        <br><a href="/libraries/{{ event.location}}">{{ event.location-text}}</a>
        </p>

    </article>

{% endfor %}
