---
layout: sidebar-right
title: "Events for children across our libraries during the Easter holidays"
date: 2017-03-27
author: alice-violett
category: news
excerpt: "We've got plenty of events to keep children entertained all over Suffolk during the Easter break."
breadcrumb: news
---

<p>Wondering what to do with your children this Easter? We've got plenty of events to keep children entertained all over Suffolk.</p>

{% assign easter-events = (site.events | where: "event-category", "easter" | sort: "event-start-date" ) %}

{% for event in easter-events  %}

    <article class="{% include /c/listing.html %}">

        <h1 class="{% include /c/listing-title.html %}"><a href="{{ event.url }}">{{ event.name }}</a></h1>

        <p class="{% include /c/page-meta.html %}">

        {% if event.event-end-date %}

            <span>{{ event.event-start-date | date: "%a %-d %b" }}</span> <span>{{ event.event-start-time }}</span> &#8211; <span>{{ event.event-end-date | date: "%a %-d %b" }}</span> <span>{{ event.event-end-time }}</span>

            {% else %}

            <span>{{ event.event-start-date | date: "%a %-d %b" }}</span> <span>{{ event.event-start-time }}</span> &#8211; <span>{{ event.event-end-time }}</span>

        {% endif %}

        <br><a href="/libraries/{{ event.location}}">{{ event.location-text}}</a>
        </p>

    </article>

{% endfor %}
