---
layout: default
title: Reading advice &amp; information
breadcrumb: schools-literacy
---

<h1 class="page-title">Reading advice &amp; information</h1>

<div class="cf">

    <div class="custom-g-l2">

        <section class="{% include /c/block.html %}" id="advice">

            <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}" href="/schools-literacy/reading-advice/pre-school/">Babies, toddlers and pre-school children</a></h1>

            <p class="{% include /c/block-graf.html %}">Nurture their enjoyment of reading and prepare your children for learning to read at school.</p>

        </section>

    </div>

    <div class="custom-g-l2">

        <section class="{% include /c/block.html %}" id="primary-school">

            <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}" href="/schools-literacy/reading-advice/primary-school/">Primary school age children</a></h1>

            <p class="{% include /c/block-graf.html %}">Support your child’s reading and emotional development, empathy and self-esteem.</p>

        </section>

    </div>

    <div class="custom-g-l2 custom-g-nm">

        <section class="{% include /c/block.html %}" id="secondary-school">

            <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}" href="/schools-literacy/reading-advice/secondary-school/">Teenagers and Young Adults</a></h1>

            <p class="{% include /c/block-graf.html %}">Introduce your teenager to more complex and mature reading.</p>

        </section>

    </div>

</div> <!-- end row -->

<div class="cf">

    <div class="custom-g-l2 custom-g-nm">

        <section class="{% include /c/block.html %}" id="advice">

            <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}" href="/schools-literacy/reading-advice/dyslexia-irlen/">Dyslexia and Irlen syndrome</a></h1>

            <p class="{% include /c/block-graf.html %}">Find specially formatted books and help your child’s reading.</p>

        </section>

    </div>

</div> <!-- end cf -->
