@media screen, projection {

    .custom-flex-container {
        max-width: 100%;
        overflow: auto;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: space-around;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }

    .custom-flex-row {

        -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1;         /* OLD - Firefox 19- */
        min-width: 12em;
        width: 16.53em; /* Gives us thirds roughly, but I could be a bit more width agnostic here */
        max-width: 16.53em;
        -webkit-flex: 1;          /* Chrome */
        -ms-flex: 1;              /* IE 10 */
        flex: 1;
        margin-bottom: 1rem;
        -ms-flex-direction: row;
        flex-direction: row;
    }

}
