@media screen, projection {

*[class*=custom-icon] {
    padding-left: 1.25em;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 1em;
}

.custom-icon-search {
    background-image: url('/images/icons/search.svg')
}

.custom-icon-lock {
    background-image: url('/images/icons/lock.svg')
}

.custom-icon-card {
    background-image: url('/images/icons/card.svg')
}

.custom-icon-pc {
    background-image: url('/images/icons/desktop.svg')
}

.custom-icon-twitter {
    background-image: url('/images/icons/twitter.svg')
}

.custom-icon-facebook {
    background-image: url('/images/icons/facebook.svg')
}

.custom-icon-email {
    background-image: url('/images/icons/email.svg')
}

.custom-icon-pinterest {
    background-image: url('/images/icons/pinterest.svg')
}

.custom-icon-soundcloud {
    background-image: url('/images/icons/soundcloud.svg')
}

.custom-icon-instagram {
    background-image: url('/images/icons/instagram.svg')
}

.custom-icon-xmas-1 {
    background-image: url('/images/icons/xmas/bauble.svg')
}

.custom-icon-xmas-2 {
    background-image: url('/images/icons/xmas/sweater.svg')
}

.custom-icon-xmas-3 {
    background-image: url('/images/icons/xmas/mistletoe.svg')
}

.custom-icon-xmas-4 {
    background-image: url('/images/icons/xmas/sleigh.svg')
}

.custom-icon-xmas-5 {
    background-image: url('/images/icons/xmas/christmas-tree.svg')
}

.custom-icon-xmas-6 {
    background-image: url('/images/icons/xmas/winter-hat-2.svg')
}

.custom-icon-xmas-7 {
    background-image: url('/images/icons/xmas/tag.svg')
}

.custom-icon-xmas-8 {
    background-image: url('/images/icons/xmas/christmas-sock.svg')
}

.custom-icon-xmas-9 {
    background-image: url('/images/icons/xmas/candle-1.svg')
}

.custom-icon-xmas-10 {
    background-image: url('/images/icons/xmas/bell.svg')
}

.custom-icon-xmas-11 {
    background-image: url('/images/icons/xmas/gift.svg')
}

.custom-icon-xmas-12 {
    background-image: url('/images/icons/xmas/hot-drink-2.svg')
}

.custom-icon-xmas-13 {
    background-image: url('/images/icons/xmas/window.svg')
}

.custom-icon-xmas-14 {
    background-image: url('/images/icons/xmas/candy-cane.svg')
}

.custom-icon-xmas-15 {
    background-image: url('/images/icons/xmas/ice-skate.svg')
}

.custom-icon-xmas-16 {
    background-image: url('/images/icons/xmas/martini.svg')
}

.custom-icon-xmas-17 {
    background-image: url('/images/icons/xmas/fireplace.svg')
}

.custom-icon-xmas-18 {
    background-image: url('/images/icons/xmas/deer.svg')
}

.custom-icon-xmas-19 {
    background-image: url('/images/icons/xmas/gingerbread-man.svg')
}

.custom-icon-xmas-20 {
    background-image: url('/images/icons/xmas/elf.svg')
}

.custom-icon-xmas-21 {
    background-image: url('/images/icons/xmas/christmas-wreath.svg')
}

.custom-icon-xmas-22 {
    background-image: url('/images/icons/xmas/snow-globe.svg')
}

.custom-icon-xmas-23 {
    background-image: url('/images/icons/xmas/christmas-card.svg')
}

.custom-icon-xmas-24 {
    background-image: url('/images/icons/xmas/santa-claus.svg')
}


}
