@media screen, projection {

.custom-prose a:link {
    color: rgb(0, 116, 217);
}

.custom-prose a:visited {
    color: #6FA7D6;
}

.custom-prose h1,
.custom-prose h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    padding: 1rem 0 0.5rem 0;
    line-height: $lh-title;
}

.custom-prose h3 {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    padding: 1rem 0 0.5rem 0;
    line-height: $lh-title;
}

.custom-prose h4 {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    padding: 1rem 0 0.5rem 0;
    line-height: $lh-title;
}

.custom-prose h1 + p,
.custom-prose h2 + p,
.custom-prose h3 + p,
.custom-prose h4 + p,
.custom-prose h1 + ul,
.custom-prose h2 + ul,
.custom-prose h3 + ul,
.custom-prose h4 + ul {
    margin-top: 0;
}

.custom-prose blockquote {
    margin-left: 1.5rem;
    padding-left: 0.5rem;
    color: #777;
}

.custom-prose img {
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
}

}
