@media screen, projection {

.custom-prose {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.custom-prose a:link {
    color: #0074D9;
}

.custom-prose a:visited {
    color: #6FA7D6;
}

}
