@media screen, projection {

body {
    font-size: 106.75%;
    scroll-behavior: smooth;

    @media (min-width: 40em) {
		font-size:118.5%;
	}

}

figure {
    margin: 0;
    padding: 0;
}

table {
    margin: 1rem 0;
}

a {
    text-decoration: none;
}


a:hover,
a:active,
a:focus {
    border-bottom: 2px solid;
}

a:hover img,
a:active img,
a:focus img {
    text-decoration: none !important;
    border-bottom: none !important;
}

h1,
h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    padding: 1rem 0 0.5rem 0;
    line-height: $lh-title;
}

h3 {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    padding: 1rem 0 0.5rem 0;
    line-height: $lh-title;
}

h4 {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    padding: 1rem 0 0.5rem 0;
    line-height: $lh-title;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h1 + ul,
h2 + ul,
h3 + ul,
h4 + ul {
    margin-top: 0;
}

blockquote {
    margin-left: 1.5rem;
    padding-left: 0.5rem;
    color: #777;
}

img {
    height: auto !important;
    max-width: 100% !important;



}

figcaption {
  font-size: 0.875rem;
}

figcaption p {
  margin-top: 0;
}

}
