@media screen, projection {

    .custom-flex-container {
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }

    .custom-flex-row {
        width: 16.53em; /* Gives us thirds roughly, but I could be a bit more width agnostic here */
        margin-bottom: 1rem;
        -ms-flex-direction: row;
        flex-direction: row;
    }

}
