/* My Dark Places */
/* For CSS with no other choice */

.custom-force-dn-ns {

    @media (min-width: 40em) {
        display: none !important;
    }

}

.custom-force-f5 {
    font-size: 1rem;
}

.custom-force-f6 {
    font-size: 0.875rem;
}

.custom-force-white {
    color: white !important;
}

.custom-force-dark-gray {
    color: rgb(51, 51, 51) !important;
}

a.pure-button,
a.pure-button-primary {
    border-bottom: none;
}

a.custom-no-underline {
    border-bottom: none !important;
    text-decoration: none !important;
}
