@media screen, projection {

.custom-prose a:link {
    color: rgb(0, 116, 217);
}

.custom-prose a:visited {
    color: #6FA7D6;
}

.custom-prose h1,
.custom-prose h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    line-height: $lh-title;
}

.custom-prose h3 {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    line-height: $lh-title;
}

.custom-prose blockquote {
    margin-left: 1.5rem;
    padding-left: 0.5rem;
}

}
