@media screen, projection {

body {
    font-size: 112.5%;
    scroll-behavior: smooth;

    @media (min-width: 40em) {
		font-size:125%;
	}

}

figure {
    margin: 0;
    padding: 0;
}

table {
    margin: 1rem 0;
}

a {
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    border-bottom: 2px solid;
}

a:hover img,
a:active img,
a:focus img {
    text-decoration: none !important;
    border-bottom: none !important;
}

}
