@media screen, projection {

figure {
    margin: 0;
    padding: 0;
}

img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
}

a:hover {
    text-decoration: underline;
}

}
