@media screen, projection {

*[class*=custom-icon] {
    padding-left: 1.25em;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 1em;
}

.custom-icon-search {
    background-image: url('/images/icons/search.svg')
}

.custom-icon-lock {
    background-image: url('/images/icons/lock.svg')
}

.custom-icon-card {
    background-image: url('/images/icons/card.svg')
}

.custom-icon-pc {
    background-image: url('/images/icons/desktop.svg')
}

.custom-icon-twitter {
    background-image: url('/images/icons/twitter.svg')
}

.custom-icon-facebook {
    background-image: url('/images/icons/facebook.svg')
}

.custom-icon-email {
    background-image: url('/images/icons/email.svg')
}

.custom-icon-pinterest {
    background-image: url('/images/icons/pinterest.svg')
}

.custom-icon-soundcloud {
    background-image: url('/images/icons/soundcloud.svg')
}

.custom-icon-instagram {
    background-image: url('/images/icons/instagram.svg')
}


}
