@media screen, projection {

.icon {
    padding-left: 1.4em;
    background-repeat: no-repeat;
    background-size: 1.2em;
    vertical-align: baseline;
}

/* White icons with purple fill */

.icon-home-white {
    background-image: url('/images/icons/home-white.svg');
}

.icon-search-white {
    background-image: url('/images/icons/search-white.svg');
}

.icon-lock-white {
    background-image: url('/images/icons/lock-white.svg');
}

.icon-card-white {
    background-image: url('/images/icons/card-white.svg');
}

.icon-phone-white {
    background-image: url('/images/icons/phone-white.svg');
}

.icon-info-white {
    background-image: url('/images/icons/info-white.svg');
}

.icon-email-white {
    background-image: url('/images/icons/email-white.svg');
}

.icon-map-white {
    background-image: url('/images/icons/map-white.svg');
}

.icon-tablet-white {
    background-image: url('/images/icons/tablet-white.svg');
}

.icon-library-white {
    background-image: url('/images/icons/library-white.svg');
}

.icon-calendar-white {
    background-image: url('/images/icons/calendar-white.svg');
}

.icon-bus-white {
    background-image: url('/images/icons/bus-white.svg');
}

.icon-book-white {
    background-image: url('/images/icons/book-white.svg');
}

.icon-pen-white {
    background-image: url('/images/icons/pen-white.svg');
}

.icon-people-white {
    background-image: url('/images/icons/people-white.svg');
}

.icon-facebook-white {
    background-image: url('/images/icons/facebook-white.svg');
}

.icon-twitter-white {
    background-image: url('/images/icons/twitter-white.svg');
}


/* Black icons with white fill */

.icon-home {
    background-image: url('/images/icons/home.svg');
}

.icon-search {
    background-image: url('/images/icons/search.svg');
}

.icon-lock {
    background-image: url('/images/icons/lock.svg');
}

.icon-card {
    background-image: url('/images/icons/card.svg');
}

.icon-phone {
    background-image: url('/images/icons/phone.svg');
}

.icon-info {
    background-image: url('/images/icons/info.svg');
}

.icon-email {
    background-image: url('/images/icons/email.svg');
}

.icon-map {
    background-image: url('/images/icons/map.svg');
}

.icon-tablet {
    background-image: url('/images/icons/tablet.svg');
}

.icon-library {
    background-image: url('/images/icons/library.svg');
}

.icon-calendar {
    background-image: url('/images/icons/calendar.svg');
}

.icon-bus {
    background-image: url('/images/icons/bus.svg');
}

.icon-book {
    background-image: url('/images/icons/book.svg');
}

.icon-pen {
    background-image: url('/images/icons/pen.svg');
}

.icon-people {
    background-image: url('/images/icons/people.svg');
}

.icon-facebook {
    background-image: url('/images/icons/facebook.svg');
}

.icon-twitter {
    background-image: url('/images/icons/twitter.svg');
}

.icon-accessibility {
    background-image: url('/images/icons/accessibility.svg');
}

.icon-school {
    background-image: url('/images/icons/school.svg');
}

}
