@media screen, projection {

.h-nav-item,
.h-nav li  {
    padding: $eighth-line 0;
    list-style-type: none;

    @media #{$nbp} {
        display: inline;
        margin-right: $single-line;
        padding: 0;
    }

}


.h-nav:last-child {

    @media #{$nbp} {
        margin-right: 0;
    }

}

.h-nav-item-strong-link {
    font-weight: bold;
}

}
