@media screen, projection {

.pill-nav li,
.pill-nav-item {
    background-color: $link;
    color: $light;
    padding: $half-line;
    border-radius: $eighth-line;
    margin-bottom: $eighth-line !important;
}

.pill-nav li a,
.pill-nav-item a {
    color: $light;
}

}
