@media screen, projection {

.slot {
    margin-bottom: $line-and-a-half;
}

.slot-title {
    font-size: $size-4 !important;
    margin-bottom: $eighth-line;
}

.slot-meta {
    padding-bottom: $half-line;
    margin-bottom: 0 !important;
}

.slot-meta p {
    margin-bottom: 0 !important;
}

.slot-pic {
    margin-bottom: $quarter-line;
}

}
