@media screen, projection {

	.toggle-button {
		position: absolute;
		top: $half-line;
		right: $half-line;
		font-size: $size-4;

	}

}


@media #{$nbp} {

	.toggle.hide {
		position: relative !important;
		clip: 0;
	}

	.toggle-button {
		display: none;
	}
}
