@media screen, projection {

.topbar {
    padding: $quarter-line $half-line 0 $half-line;
    background-color: $dark;
    color: $light;
    margin-bottom: $single-line;

}

.topbar a {
    color: $light;
}

.topbar a:hover,
.topbar a:active,
.topbar a:focus {
    text-decoration: underline;
}

.topbar-title {
    font-size: $size-5;
    line-height: $single-line;
    padding-bottom: $half-line;


    @media #{$nbp} {
        margin-bottom: $quarter-line;
        padding-bottom: 0;
    }

}

.topbar form {
    padding-bottom: $half-line;

    @media #{$nbp} {
        float: right;
        text-align: right;
        font-size: $size-3;
        padding-bottom: 0;
    }

}

.topbar #s {

    width: 15em;

    @media #{$nbp} {
        width: 20em;
    }

}

.topbar-purple {
    background-color: $corporate;

    @media #{$bp} {
        border-bottom: $quarter-line solid $corporate;
    }

}

.topbar-nav {
    font-size: $size-4;
    padding-bottom: $half-line;

    @media #{$nbp} {
        float: left;
        margin-right: $single-line;
        font-size: $size-3;
        padding-bottom: 0;
    }

}

}
