---
layout: default
title: "Slaughter in Southwold"
breadcrumb: events
---

<img class="center" src="/images/featured/featured-slaughter-logo-wide.jpg" alt="Slaughter in Southwold" />



<footer class="{% include /c/content-block.html %} pt2 bt b--light-gray">

  <h1 class="{% include /c/content-block-title.html %} tc">Partners</h1>

  <ul class="cf list ma0 pa0 mb2 tc custom-prose center">

    <li class="dib mr2 mr3-ns"><a class="custom-no-underline" href="http://www.thecwa.co.uk/"><img src="/images/featured/featured-cwa-logo.jpg" alt="The Crime Writers' Association" /></a></li>
    <li class="dib mr2 mr3-ns"><a class="custom-no-underline" href="/about/member-organisations/friends-of-southwold-library-fosl/"><img src="/images/featured/featured-fosl-logo-small.jpg" alt="The Friends of Southwold Library" /></a></li>
    <li class="dib mr2 mr3-ns"><a class="custom-no-underline" href="http://www.southwoldartsfestival.co.uk/"><img src="/images/featured/featured-southwold-arts-festival-2017.jpg" alt="Southwold Arts Festival 2017" /></a></li>
    <li class="dib mr2 mr3-ns"><a class="custom-no-underline" href="/bookfest/"><img src="/images/featured/featured-bookfest-logo-100.jpg" alt="Suffolk Libraries Bookfest" /></a></li>

  </ul>

</footer>
