---
layout: default
title: "Slaughter in Southwold"
breadcrumb: events
---

<h1 class="{% include /c/page-title.html %} tc">Slaughter in Southwold</h1>

<p>The Friends of Southwold Library and the Crime Writers' Association present the third annual Slaughter in Southwold crime writers' festival at Southwold Arts Centre on Saturday 17 and Sunday 18 June.</p>

<p>You can buy tickets to individual events or our great value <a href="https://www.ticketsource.co.uk/event/EKIMIM">Saturday passes</a> and <a href="https://www.ticketsource.co.uk/event/EKIMJE">Sunday passes</a> and <a href="https://www.ticketsource.co.uk/event/EKIMII">weekend passes</a> Tickets and passes are also available at <a href="/libraries/southwold-library/">Southwold Library</a> or on <a href="tel:01502722519">01502 722519</a>.</p>

<p>For further information please email <strong>charlotte.clark@suffolklibraries.co.uk</strong></p>

<h2>Saturday, 17 June</h2>

<div class="custom-flex-container">

{% assign slaughter_author_events = (site.events | where: "event-category", "slaughter-author" | where: "event-start-date", "2017-06-17" | sort: "event-start-time" ) %}

{% for event in slaughter_author_events %}

    <article class="custom-flex-row pb2">

        <div class="cf">

          <div class="custom-g-l2">

            <a class="white" href="{{ event.url }}"><img class="custom-br-50" src="{{ event.event-image }}" alt="{{ event.event-image-alt }}"></a>

          </div>

          <div class="custom-g-l4 custom-g-nm">

            <p class="f5 ma0 pa0"><a href="{{ event.url }}" class="blue">{{ event.name }}</a>, {{ event.event-start-date | date: "%a %-d %b" }}, {{ event.event-start-time }}, £{{ event.event-ticket-price-page }}</p>

          </div>

        </div>

    </article>

{% endfor %}

</div>

<h2>Food and activities</h2>

<div class="custom-flex-container">

{% assign slaughter_food_fun_events = (site.events | where: "event-category", "slaughter-food-fun" | sort: 'event-start-date' | sort: 'event-start-time' ) %}

{% for event in slaughter_food_fun_events limit:24 %}

    <article class="custom-flex-row-2 pb2">

        <a class="white" href="{{ event.url }}"><img class="custom-br-50 mw-40 {% include /c/img-float-left.html %}" src="{{ event.event-image }}" alt="{{ event.event-image-alt }}"></a>

        <p class="f5 fw6 ma0 pa0 pr2"><a href="{{ event.url }}" class="blue">{{ event.name }}, {{ event.event-start-date | date: "%a %-d %b" }}, {{ event.event-start-time }}, £{{ event.event-ticket-price }}</a></p>

    </article>

{% endfor %}

</div>



<footer class="{% include /c/content-block.html %} pt2 bt b--light-gray">

  <h1 class="{% include /c/content-block-title.html %} tc">Partners</h1>

  <ul class="cf list ma0 pa0 mb2 tc custom-prose center">

    <li class="dib mr2 mr3-ns"><a class="custom-no-underline" href="http://www.thecwa.co.uk/"><img src="/images/featured/featured-cwa-logo.jpg" alt="The Crime Writers' Association" /></a></li>
    <li class="dib mr2 mr3-ns"><a class="custom-no-underline" href="/about/member-organisations/friends-of-southwold-library-fosl/"><img src="/images/featured/featured-fosl-logo-small.jpg" alt="The Friends of Southwold Library" /></a></li>
    <li class="dib mr2 mr3-ns"><a class="custom-no-underline" href="http://www.southwoldartsfestival.co.uk/"><img src="/images/featured/featured-southwold-arts-festival-2017.jpg" alt="Southwold Arts Festival 2017" /></a></li>
    <li class="dib mr2 mr3-ns"><a class="custom-no-underline" href="/bookfest/"><img src="/images/featured/featured-bookfest-logo-100.jpg" alt="Suffolk Libraries Bookfest" /></a></li>

  </ul>

</footer>
