---
layout: default
title: "Slaughter in Southwold"
breadcrumb: events
---

<h1 class="{% include /c/page-title.html %} tc">Slaughter in Southwold</h1>

<p class="tc b f4">Saturday 17 and Sunday 18 June 2017</p>

      <div class="cf">

          <div class="custom-g-l3">

              <p class="ma0 mb2">Join us for author talks, food and a quiz at the fifth annual Slaughter in Southwold crime writers' festival.</p>

              <p class="ma0 mb2">You can also win prizes in the <a class="blue" href="/events/southwold-2017-05-01-slaughter-in-southwold-raffle/">Slaughter in Southwold raffle</a> and by solving the <a class="blue" href="/events/southwold-2017-05-01-slaughter-in-southwold-whodunnit/">Slaughter in Southwold 'Whodunnit' puzzle sheet.</a></p>

          </div>

          <div class="custom-g-l3 custom-g-nm">

              <div class="{% include /c/generic-panel.html %}">

                <p class ="ma0 mb2"><strong>Tickets and passes are on sale from 1 April.</strong></p>

                <p class="ma0 mb2">Buy tickets for individual events or take advantage of our great value <a class="blue" href="https://www.ticketsource.co.uk/event/EKIMIM">Saturday passes</a>, <a class="blue" href="https://www.ticketsource.co.uk/event/EKIMJE">Sunday passes</a> and <a class="blue" href="https://www.ticketsource.co.uk/event/EKIMII">weekend passes</a>.</p>

                <p class ="ma0 mb2">Tickets and passes are also available at <a class="blue" href="/libraries/southwold-library/">Southwold Library</a> or on <a class="blue" href="tel:01502722519">01502 722519</a>.</p>

              </div>

          </div>

      </div>

<h2 class="mb3">Saturday 17 June</h2>

<div class="cf">

{% assign slaughter_events = (site.events | where: "event-category", "slaughter" | where: "event-start-date", "2017-06-17" | sort: "event-start-time" ) %}

{% for event in slaughter_events %}

    <article class="fl-ns mb3 w-50-ns ph3 border-box pb2">

        <div class="cf">

          <div class="custom-g-l2">

            <a class="white custom-no-underline" href="{{ event.url }}"><img class="custom-br-50" src="{{ event.event-image }}" alt="{{ event.event-image-alt }}"></a>

          </div>

          <div class="custom-g-l4 custom-g-nm">

            <p class="f5 ma0 pa0"><a class="blue" href="{{ event.url }}" class="blue">{{ event.name }}</a><br>{{ event.event-start-date | date: "%a %-d %b" }}, {{ event.event-start-time }}, £{{ event.event-ticket-price-page }}</p>

          </div>

    </article>

{% endfor %}

</div>

<h2 class="mb3">Sunday 18 June</h2>

<div class="cf">

{% assign slaughter_events = (site.events | where: "event-category", "slaughter" | where: "event-start-date", "2017-06-18" | sort: "event-start-time" ) %}

{% for event in slaughter_events %}

    <article class="fl-ns mb3 w-50-ns ph3 border-box pb2">

        <div class="cf">

          <div class="custom-g-l2">

            <a class="white custom-no-underline" href="{{ event.url }}"><img class="custom-br-50" src="{{ event.event-image }}" alt="{{ event.event-image-alt }}"></a>

          </div>

          <div class="custom-g-l4 custom-g-nm">

            <p class="f5 ma0 pa0"><a class="blue" href="{{ event.url }}" class="blue">{{ event.name }}</a><br>{{ event.event-start-date | date: "%a %-d %b" }}, {{ event.event-start-time }}, £{{ event.event-ticket-price-page }}</p>

          </div>

    </article>

{% endfor %}

</div>

<footer class="{% include /c/content-block.html %} pt2 bt b--light-gray">

  <h1 class="{% include /c/content-block-title.html %} tc">Partners</h1>

  <ul class="cf list ma0 pa0 mb2 tc custom-prose center">

    <li class="dib mr2 mr3-ns"><a class="custom-no-underline" href="http://www.thecwa.co.uk/"><img src="/images/featured/featured-cwa-logo.jpg" alt="The Crime Writers' Association" /></a></li>
    <li class="dib mr2 mr3-ns"><a class="custom-no-underline" href="/about/member-organisations/friends-of-southwold-library-fosl/"><img src="/images/featured/featured-fosl-logo-small.jpg" alt="The Friends of Southwold Library" /></a></li>
    <li class="dib mr2 mr3-ns"><a class="custom-no-underline" href="http://www.southwoldartsfestival.co.uk/"><img src="/images/featured/featured-southwold-arts-festival-2017.jpg" alt="Southwold Arts Festival 2017" /></a></li>
    <li class="dib mr2 mr3-ns"><a class="custom-no-underline" href="/bookfest/"><img src="/images/featured/featured-bookfest-logo-100.jpg" alt="Suffolk Libraries Bookfest" /></a></li>

  </ul>

</footer>
