---
layout: full-width
title: Schools, literacy and reading
breadcrumb: home
---
<nav id="nav">

    <div class="cf">

        <div class="custom-g-l2">

            <section class="{% include /c/block.html %}" id="schools">

                <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}" href="/schools-literacy/schools/">Literacy, Books, and Reading Team for Schools</a></h1>

                <p class="{% include /c/block-graf.html %}">Classroom resources, events and CPD for school staff.</p>

            </section>

        </div>

        <div class="custom-g-l2">

            <section class="{% include /c/block.html %}" id="literacy">

                <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}" href="/schools-literacy/literacy/">Beyond the Book: Literacy resources</a></h1>

                <p class="{% include /c/block-graf.html %}">Literacy resources news and fun for parents and teachers.</p>

            </section>

        </div>

        <div class="custom-g-l2 custom-g-nm">

            <section class="{% include /c/block.html %}" id="advice">

                <h1 class="{% include /c/block-title.html %}"><a class="{% include /c/block-title-link.html %}" href="/schools-literacy/reading-advice/">Reading information and advice</a></h1>

                <p class="{% include /c/block-graf.html %}">Pre-school children, primary school age children, peenagers and young adults and children with dyslexia or Irlen syndrome.</p>

            </section>

        </div>

    </div> <!-- end row -->

<nav>
