---
layout: sidebar-right
title: Libraries
breadcrumb: home
sidebar: branches
---

<p class="f5 ma0 mb2">Enter a town, village or postcode and click on the <span class="purple">markers</span> for more details:</p>

<div class="custom-constrain">

    <iframe src="http://slmembers.org/branch-map/" width="1000" height="700" frameborder="0" style="border: 0;"></iframe>

</div>

{% for branch in site.data.branches %}

    <article class="{% include /c/slot.html %}">

        <h1 class="{% include /c/slot-title.html %}"><a href="{{ branch.url }}">{{ branch.name }}</a></h1>

        <p class="{% include /c/page-meta.html %} mb0">{{ branch.address }} &middot; {{ branch.phone }}</a></p>

        {% if branch.room-hire-text %}<p class="{% include /c/page-meta.html %} mt0">Room hire: <a href="{{ branch.room-hire-url }}">{{ branch.room-hire-text}}</a></p>{% endif %}

    </article>

{% endfor %}
