---
layout: default
title: Feedback for the Literacy, Books and Reading Team for Schools
breadcrumb: home
hnav: lbarts
---

<h1 class="{% include /c/page-title.html %} tl">Feedback for the Literacy, Books and Reading Team for Schools</h1>

<div class="custom-narrow-width">

    <p>This page features selected comments from teachers whose schools have benefitted from our expertise. If you wish to give feedback on any aspect of our service, please <a href="/schools/contact/">contact us</a>.</p>

</div>

<div class="{% include /c/content-block.html %}">

  <div class="custom-narrow-width">

    <article class="cf {% include /c/content-block.html %}">

        <img class="fl w-50 w-40-ns mt3-ns mr2 mb1 br-100" src="/images/featured/featured-bridge-school.jpg" alt="The Bridge School logo">

        <p class="mt2">"Many thanks for the boxes of books received recently.  They are WONDERFUL. I will be promoting them at Staff Briefing this week."</p>

        <p class="mt2">- Joan Gibson, The Bridge School.</p>

  </div>

    </article>

    <article class="cf {% include /c/content-block.html %}">

      <div class="{% include /c/generic-panel.html %}">

          <img class="fl w-50 w-40-ns mt3-ns mr2 mb1 br-100" src="/images/featured/featured-capel-cevc-primary-school.jpg" alt="Capel St Mary CEVC Primary School logo">

            <p class="mt2">"Just wanted to say thank you very much for the lovely box of books you sent me last week for the Fact-finder Library.  It was like opening a birthday present!"</p>

            <p class="mt2">- Sue Woolgar, Capel St Mary Church of England VC Primary School.</p>

      </div>

    </article>

    <div class="custom-narrow-width">

      <article class="cf {% include /c/content-block.html %}">

          <img class="fl w-50 w-40-ns mt3-ns mr2 mb1 br-100" src="/images/featured/featured-volunteer-jenny.jpg" alt="Jenny">

          <h1 class="{% include /c/sub-head.html %}">Jenny has been volunteering for the Home Library Service for more than 20 years</h1>

          <p class="mt2">"I had a friend who volunteered for the Home Library Service. I thought I would give it a go and I thoroughly enjoyed it. You make friends and get to know people and their families.</p>

          <p class="mt2">"It is great fun choosing books for people and introducing them to books they hadn’t thought of reading. One lady I visit has similar tastes in reading to me, so it is easy to find books for her. You have to like people, be broadminded and have endless patience. You can spend ages choosing books only to have your choices rejected by the person you visit. But that doesn’t happen often, because you get to know them so well. You have to have a love of books, read yourself and be able to share your enthusiasm.</p>

          <p class="mt2">"I just love doing it."</p>

      </article>

      <article class="cf {% include /c/content-block.html %}">

        <div class="{% include /c/generic-panel.html %}">

            <img class="fl w-50 w-40-ns mt3-ns mr2 mb1 br-100" src="/images/featured/featured-volunteer-callum.jpg" alt="Callum">

            <h1 class="{% include /c/sub-head.html %}">Callum is a 19-year-old volunteer at his local library</h1>

            <p class="mt2">"Volunteering at the library has been a thoroughly enjoyable and fulfilling experience. Not only was it great socially, in terms of making friends and interacting with the general public, but it also offered me the chance to develop my personal skills. I would recommend volunteering; it has got me out of the house, can add a lot to your CV and contributes to a valuable community asset."</p>

        </div>

      </article>

</div>
