---
layout: default
title: Feedback for the Literacy, Books and Reading Team for Schools
breadcrumb: home
hnav: lbarts
---

<div class="custom-narrow-width">

    <h1 class="{% include /c/page-title.html %} tl">Feedback for the Literacy, Books and Reading Team for Schools</h1>

    <p>This page features selected comments from teachers whose schools have benefitted from our expertise. If you wish to give feedback on any aspect of our service, please <a href="/schools/contact/">contact us</a>.</p>

  <div class="{% include /c/content-block.html %}">

      <article class="cf {% include /c/content-block.html %}">

          <img class="fl w-10 w-30-ns mt3 mr2 mb5-ns br-100" src="/images/featured/featured-bridge-school.jpg" alt="The Bridge School logo">

          <p class="mt2">"Many thanks for the boxes of books received recently. They are WONDERFUL. I will be promoting them at Staff Briefing this week."<br>- Joan Gibson, The Bridge School.</p>

  </div>

      </article>

      <article class="cf {% include /c/content-block.html %}">

        <div class="{% include /c/generic-panel.html %}">

            <img class="fl w-10 w-30-ns mt3 mr2 mb5-ns br-100" src="/images/featured/featured-capel-cevc-primary-school.jpg" alt="Capel St Mary CEVC Primary School logo">

              <p class="mt2">"Just wanted to say thank you very much for the lovely box of books you sent me last week for the Fact-finder Library.  It was like opening a birthday present!"<br>- Sue Woolgar, Capel St Mary Church of England VC Primary School.</p>

        </div>

      </article>

        <article class="cf {% include /c/content-block.html %}">

            <img class="fl w-10 w-30-ns mt3 mr2 mb5-ns br-100" src="/images/featured/featured-westley-middle-school.jpg" alt="Westley Middle School logo">

            <p class="mt2">"LBaRT is a fantastic service for schools. The library loans my school receives are current, promptly delivered and with an excellent selection. My requests are always met with a variety of titles eagerly waiting to be read by our pupils."<br>- Jo Stott, Westley Middle School</p>

        </article>

        <article class="cf {% include /c/content-block.html %}">

          <div class="{% include /c/generic-panel.html %}">

              <img class="fl w-10 w-30-ns mt3 mr2 mb5-ns br-100" src="/images/featured/featured-hardwick-primary-school.jpg" alt="Hardwick Primary School logo">

              <p class="mt2">"The excitement and enthusiasm conveyed to parents at your Book Cafés each Christmas make a magical time of year even more so!  We are hoping that parents will re-connect with the importance of reading with their children as they love what you do."<br>- Sarah Grover, Hardwick Primary School</p>

          </div>

        </article>

        <article class="cf {% include /c/content-block.html %}">

            <img class="fl w-10 w-30-ns mt3 mr2 mb5-ns br-100" src="/images/featured/featured-otley-primary-school.jpg" alt="Otley Primary School logo">

            <p class="mt2">"Many thanks for coming to sort through our books, it has definitely improved our library area and has exposed children to new books."<br>- Otley Primary School</p>

        </article>

        <article class="cf {% include /c/content-block.html %}">

          <div class="{% include /c/generic-panel.html %}">

              <img class="fl w-10 w-30-ns mt3 mr2 mb5-ns br-100" src="/images/featured/featured-broke-hall-primary-school.jpg" alt="Broke Hall Primary School logo">

              <p class="mt2">"I just wanted to say a huge thank you to you  for arranging for  Sheila to come along and help last week. I honestly don’t know what I would have done without her! We managed to shelve all of the non-fiction and we both felt that we achieved a great deal.<br>- Jayne Gould, Broke Hall Primary School</p>

          </div>

        </article>

</div>
