<div class="{% include /c/generic-panel.html %} bg-lightest-blue">

<p class="ma0 f5"><strong>Please note you won't be able to reserve books between 31 Oct and 9 Nov</strong> (from 28 Oct for books we haven't ordered yet). Any reservations placed before this time will arrive as normal. We're also not sending out reminder notices during this period. We'll therefore automatically move any due dates that fall in this period to 11 Nov. This is due to work to improve our online catalogue. <a class="blue" href="/news/online-catalogue-upgrade/">Find out more about how you'll be affected</a>.</p>

</div>
