---
layout: default
title: Upcoming events
breadcrumb: events
---

<h1 class="page-title">Upcoming events</h1>

<p>A list of all special events taking place across our libraries.</p>

<div class="custom-prose">

    {% assign events = site.events | sort: 'event-start-date'%}

    {% for event in events %}

    {% capture now-unix-seconds %}{{'now' | date: '%s' }}{% endcapture %}

    {% capture event-time-seconds %}{{event.event-start-date | date: '%s' }}{% endcapture %}

    {% capture event-time %}{{ event-time-seconds | divided_by: 86400}}{% endcapture %}

    {% capture now-unix %}{{ now-unix-seconds | divided_by: 86400}}{% endcapture %}

      {% if now-unix <= event-time %}

        <article class="{% include /c/listing.html %}">

          <h1 class="{% include /c/listing-title.html %}"><a href="{{ event.url }}">{{ event.name }}</a></h1>

          <p class="{% include /c/page-meta.html %}">

              {% if event.event-end-date %}

              <span>{{ event.event-start-date | date: "%a %-d %b, %Y" }}</span> <span>{{ event.event-start-time }}</span> &#8211; <span>{{ event.event-end-date | date: "%a %-d %b" }}</span> <span>{{ event.event-end-time }}</span>

              {% else %}

              <span>{{ event.event-start-date | date: "%a %-d %b, %Y" }}</span> <span>{{ event.event-start-time }}</span> &#8211; <span>{{ event.event-end-time }}</span>

              {% endif %}

              <span> &middot; <a href="/branches/{{ event.location }}">{{ event.location-text }}</a></span>

          </p>

        </article>

      {% endif %}

    {% endfor %}

</div>
