---
layout: full-width-narrow
title: "Upcoming events"
breadcrumb: events
---
{% assign events = site.events | sort: 'event-start-date'%}

{% for event in events %}

{% capture now-unix-seconds %}{{'now' | date: '%s' }}{% endcapture %}

{% capture event-time-seconds %}{{event.event-start-date | date: '%s' }}{% endcapture %}

{% capture event-time %}{{ event-time-seconds | divided_by: 86400}}{% endcapture %}

{% capture now-unix %}{{ now-unix-seconds | divided_by: 86400}}{% endcapture %}

  {% if now-unix <= event-time %}

    <article>

      <header>

      <h1 class="listing-title"><a href="{{ event.url }}">{{ event.name }}</a></h1>

      <p class="listing-meta secondary">

      {% if event.event-end-date %}

      <span>{{ event.event-start-date | date: "%a %-d %b, %Y" }}</span> <span>{{ event.event-start-time }}</span> &#8211; <span>{{ event.event-end-date | date: "%a %-d %b" }}</span> <span>{{ event.event-end-time }}</span>

      {% else %}

      <span>{{ event.event-start-date | date: "%a %-d %b, %Y" }}</span> <span>{{ event.event-start-time }}</span> &#8211; <span>{{ event.event-end-time }}</span>

      {% endif %}

      </header>

    </article>

  {% endif %}

{% endfor %}
