---
layout: full-width
title: Upcoming events
breadcrumb: events
jquery: true
dynatable: true
---

<p>A list of all special events taking place across our libraries.</p>

<p class="mb0">Filter by library:</p>

<select id="search-library" name="library">
    <option></option>
    <option>Aldeburgh Library</option>
    <option>Beccles Library</option></option>
    <option>Brandon Library</option>
    <option>Broomhill Library</option>
    <option>Bungay Library</option>
    <option>Bury St Edmunds Library</option>
    <option>Capel St Mary Library</option>
    <option>Chantry Library</option>
    <option>Clare Library</option>
    <option>Debenham Library</option>
    <option>Elmswell Library</option>
    <option>Eye Library</option>
    <option>Felixstowe Library</option>
    <option>Framlingham Library</option>
    <option>Gainsborough Community Library</option>
    <option>Glemsford Library</option>
    <option>Great Cornard Library</option>
    <option>Hadleigh Library</option>
    <option>Halesworth Library</option>
    <option>Haverhill Library</option>
    <option>Ipswich County Library</option>
    <option>Ixworth Library</option>
    <option>Kedington Library</option>
    <option>Kesgrave Library</option>
    <option>Kessingland Library</option>
    <option>Lakenheath Library</option>
    <option>Lavenham Library</option>
    <option>Leiston Library</option>
    <option>Long Melford Library</option>
    <option>Lowestoft Library</option>
    <option>Mildenhall Library</option>
    <option>Needham Market Library</option>
    <option>Newmarket Library</option>
    <option>Oulton Broad Library</option>
    <option>Rosehill Library</option>
    <option>Saxmundham Library</option>
    <option>Southwold Library</option>
    <option>Stoke Library</option>
    <option>Stowmarket Library</option>
    <option>Stradbroke Library</option>
    <option>Sudbury Library</option>
    <option>Thurston Library</option>
    <option>Wickham Market Library</option>
    <option>Woodbridge Library</option>
</select>

<table id="search-table" class="pure-table pure-table-bordered">

    <thead>
        <tr>
            <th data-dynatable-column="event">Event</th>
            <th data-dynatable-column="library">Library</th>
            <th data-dynatable-column="date">Date</th>
            <th data-dynatable-column="time">Time</th>
        </tr>
    </thead>

    <tbody>

    {% assign events = site.events | sort: 'event-start-date'%}

    {% for event in events %}

    {% capture now-unix-seconds %}{{'now' | date: '%s' }}{% endcapture %}

    {% capture event-time-seconds %}{{event.event-start-date | date: '%s' }}{% endcapture %}

    {% capture event-time %}{{ event-time-seconds | divided_by: 86400}}{% endcapture %}

    {% capture now-unix %}{{ now-unix-seconds | divided_by: 86400}}{% endcapture %}

    {% if now-unix <= event-time %}

        <tr>

            <td><a href="{{ event.url }}">{{ event.name }}</a></td>
            <td>{{ event.location-text }}</td>
            <td>{{ event.event-start-date | date: "%a %-d %b, %Y" }}</td>
            <td>{{ event.event-start-time }}</td>

        </tr>

    {% endif %}

    {% endfor %}

    </tbody>

</table>

<script>
$('#search-table').dynatable({
  features: {
    paginate: false,
    recordCount: false,
    sorting: false
  },
  inputs: {
    queries: $('#search-library')
  }
});
</script>
