---
layout: full-width
title: New in and suggestions
breadcrumb: home
---

<nav id="nav">

    <div class="g-row">

        <div class="g-w-col4 g-w-left">

            <section class="vbox">

                <h1 class="vbox-title"><a href="/new-suggestions/fiction">Fiction</a></h1>

                <p class="vbox-text">
                  {% for post in site.categories.['fiction'] limit:3 %}
                    <li>
                      <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> {{ post.date | date: "%b %-d, %Y" }}</p>
                    </li>
                  {% endfor %}
                </p>

            </section>

        </div>

        <div class="g-w-col4 g-w-left">

            <section class="vbox">

                <h1 class="vbox-title"><a href="/new-suggestions/non-fiction-lists">Non-fiction</a></h1>

                <p class="vbox-text">
                  {% for post in site.categories.['non-fiction-lists'] limit:3 %}
                    <li>
                      <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> {{ post.date | date: "%b %-d, %Y" }}</p>
                    </li>
                  {% endfor %}
                </p>

            </section>

        </div>

        <div class="g-w-col4 g-w-left">

            <section class="vbox">

                <h1 class="vbox-title"><a href="/new-suggestions/childrens-book-lists">Children's books</a></h1>

                <p class="vbox-text">
                  {% for post in site.categories.['childrens-book-lists'] limit:3 %}
                    <li>
                      <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> {{ post.date | date: "%b %-d, %Y" }}</p>
                    </li>
                  {% endfor %}
                </p>

            </section>

        </div>

    </div> <!-- end .g-row -->

    <div class="g-row">

        <div class="g-w-col4 g-w-left">

            <section class="vbox">

                <h1 class="vbox-title"><a href="/new-suggestions/film-lists">Films and DVDs</a></h1>

                <p class="vbox-text">
                  {% for post in site.categories.['film-lists'] limit:3 %}
                    <li>
                      <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> {{ post.date | date: "%b %-d, %Y" }}</p>
                    </li>
                  {% endfor %}
                </p>

            </section>

        </div>

        <div class="g-w-col4 g-w-left">

            <section class="vbox">

                <h1 class="vbox-title"><a href="/new-suggestions/music-lists">Music</a></h1>

                <p class="vbox-text">
                  {% for post in site.categories.['music-lists'] limit:3 %}
                    <li>
                      <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> {{ post.date | date: "%b %-d, %Y" }}</p>
                    </li>
                  {% endfor %}
                </p>

            </section>

        </div>

        <div class="g-w-col4 g-w-left">

            <section class="vbox">

                <h1 class="vbox-title"><a href="/new-suggestions/book-club-lists">Book club ideas</a></h1>

                <p class="vbox-text">
                  {% for post in site.categories.['book-club-lists'] limit:3 %}
                    <li>
                      <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> {{ post.date | date: "%b %-d, %Y" }}</p>
                    </li>
                  {% endfor %}
                </p>

            </section>

        </div>

    </div> <!-- end .g-row -->

    <div class="g-row">

        <div class="g-w-col4 g-w-left">

            <section class="vbox">

                <h1 class="vbox-title"><a href="/new-suggestions/local-interest">Local interest</a></h1>

                <p class="vbox-text">
                  {% for post in site.categories.['local-interest'] limit:3 %}
                    <li>
                      <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> {{ post.date | date: "%b %-d, %Y" }}</p>
                    </li>
                  {% endfor %}
                </p>

            </section>

        </div>

        <div class="g-w-col4 g-w-left">

            <section class="vbox">

                <h1 class="vbox-title"><a href="/new-suggestions/staff-picks">Staff picks</a></h1>

                <p class="vbox-text">
                  {% for post in site.categories.['staff-picks'] limit:3 %}
                    <li>
                      <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> {{ post.date | date: "%b %-d, %Y" }}</p>
                    </li>
                  {% endfor %}
                </p>

            </section>

        </div>

        <div class="g-w-col4 g-w-left">

            <section class="vbox">

                <h1 class="vbox-title"><a href="/new-suggestions/booked-out">Booked out podcast</a></h1>

                <p class="vbox-text">
                  {% for post in site.categories.['booked-out'] limit:3 %}
                    <li>
                      <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> {{ post.date | date: "%b %-d, %Y" }}</p>
                    </li>
                  {% endfor %}
                </p>

            </section>

        </div>

    </div> <!-- end .g-row -->

</nav>
