---
layout: default
title: New in and suggestions
breadcrumb: home
---

<h1 class="{% include /c/page-title.html %}">New in &amp; suggestions</h1>

<p class="{% include /c/generic-panel.html %} custom-lh-copy"><span class="b">Looking for reading, viewing and listening ideas?</span> Our expert staff have hundreds of lists for you. You can also <a class="blue" href="/newsletter">subscribe to our monthly newsletter</a> for suggestions straight to your inbox.</p>

{% for current in site.data.cats-suggestions %}

<div class="dib-ns w-33-ns ph2-ns v-top">

    <section class="{% include /c/block.html %}">

        <h1 class="{% include /c/block-title.html %}">{% if current.stub !='staff-picks' and current.stub !='childrens-ya-books' %}<a class="blue" href="/new-suggestions/{{ current.stub }}">{{ current.full-name }}</a>{% elsif current.stub == 'staff-picks' %}<a class="blue" href="/new-suggestions/reviews/">{{ current.full-name }}{% elsif current.stub == 'childrens-ya-books' %}<a class="blue" href="/parents-carers-and-children/childrens-ya-books/">Children's books</a>{% endif %}</h1>

        {% for post in site.categories.[current.stub] limit:1 %}

          {% if post.featured-image %}

            <a href="{{ post.url }}" class="dib custom-no-underline white mb2"><img class="db custom-constrain-img" src="{{ post.featured-image }}"{% if post.featured-alt %} alt="post.featured-alt"{% endif %}></a>

          {% endif %}

        {% endfor %}

        <ul class="{% include /c/block-list.html %}">
          {% for post in site.categories.[current.stub] limit:3 %}
            <li class="{% include /c/block-list-item.html %}"><a class="{% include /c/block-title-link.html %}" href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
      </ul>

      {% if current.stub != 'staff-picks' and current.stub != 'childrens-ya-books' %}

        <p class="{% include /c/block-graf.html %}"><strong><a class="{% include /c/block-title-link.html %}" href="/new-suggestions/{{ current.stub }}">All {{ current.full-name }} &rarr;</a></strong></p>

      {% else %}

        {% if current.stub == 'staff-picks' %}

            <p class="{% include /c/block-graf.html %}"><strong><a class="{% include /c/block-title-link.html %}" href="/new-suggestions/reviews/">All {{ current.full-name }} &rarr;</a></strong></p>

        {% elsif current.stub == 'childrens-ya-books' %}

            <p class="{% include /c/block-graf.html %}"><strong><a class="{% include /c/block-title-link.html %}" href="/parents-carers-and-children/childrens-ya-books/">All {{ current.full-name }} &rarr;</a></strong></p>

        {% endif %}

      {% endif %}

    </section>

</div>

{% endfor %}
