---
layout: full-width-narrow
title: Parents, carers and children
breadcrumb: home
---

<section class="cf {% include /c/content-block.html %} pt4-ns">

    <div class="custom-g-r4">

        <h1><a href="/parents-carers-and-children/childrens-ya-books/">New in &amp; book ideas</a></h1>

        <p>Latest titles and reading ideas for children aged 0-11.</p>

    </div>

    <div class="custom-g-r2 custom-g-nm">

        <img src="/images/featured/featured-childrens-reading-ideas.jpg" class="custom-br-50" alt="A man reading with a child">

    </div>

</section>

<section class="cf {% include /c/content-block.html %}">

    <div class="custom-g-r4">

        <h1><a href="/events-activities/children/">Regular children&#8217;s events &amp; activities</a></h1>

        <p>Regular activity sessions and events, including songs, rhymes, stories, playtimes, crafts, clubs, reading groups and Minecraft clubs.</p>

    </div>

    <div class="custom-g-r2 custom-g-nm">

        <img src="/images/featured/featured-children-activity.jpg" class="custom-br-50" alt="Children's craft activity">

    </div>

</section>

    <section class="cf {% include /c/content-block.html %}">

        <div class="custom-g-r4">

            <h1><a href="/parents-carers-and-children/getting-the-best-out-of-the-library-service/">Getting the best out of the library service</a></h1>

            <p>What we stock and how you can use the service to help your child's reading and development.</p>

        </div>

        <div class="custom-g-r2 custom-g-nm">

            <img src="/images/featured/featured-getting-the-most.jpg" class="custom-br-50" alt="The Bookstart Bear">

        </div>

    </section>

    <div class="custom-narrow-width custom-prose">

        <section class="cf {% include /c/content-block.html %}">

            <div class="custom-g-r4">

                <h1><a href="/parents-carers-and-children/dyslexia-irlen/">Dyslexia and Irlen Syndrome</a></h1>

                <p>Dyslexia friendly books and tips on choosing the best book for your child.</p>

            </div>

            <div class="custom-g-r2 custom-g-nm">

                <img src="/images/featured/featured-dyslexia-irlen.jpg" class="custom-br-50" alt="Snug book cover by Michael Morpurgo">

            </div>

        </section>
