---
layout: full-width
title: Regular children's activities
breadcrumb: events
jquery: true
dynatable: true
---

<p>Most libraries run regular activity sessions and events for children of all ages, including songs, rhymes, stories, playtimes, crafts, clubs, reading groups and Minecraft clubs.</p>

<p>You can also check out our <a href="/events-activities/upcoming">special events</a>.</p>

{% include dynatable-library-list.html %}

<table id="search-table" class="pure-table pure-table-bordered">
  <thead>
    <tr>
      <th data-dynatable-column="library">Library</th>
      <th data-dynatable-column="activity">Activity</th>
      <th data-dynatable-column="day">Day</th>
      <th data-dynatable-column="times">Times</th>
    </tr>
  </thead>
  <tbody>
    {% assign recurrents = site.recurrents | where: "recurrent-category", "children" | sort: 'recurrent-location' %}
    {% for recurrent in recurrents %}
    <tr>
      <td>{{ recurrent.recurrent-location-display-name }}</td>
      <td><a href="{{ recurrent.recurrent-location-display-url }}">{{ recurrent.recurrent-title }}</a></td>
      <td>{{ recurrent.recurrent-day }}</td>
      <td>{{ recurrent.recurrent-times }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Outreach activities</h2>

<table class="pure-table pure-table-bordered">
  <thead>
    <tr>
      <th>Outreach activities</th>
      <th>Activity</th>
      <th>Day and Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Carlton Colville, St Peters Church Hall. Contact <a title="Lowestoft Library" href="/libraries/lowestoft-library/">Lowestoft Library</a></td>
      <td>Tot Rock and Storytime</td>
      <td>First Monday of month 1330-1500 (term time only)</td>
    </tr>
    <tr>
      <td>RAF Honington. Contact <a title="Thurston Library" href="/libraries/thurston-library/">Thurston Library</a></td>
      <td>Stay and Play</td>
      <td>Wednesday 1000-1130</td>
    </tr>
  </tbody>
</table>
