---
layout: full-width-narrow
title: "Children's activities"
hero-image: hero-children.jpg
hero-alt: A girl reading in the library
hero-caption: A girl reading in the library
breadcrumb: events
---
<p>Most Suffolk libraries run activity sessions and events for children:</p>

<ul>
<li><strong>Baby bounce:</strong> soothing songs and gentle nursery rhymes for babies</li>
<li><strong>Tot Rock</strong>: songs and action rhymes for toddlers</li>
<li><strong>Baby bounce and Tot Rock</strong>: songs and rhymes for babies and toddlers</li>
<li><strong>Storytime</strong>: stories and rhymes for pre-school children</li>
<li><strong>Family playtime</strong>: for 0-4 year olds</li>
<li><strong>Craft activities</strong>: for primary school age children</li>
</ul>

<h2>Library activities</h2>

<table class="pure-table">
  <thead>
    <tr>
      <th>Library</th>
      <th>Activity</th>
      <th>Day</th>
      <th>Times</th>
    </tr>
  </thead>
  <tbody>
    {% assign recurrents = site.recurrents | sort: 'recurrent-location'%}
    {% for recurrent in recurrents %}
    {% if recurrent.recurrent-category == 'children' %}
    <tr>
      <td><a href="{{ recurrent.recurrent-location-display-url }}">{{ recurrent.recurrent-location-display-name }}</a></td>
      <td>{{ recurrent.recurrent-title }}</td>
      <td>{{ recurrent.recurrent-day }}</td>
      <td>{{ recurrent.recurrent-times }} </td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

<h2>Outreach activities</h2>

<table class="pure-table">
  <thead>
    <tr>
      <th>Outreach activities</th>
      <th>Activity</th>
      <th>Day and Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Carlton Colville, St Peters Church Hall. Contact <a title="Lowestoft Library" href="/branches/lowestoft-library/">Lowestoft Library</a></td>
      <td>Tot Rock and Storytime</td>
      <td>First Monday of month 1330-1500 (term time only)</td>
    </tr>
    <tr>
      <td>RAF Honington. Contact <a title="Thurston Library" href="/branches/thurston-library/">Thurston Library</a></td>
      <td>Stay and Play</td>
      <td>Wednesday 1000-1130</td>
    </tr>
  </tbody>
</table>
