---
layout: default
title: Our Year of Reading
breadcrumb: events
---

<div class="custom-narrow-width">

    <section id="introduction" class="{% include /c/content-block.html %}">

        <h1 class="page-title tc">Our Year of Reading</h1>

      <div class="cf">

        <div class="custom-g-l3">

          <div class="custom-prose">

            <p class="ma0">Celebrate and promote reading across Suffolk in 2016 and help us improve literacy, encourage reading for pleasure and remind everyone of the importance of reading.</p>

            <p>Get involved – make a pledge and tell us why reading matters to you.</p>

            <p><a class="pure-button" href="/events-activities/our-year-of-reading/make-a-reading-pledge">Make a reading pledge →</a></p>

          </div>

        </div>

        <div class="custom-g-l3 custom-g-nm">

          <img src="/images/article/our-year-of-reading-300.jpg" class="custom-br-50" alt="Mother and child in a library">

        </div>

      </div>

    </section>

    <section id="author-quotes" class="{% include /c/content-block.html %}">

      <div class="cf">

        <div class="custom-g-l6">

          <h1 class="{% include /c/content-block-title.html %} mb3 tc">Author Nicola Upson on why she loves libraries</h1>

        </div>

      </div>

      <div class="cf">

        <div class="custom-g-l2">

          <img src="/images/article/nicola-upson-230.jpg" class="custom-br-50" alt="Nicola Upson">

        </div>
        <div class="custom-g-l4 custom-g-nm">

          <div class="custom-prose">

            <blockquote><p>Reading has enriched my life from the moment my parents first took me to Bury St Edmunds Library as an inquisitive toddler of two or three, and I found out how far you could travel with a book in your hand. Stories are important.</p></blockquote>

            <p><a href="/events-activities/our-year-of-reading/author-quotes">Read more authors on libraries and reading →</a></p>

          </div>

        </div>

      </div>

    </section>

    <section id="get-involved" class="{% include /c/content-block.html %}">

        <h1 class="{% include /c/content-block-title.html %} mb3 tc">Get involved</h1>

        <div class="cf">

            <div class="custom-g-l4">

                <section class="{% include /c/content-block.html %}">

                    <h1 class="{% include /c/sub-head.html %} f4 tc">Pledge</h1>

                    <p class="custom-prose mt2"><a href="/events-activities/our-year-of-reading/make-a-reading-pledge">Make reading a pledge online</a> or pick up a pledge postcard in a library.</p>

                    <h1 class="{% include /c/sub-head.html %} f4 tc">#SuffolkYOR</h1>

                    <p  class="custom-prose mt2">You can use the hashtag #SuffolkYOR on Twitter and follow <a href="https://twitter.com/suffolklibrary">@SuffolkLibrary</a> to keep in touch. We recently ran a competition to find the best #bookfacefriday and Get Caught Reading photos and we’ll be sharing some of the best ones soon!</p>

                </section>

            </div>

            <div class="custom-g-l2 custom-g-nm">

                <img src="/images/article/year-of-reading-bookface-230.jpg" class="custom-br-50" alt="A book face">

            </div>

        </div>

    </section>

    <section id="whats-on" class="{% include /c/content-block.html %}">

      <h1 class="{% include /c/content-block-title.html %} mb3 tc">What's on</h1>

          <section class="{% include /c/content-block.html %}">

              <h1 class="{% include /c/sub-head.html %} f4 tc"><a class="blue" href="/events-activities/suffolk-writes">Suffolk Writes</a></h1>

                <p class="custom-prose mt2">A pilot project to enable aspiring writers to get some of their work published as a library eBook which people can download from the library service.</p>

            </section>

            <section class="{% include /c/content-block.html %}">

                <h1 class="{% include /c/sub-head.html %} f4 tc"><a class="blue" href="/news/suffolk-libraries-launches-brave-new-reads-for-2016">Brave New Reads</a></h1>

                <p class="custom-prose mt2">A regional programme focusing on a list of six chosen books.</p>

            </section>

             <section class="{% include /c/content-block.html %}">

                 <h1 class="{% include /c/sub-head.html %} f4 tc"><a class="blue" href="/events-activities/summer-reading-challenge">Summer Reading Challenge: The Big Friendly Read</a></h1>

                 <p class="custom-prose mt2">The country’s biggest literacy programme aimed at children, based in libraries and growing in popularity every year. This is a great opportunity to encourage children to carry on reading through the holidays. Our libraries are looking for volunteers to help!</p>

             </section>

        </section>

    </section>

    <section id="literary-festivals" class="{% include /c/content-block.html %}">

      <h1 class="{% include /c/content-block-title.html %} mb3 tc">Literary festivals</h1>

           <section class="{% include /c/content-block.html %}">

                <h1 class="{% include /c/sub-head.html %} f4 tc"><a class="blue" href="/events-activities/bookfest">Suffolk Libraries Bookfest</a></h1>

                <p class="custom-prose mt2 tc">21-30 October across the county of Suffolk</p>

            </section>

            <section class="{% include /c/content-block.html %}">

                <h1 class="{% include /c/sub-head.html %} f4 tc">Lavenham Children’s Book Festival</h1>

                <p class="custom-prose mt2 tc">Held in October</p>

            </section>

            <section class="{% include /c/content-block.html %}">

                <h1 class="{% include /c/sub-head.html %} f4 tc">Lowestoft Library Literary Festival</h1>

                <p class="custom-prose mt2 tc">Held in October</p>

            </section>

            <section class="{% include /c/content-block.html %}">

                <h1 class="{% include /c/sub-head.html %} f4 tc"><a class="blue" href="http://www.wayswithwords.co.uk/festivals/southwold-19">Ways with Words Literature Festival in Southwold</a></h1>

                <p class="custom-prose mt2 tc">Held on 10-14 November</p>

            </section>

        </section>

    </section>

    <section class="{% include /c/generic-panel.html %}">

      <p class="f5 ma0 tc">Our Year of Reading campaign is supported by the East Anglian Daily Times, BBC Radio Suffolk and Suffolk Magazine.</p>

    </section>

</div>
