---
layout: sidebar-right
title: How to run a reading hack group
breadcrumb: schools
sidebar: schools
hnav: lbarts
---

<div class="custom-narrow-width">

  <section class="{% include /c/generic-panel.html %} mb3 mb5-ns">

    <h1 class="{% include /c/content-block-title.html %} tc">Our reading hack pilot at Beccles Library</h1>

    <div class="custom-prose">

      <p><img src="/images/featured/featured-reading-hack-week-1.jpg" alt="Reading Hack collage"></p>

      <p class="mt2">Our 2015-16 Literacy Ambassador, Matt Shenton, recorded his experiences of running a reading hack group, 'The Beccles Book Bunnies', at <a href="/libraries/beccles-library">Beccles Library</a>. We hope that these pages will help you come up with ideas for and run your own reading hacks.</p>

    </div>

  </section>

<p><a href="/schools-literacy/online-resources/how-to-reading-hack/running-a-reading-hack-group-week-1">Running a reading hack group: week 1</a></p>

<p><a href="/schools-literacy/online-resources/how-to-reading-hack/running-a-reading-hack-group-week-2">Running a reading hack group: week 2</a></p>

<p><a href="/schools-literacy/online-resources/how-to-reading-hack/running-a-reading-hack-group-week-3">Running a reading hack group: week 3</a></p>

<p><a href="/schools-literacy/online-resources/how-to-reading-hack/running-a-reading-hack-group-week-4">Running a reading hack group: week 4</a></p>

<p><a href="/schools-literacy/online-resources/how-to-reading-hack/running-a-reading-hack-group-week-5">Running a reading hack group: week 5</a></p>

<p><a href="/schools-literacy/online-resources/how-to-reading-hack/running-a-reading-hack-group-week-6">Running a reading hack group: week 6</a></p>

<div class="custom-narrow-width">

  <section class="{% include /c/generic-panel.html %} mb3 mb5-ns">

    <h1 class="{% include /c/content-block-title.html %} tc">Activities used in our reading hack pilot</h1>

    <div class="custom-prose">

      <p><img src="/images/featured/featured-reading-hack-week-2.jpg" alt="Literary Top Trumps cards"></p>

      <p class="mt2">There are loads of great resources on the <a href="http://readinghack.org.uk">Reading Hack website</a>, along with Hack activities. We adapted some of the ‘Hacks’, and also came up with some of our own. You can download our activities below even if you are not running a Reading Hack group.</p>

    </div>

  </section>
