---
layout: sidebar-right
title: How to run a reading hack group
breadcrumb: schools
sidebar: schools
hnav: lbarts
---

<div class="custom-narrow-width">

  <section class="{% include /c/generic-panel.html %} mb3 mb5-ns">

    <h1 class="{% include /c/content-block-title.html %} tc">Our reading hack pilot at Beccles Library</h1>

    <div class="custom-prose">

      <p><img src="/images/featured/featured-reading-hack-week-1.jpg" alt="Reading Hack collage"></p>

      <p class="mt2">Our 2015-16 Literacy Ambassador, Matt Shenton, recorded his experiences of running a reading hack group, 'The Beccles Book Bunnies', at <a href="/libraries/beccles-library">Beccles Library</a>. We hope that these pages will help you come up with ideas for and run your own reading hacks.</p>

      <ul>

        <li><a href="/schools-literacy/online-resources/how-to-reading-hack/running-a-reading-hack-group-week-1">Running a reading hack group: week 1</a></li>

        <li><a href="/schools-literacy/online-resources/how-to-reading-hack/running-a-reading-hack-group-week-2">Running a reading hack group: week 2</a></li>

        <li><a href="/schools-literacy/online-resources/how-to-reading-hack/running-a-reading-hack-group-week-3">Running a reading hack group: week 3</a></li>

        <li><a href="/schools-literacy/online-resources/how-to-reading-hack/running-a-reading-hack-group-week-4">Running a reading hack group: week 4</a></li>

        <li><a href="/schools-literacy/online-resources/how-to-reading-hack/running-a-reading-hack-group-week-5">Running a reading hack group: week 5</a></li>

        <li><a href="/schools-literacy/online-resources/how-to-reading-hack/running-a-reading-hack-group-week-6">Running a reading hack group: week 6</a></li>

      </ul>

    </div>

    </section>

  <section class="{% include /c/content-block.html %}">

    <h1 class="{% include /c/content-block-title.html %} tc">Activities used in our reading hack pilot (.doc)</h1>

      <p><img src="/images/featured/featured-reading-hack-week-2.jpg" alt="Literary Top Trumps cards"></p>

      <p class="mt2">There are loads of great resources on the <a href="http://readinghack.org.uk">Reading Hack website</a>, along with Hack activities. We adapted some of the ‘Hacks’, and also came up with some of our own. You can download our activities below even if you are not running a Reading Hack group.</p>

      <ul>

        <li><a href="/assets/doc/beyond-the-book-top-trump-hack.doc">Literary 'Top Trumps' style activity</a> and <a href="/assets/doc/beyond-the-book-top-trump-hack-template.doc">template</a>. Top Trumps have some great bookish card games you can buy including Harry Potter, LOTR and an out of print Roald Dahl!</li>
        <li><a href="/assets/doc/beyond-the-book-comic-hack.doc">Comic Hack</a> - Make a comic book panel in response to something you’ve read.</li>
        <li><a href="/assets/doc/beyond-the-book-story-cube-hack.doc">Story Cube Hack</a> - Hack a classic children’s story by retelling it using story cubes. Story cubes have a different symbol on each side for you to use in your story. By taking the first few paragraphs of your favourite story and rolling the cubes out you could take the plot of your favourite story in a whole new random direction!</li>
        <li><a href="/assets/doc/beyond-the-book-green-screen-hack.doc">Green Screen Hack</a> - Use green screen technology to mash up books! Take a selfie and put yourself into a famous movie based on a book or onto the front cover of your favourite novel!</li>
        <li><a href="/assets/doc/beyond-the-book-poetry-jigsaw-hack.doc">Poetry Jigsaw Hack</a> - Cut up and rearrange a <a href="/assets/doc/beyond-the-book-poetry-jigsaw-hack-poem.doc">Michael Rosen poem</a> and make it your own!</li>
        <li><a href="/assets/doc/beyond-the-book-blackout-poetry-hack.doc">Blackout Poetry Hack</a> - Transform an old book into a new poetic form!</li>
        <li><a href="/assets/doc/beyond-the-book-minecraft-hack.doc">Minecraft Hack</a> - Use Minecraft to recreate a scene or landscape from your favourite book.</li>
        <li><a href="/assets/doc/beyond-the-book-create-your-own-hack.doc">Create your own Hack</a> - Come up with a new hack for you and your friends to try out!</li>

      </ul>

      <h2>Other activities</h2>

      <ul>

        <li><a href="/assets/doc/beyond-the-book-author-research-activity.doc">Author Research Activity</a> – Use your skills to research facts about your favourite author.</li>
        <li><a href="/assets/doc/beyond-the-book-go-beyond-the-book.doc">Go Beyond the Book</a> – Ask yourself some questions about your favourite book.</li>
        <li><a href="/assets/doc/beyond-the-book-explore-your-local-library.doc">Explore your Library</a> – An activity to find out more about the world of libraries.</li>
        <li><a href="/assets/doc/beyond-the-book-suffolk-research-activity.doc">Suffolk Research Activity</a> – Dust off your deerstalker and answer some tricky questions about Suffolk!

      </ul>

  </section>
