---
layout: sidebar-right
title: Summer Reading Challenge
hero-image: hero-src-2017.jpg
hero-alt: Summer Reading Challenge Animal Agents logo
breadcrumb: events
sidebar: summer-reading-challenge
---

<div class="{% include /c/content-block.html %}">

	<div class="custom-narrow-width">

		<article class="cf {% include /c/content-block.html %}">

				<img class="fl w-50 w-20-ns mt3 mr2 mb1 br-100" src="/images/featured/featured-src-bart.jpg" alt="Bart The Bloodhound">

				<h1 class="{% include /c/sub-head.html %}">The Summer Reading Challenge is back for 2017</h1>

				<p class="mt2">Children are invited to maintain their reading skills over the summer holidays by reading 6 books of their choice from our libraries, talking about them with our Summer Reading Challenge volunteers and receiving stickers and other incentives along the way.</p>

		</article>



  </div>

</div>
