<head>

	<!-- LEON GET RID OF THIS LINE ON LIVE -->
	<meta name='robots' content='noindex,nofollow' />

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
	<![endif]-->

    <link rel="stylesheet" href="/css/style.css">

    <title>{{ page.title}} &#8211; Suffolk Libraries</title>

	<script src="/js/app.js"></script>

</head>
