<body class="custom-sans-serif dark-gray bg-light-gray">

	<p class="dn"><a href="#content">Skip to content</a></p>

	{% if site.message %}

		<div class="bg-black near-white pa2 pa3-ns">

			<div class="custom-max-width">

				<p class="f6 f5-ns ma0">{% if site.message_title %}<strong>{{ site.message_title }}</strong>: {% endif %}{{ site.message }}{% if site.message_link %} <a class="link aqua" href="/{{ site.message_link }}">Read more</a>.{% endif %}</p>

			</div>

		</div>

	{% endif %}

	<header class="custom-bg-corporate cf white pa2 pa3-ns pv1-ns" id="site-header">

		<div class="custom-max-width cf">

			<div class="custom-g-l3 custom-lh-title">

				<h1 class="f5 dib ma0 mb2 mr2 mr4-ns pa0 pt2-ns"><a rel="home" href="/" class="icon icon-home-white white link"><span class="fw6">Suffolk</span> <span class="normal green">Libraries</span></a></h1>

				<div class="f5 dib mr2 mr3-ns"><a href="/help" class="white link">Help</a></div>

				{% if page.title != 'Suffolk Libraries reserve, renew, branches and eLibrary' %}

					<button class="fr tr f5 custom-force-f5 pure-button custom-toggle-button fn-ns dn-ns custom-force-dn-ns custom-closed">Search</button>

				{% endif %}

			</div>

			{% if page.title != 'Suffolk Libraries reserve, renew, branches and eLibrary' %}

				<div class="custom-toggle dn db-ns">

					<div class="custom-g-r3 custom-g-nm tr-ns">

						<form id="searchform" class="custom-lh-title dark-gray f5 pure-form pt2 pt0-ns" action="#" method="get">

							<input id="s" type="search" name="s" value="" class="w-60"></input>
							<input id="searchsubmit" type="submit" value="Search" class="pa2 pure-button"></input>

						</form>

					</div>

				</div>

			{% endif %}

		</div>

	</header>

	{% if page.title == 'Suffolk Libraries reserve, renew, branches and eLibrary' %}

		{% include home-image.html %}

	{% endif %}
