<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
	<![endif]-->

	{% if page.title == 'Suffolk Libraries reserve, renew, branches and eLibrary' %}

		<meta name="description" content="Reserve and renew titles, download eBooks, eAudio and music, and find libraries and events">

		<title>Home &#8211; Suffolk Libraries</title>

	{% elsif page.url contains "/events/" %}

		<title>{{ page.name | strip_html  }} &#8211; Suffolk Libraries</title>

	{% else %}

    	<title>{{ page.title | strip_html }} &#8211; Suffolk Libraries</title>

	{% endif %}

	{% if page.category and page.featured-image %}

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@suffolklibrary">
		<meta name="twitter:title" content="{{ page.title }}">
		<meta name="twitter:description" content="{{ page.excerpt }}">
		<meta name="twitter:image" content="{{ page.featured-image}}">
		{% if page.featured-alt %}<meta name="twitter:image:alt" content="{{ page.featured-alt }}">{% endif %}

	{% endif %}

	<script src="/js/app.js"></script>

    <link rel="stylesheet" href="/css/style.css">

    {% if page.dynatable %}

		<link rel="stylesheet" href="/css/jquery.dynatable.css">

	{% endif %}

</head>
