---
layout: default
title: Lowestoft Library Literary Festival
breadcrumb: events
---

<div class="custom-constrain-img">

  <section id="introduction" class="{% include /c/content-block.html %} cf">

    <h1 class="page-title tc">Lowestoft Library Literary Festival 2016</h1>

    <p class="ma0 fw3 f3 mb2 mb4-ns tc">Saturday 1 October, 0930-1730.  Meet Adele Geras, Rory Clements, Joyce Dunbar and <strong>Anthony Horrowitz</strong>. Tickets available from the library:  Morning ticket &pound;3 &middot; Afternoon ticket &pound;4</p>

  </section>

  <section id="events" class="custom-prose custom-lh-copy pb4">

      <p class="mb4 gray">Opening 0930 with MP Peter Aldous &#9997; Poetry competition prize presentation 0945 &#9997; Short story competition prize presentation 1215 &#9997; Meet &amp; greet the authors 1530&#8211;1545 &#9997; Raffle 1600</p>

      {% assign current_event_list = site.events | where: "event-category", "ltfest" | sort: 'event-start-time' ) %}

      {% for current_event in current_event_list %}

          <article class="{% include /c/slot.html %}">

              <h1 class="{% include /c/slot-title.html %}">{{ current_event.name  | remove: "Lowestoft Literary Festival: " }}</h1>

              <p class="{% include /c/page-meta.html %} mb0">{{ current_event.event-start-time }}{% if current_event.event-end-time %}&#8211;{{ current_event.event-end-time }}{% endif %}</p>

              <div class="cf{% if current_event.event-image-small %} pt3{% endif %}">

                  {% if current_event.event-image-small %}

                    <div class="custom-g-l2">

                        <img src="/images/{{ current_event.event-image-small }}" alt="{{ current_event.name }}" class="br-100">

                    </div>

                  {% endif %}

                  {% if current_event.event-image-small %}<div class="custom-g-l4 custom-g-nm">{% endif %}

                  <div class="custom-prose custom-lh-copy">

                      {{ current_event.excerpt }}

                  </div>

                   {% if current_event.event-image-small %}</div>{% endif %}

              </div>

          </article>

      {% endfor %}

  </section>

</div>
