{% include header.html %}

{% include hero.html %}

    <div class="{% include /c/main.html %}">

        <main id="content" class="{% include /c/content-box.html %}" role="main">

            {% include breadcrumb.html %}

            <h1 class="{% include /c/page-title.html %}">{{ page.branch-name }}</h1>

            <div class="cf">

              <div class="custom-g-l3">

                <img src="{{ page.branch-image }}" />

              </div>

              <div class="custom-g-l3 custom-g-nm">

                <p class="mt0">{% if page.branch-manager %}
                  Manager: <strong>{{ page.branch-manager }}</strong>
                {% endif %}</p>

                <p>{{ page.branch-address }}<br>
                {{ page.branch-post-code }}</p>

                <p>Tel: <strong>{{ page.branch-tel }}</strong><br>
                {% if page.branch-fax %}
                  Fax: <strong>{{ page.branch-fax }}</strong><br>
                {% endif %}
                Email: <strong><a href="mailto:help@suffolklibraries.co.uk">help@suffolklibraries.co.uk</a></strong><br>
                {% if page.branch-friends-url %}
                  Friends group: <a href="{{ page.branch-friends-url }}">{{ page.branch-friends }}</a><br>
                  {% else %}
                  Friends group: {{ page.branch-friends }}<br>
                {% endif %}
                {% if page.branch-social-media %}
                  Social media:
                    {% if page.branch-facebook %}
                      <a href="http://www.facebook.com/{{ page.branch-facebook }}">Facebook</a>
                    {% endif %}
                    {% if page.branch-twitter %}
                        <a href="http://www.twitter.com/{{ page.branch-twitter }}">Twitter</a>
                    {% endif %}
                    {% if page.branch-instagram %}
                        <a href="http://www.instagram.com/{{ page.branch-instagram }}">Instagram</a>
                    {% endif %}
                    {% if page.branch-pinterest %}
                        <a href="http://www.pinterest.com/{{ page.branch-pinterest }}">Pinterest</a>
                    {% endif %}</p>
                {% endif %}

              </div>

            </div>

            <div class="cf">

              <div class="custom-g-l3">

                <h2>Facilities</h2>

                <ul>
                  {% if page.branch-wifi %}
                    <li>
                      Free wifi available
                    </li>
                    <li>
                      <a href="/help/printing-copying-scanning">Scanning, printing and photocopying facilities</a>
                    </li>
                  {% endif %}
                  {% if page.branch-accessibility %}
                    <li>
                      <a href="{{ page.branch-accessibility }}">Accessibility information</a>
                    </li>
                  {% endif %}
                </ul>

                {% if page.branch-room-hire %}
                  <a class="pure-button pure-button-primary" href="{{ page.branch-room-hire }}">Room hire</a>
                {% endif %}

                {% if page.branch-display-space %}
                <h3>Display space</h3>
                  <p>
                    {{ page.branch-display-space }}
                  </p>
                {% endif %}

              </div>

              <div class="custom-g-l3 custom-g-nm">

                <h2>Opening hours</h2>

                <table class="pure-table">
                  <thead>
                    <tr>
                      <td>Day</td>
                      <td>Hours</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>placeholder</td>
                      <td>placeholder</td>
                    </tr>
                    <tr>
                      <td>placeholder</td>
                      <td>placeholder</td>
                    </tr>
                    <tr>
                      <td>placeholder</td>
                      <td>placeholder</td>
                    </tr>
                    <tr>
                      <td>placeholder</td>
                      <td>placeholder</td>
                    </tr>
                    <tr>
                      <td>placeholder</td>
                      <td>placeholder</td>
                    </tr>
                    <tr>
                      <td>placeholder</td>
                      <td>placeholder</td>
                    </tr>
                    <tr>
                      <td>placeholder</td>
                      <td>placeholder</td>
                    </tr>
                  </tbody>
                </table>

              </div>

            </div>

            <div class="cf">

              <div class="custom-g-l3">

                <h2>Regular events and activities</h2>

                <table class="pure-table">
                  <thead>
                    <tr>
                      <th>Event</th>
                      <th>Days</th>
                      <th>Times</th>
                    </tr>
                  </thead>
                  <tbody>

                    {% assign current = page.branch-unique-id %}

                    {% assign recurrents = site.recurrents | sort: 'recurrent-category'%}

                    {% for recurrent in recurrents %}

                          {% if recurrent.recurrent-location == current %}

                            <tr>
                                <td>{{ recurrent.recurrent-title }}</td>
                                <td>{{ recurrent.recurrent-day }}</td>
                                <td>{{ recurrent.recurrent-times }} </td>
                            </tr>

                        {% endif %}

                    {% endfor %}

                  </tbody>

                </table>

              </div>

              <div class="custom-g-l3 custom-g-nm">

            <h2>Upcoming events</h2>

            {% assign current = page.branch-unique-id %}

        	{% assign events = site.events | sort: 'event-start-date'%}

        	{% for event in events %}

                {% if event.location == current %}

                {% capture now-unix-seconds %}{{'now' | date: '%s' }}{% endcapture %}

                {% capture event-time-seconds %}{{event.event-start-date | date: '%s' }}{% endcapture %}

                {% capture event-time %}{{ event-time-seconds | divided_by: 86400}}{% endcapture %}

                {% capture now-unix %}{{ now-unix-seconds | divided_by: 86400}}{% endcapture %}

                <p>Evaluating {{ event.name }}: Unix days is {{ now-unix }}, the event time in days is {{ event-time }}</p>

                    {% if now-unix <= event-time %}

                    	<article>

                            <header>

                    		    <h1 class="listing-title"><a href="{{ event.url }}">{{ event.name }}</a></h1>

                                <p class="listing-meta secondary">

                                {% if event.event-end-date %}

                                     <span>{{ event.event-start-date | date: "%a %-d %b, %Y" }}</span> <span>{{ event.event-start-time }}</span> &#8211; <span>{{ event.event-end-date | date: "%a %-d %b" }}</span> <span>{{ event.event-end-time }}</span>

                                {% else %}

                                     <span>{{ event.event-start-date | date: "%a %-d %b, %Y" }}</span> <span>{{ event.event-start-time }}</span> &#8211; <span>{{ event.event-end-time }}</span>

                                {% endif %}

                            </header>

                    	</article>

                    {% endif %}

                {% endif %}

        	{% endfor %}

        </div>

        </main>

    </div>

{% include footer.html %}
