{% include header.html %}

{% if page.hero-image %}

    <figure class="hero-splash">

        <img src="/images/{{ page.hero-image }}" {% if page.hero-alt %}alt="{{ page.hero-alt }}"{% endif %}>

        {% if page.hero-caption %}<figcaption class="hero-splash-text"><p>{{ page.hero-caption }}</p></figcaption>{% endif %}

    </figure>

{% endif %}

    <div class="g-row">

        <div class="g-w-right g-w-col12">

            <main id="content" class="clearfix bg bg-white" role="main">

                <article class="entry">

                    <div class="inner-wrapper">

                        <div class="entry-header">

                            <h1 class="entry-title">{{ page.title }}</h1>

                        </div>

                        <div class="entry-content">

                            <p>Tel: {{ page.tel}}<br>
                            Address: {{ page.address }}<br>
                            Postcode: {{ page.post-code}}<br></p>

                            <h2>Upcoming events</h2>

                            {% assign current = page.unique-id %}

                        	{% assign events = site.events %}

                        	{% for event in events %}

                                {% if event.location == current %}

                                {% capture now-unix %}{{'now' | date: '%s'}}{% endcapture %}

                                {% capture event-time %}{{event.event-start-date | date: '%s'}}{% endcapture %}

                                    {% if now-unix < event-time %}

                                    	<article class="listing">

                                            <header class="listing-header">

                                    		    <h1 class="listing-title"><a href="{{ event.url }}">{{ event.name }}</a></h1>

                                                <p class="listing-meta secondary">

                                                {% if event.event-end-date %}

                                                     <span>{{ event.event-start-date | date: "%a %-d %b" }}</span> <span>{{ event.event-start-time }}</span> &#8211; <span>{{ event.event-end-date | date: "%a %-d %b" }}</span> <span>{{ event.event-end-time }}</span>

                                                {% else %}

                                                     <span>{{ event.event-start-date | date: "%a %-d %b" }}</span> <span>{{ event.event-start-time }}</span> &#8211; <span>{{ event.event-end-time }}</span>

                                                {% endif %}

                                            </header>

                                    	</article>

                                    {% endif %}

                                {% endif %}

                        	{% endfor %}

                        </div>

                    </div>

                </article>

            </main>

        </div>

    </div> <!-- end .g-row -->

{% include footer.html %}
