{% include header.html %}

{% if page.hero-image %}

    <figure class="hero-splash">

        <img src="/images/{{ page.hero-image }}" {% if page.hero-alt %}alt="{{ page.hero-alt }}"{% endif %}>

        {% if page.hero-caption %}<figcaption class="hero-splash-text"><p>{{ page.hero-caption }}</p></figcaption>{% endif %}

    </figure>

{% endif %}

    <div class="g-row">

        <div class="g-w-right g-w-col12">

            <main id="content" class="clearfix bg bg-white" role="main">

                <article class="entry">

                    <div class="inner-wrapper">

                        <div class="entry-header">

                            <h1 class="entry-title">{{ page.title }}</h1>

                        </div>

                        <div class="entry-content">

                            <p>Tel: {{ page.tel}}<br>
                            Address: {{ page.address }}<br>
                            Postcode: {{ page.post-code}}<br></p>

                            <h2>Upcoming events</h2>

                            <p>The current formatted time is {{'now' | date: "%s" | date: "%b %d, %Y %I:%M %p" | uri_encode | replace:"+","%20"}}</p>

                            {% assign current = page.unique-id %}

                        	{% assign events = site.events %}

                        	{% for event in events %}

                                {% if event.location == current %}

                                {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}

                                {% capture posttime %}{{event.date | date: '%s'}}{% endcapture %}

                                <p>Now is {{ %nowunix }} and event date is {{ %posttime }}</p>

                                    {% if posttime < nowunix %}

                                    	<article class="listing">

                                    		<h1 class="listing-title"><a href="{{ event.url }}">{{ event.name }}</a></h1>

                                    	</article>

                                    {% endif %}

                                {% endif %}

                        	{% endfor %}

                        </div>

                    </div>

                </article>

            </main>

        </div>

    </div> <!-- end .g-row -->

{% include footer.html %}
