{% include header.html %}

{% include hero.html %}

    <div class="{% include /c/main.html %}">

        <main id="content" class="{% include /c/content-box.html %}" role="main">

            {% include breadcrumb.html %}

            <article>

                <h1 class="{% include /c/page-title.html %}">{{ page.name }}</h1>

                <p>

                    <span>{{ page.location-text }}</span>,

                    {% if page.event-end-date %}

                         <span>{{ page.event-start-date | date: "%a %-d %b, %Y" }}</span> <span>{{ page.event-start-time }}</span> &#8211; <span>{{ page.event-end-date | date: "%a %-d %b %Y" }}</span> <span>{{ page.event-end-time }}</span>

                    {% else %}

                         <span>{{ page.event-start-date | date: "%a %-d %b, %Y" }}</span> <span>{{ page.event-start-time }}</span> &#8211; <span>{{ page.event-end-time }}</span>

                    {% endif %}

                    {{ content }}

                </p>

            </article>

        </main>

    </div>

{% include footer.html %}
