{% include header.html %}

{% include hero.html %}

{% if page.hnav %}

    {% include hnav.html %}

{% endif %}

    <div class="{% include /c/main.html %}">

        <main id="content" class="{% include /c/content-box.html %}" role="main">

            {% include breadcrumb.html %}

            <article class="cf">

                <h1 class="{% include /c/page-title.html %}">{{ page.name }}</h1>

                <div class="custom-g-l2">

                    <ul class="list ma0 pa0 mb2 mid-gray">

                    {% if page.event-category == 'bookfest' %}

                        <p class="ma0 mb2 mb3-ns"><a href="/events-activities/bookfest/" class="white"><img src="/images/article/bf-logo.jpg" alt="Bookfest"></a></p>

                    {% endif %}

                    {% if page.event-category == 'presents' %}

                        <p class="ma0 mb2 mb3-ns"><a href="/events-activities/presents/" class="white"><img src="/images/article/sl-presents-logo.jpg" alt="Suffolk Libraries Presents"></a></p>

                    {% endif %}

                    {% if page.event-category == 'ltfest' %}

                        <p class="ma0 mb2 mb3-ns f5">Part of <a href="/events-activities/lowestoft-library-literary-festival/" class="blue">Lowestoft Library Literary Festival</a></p>

                    {% endif %}

                    {% if page.event-alt-location %}

                        <li class="mv1 mv0-ns">{% if page.event-alt-location-link %}<a class="blue" href="{{ page.event-alt-location-link }}">{% endif %}{{ page.event-alt-location }}{% if page.event-alt-location-link %}</a>{% endif %}</li><br>

                    {% else %}

                        <li class="mv1 mv0-ns"><a class="blue" href="/libraries/{{ page.location }}">{{ page.location-text }}</a></li><br>

                    {% endif %}

                    {% if page.event-end-date %}

                         <li class="mv1 mv0-ns">{{ page.event-start-date | date: "%a %-d %b, %Y" }} {{ page.event-start-time }} &#8211; {{ page.event-end-date | date: "%a %-d %b %Y" }} {{ page.event-end-time }}</li>

                    {% else %}

                         <li class="mv1 mv0-ns">{{ page.event-start-date | date: "%a %-d %b, %Y" }}</li>

                    {% endif %}

                          <li class="mv1 mv0-ns">{{ page.event-start-time }} &#8211; {{ page.event-end-time }}</li>

                    {% if page.event-doors-open %}

                          <li class="mv1 mv0-ns">Doors open {{ page.event-doors-open }}</li>

                    {% endif %}

                    {% if page.event-book-signing %}

                          <li class="mv1 mv0-ns">Book signing from {{ page.event-book-signing }}</li>

                    {% endif %}

                    <br>

                    {% if page.event-ticket-price %}

                          <li class="mv1 mv0-ns">Tickets: &pound;{{ page.event-ticket-price }}</li>

                    {% endif %}

                    {% if page.event-ticket-url %}

                         <li class="mv1 mv0-ns"><a class="pure-button pure-button-primary mv2" href="{{ page.event-ticket-url }}">Buy a ticket</a></li>

                    {% endif %}

                    </ul>

                </div>

                <div class="custom-g-l4 custom-g-nm">

                    <div class="{% include /c/prose.html %} custom-remove-tm">

                        {{ content }}

                    </div>

                </div>

            </article>

        </main>

    </div>

{% include footer.html %}
