{% include header.html %}

{% include hero.html %}

{% if page.hnav %}

    {% include hnav.html %}

{% endif %}

    <div class="{% include /c/main.html %}">

        <main id="content" class="{% include /c/content-box.html %}" role="main">

            {% include breadcrumb.html %}

            <article>

                <h1 class="{% include /c/page-title.html %}">{{ page.branch-name }}</h1>

                <div class="cf custom-prose">

                    <div class="custom-g-l3">

                        {% if page.branch-image %}

                            <img src="{{ page.branch-image }}" />

                        {% endif %}

                    </div>

                    <section class="custom-g-l3 custom-g-nm" id="details">

                        <p class="mt0">{% if page.branch-manager %}
                        Manager: <strong>{{ page.branch-manager }}</strong>
                        {% endif %}</p>

                        <p>{{ page.branch-address }}<br>
                        {{ page.branch-post-code }}</p>

                        <p>Tel: <strong><a href="tel:{{ page.branch-tel }}">{{ page.branch-tel }}</a></strong><br>
                        {% if page.branch-fax %}
                        Fax: <strong>{{ page.branch-fax }}</strong><br>
                        {% endif %}
                        Email: <strong><a class="blue" href="mailto:help@suffolklibraries.co.uk">help@suffolklibraries.co.uk</a></strong><br>
                        {% if page.branch-friends-url %}
                        Friends group: <a class="blue" href="{{ page.branch-friends-url }}">{{ page.branch-friends }}</a><br>
                        {% elsif page.branch-friends %}
                        Friends group: {{ page.branch-friends }}<br>
                        {% else %}
                        {% endif %}
                        {% if page.branch-newsletter %}
                        Newsletter: <a class="blue" href="{{ page.branch-newsletter }}">Sign up</a><br>
                        {% endif %}

                    </section>

                </div>

                {% if page.branch-social-media %}

                <section class="pt2 pt3-ns">

                    <h1 class="di f4 ma0 pa0 mr2">Social media:</h1>

                    <ul class="ma0 pa0 list">
                        {% if page.branch-facebook %}
                        <li class="custom-icon-facebook dib mr2"><a class="blue" href="http://www.facebook.com/{{ page.branch-facebook }}">Facebook</a></li>
                        {% endif %}
                        {% if page.branch-twitter %}
                        <li class="custom-icon-twitter dib mr2"><a class="blue" href="http://www.twitter.com/{{ page.branch-twitter }}">Twitter</a></li>
                        {% endif %}
                        {% if page.branch-instagram %}
                        <li class="custom-icon-instagram dib mr2"><a class="blue" href="http://www.instagram.com/{{ page.branch-instagram }}">Instagram</a></li>
                        {% endif %}
                        {% if page.branch-pinterest %}
                        <li class="custom-icon-pinterest dib mr2"><a class="blue" href="http://www.pinterest.com/{{ page.branch-pinterest }}">Pinterest</a></li>
                        {% endif %}
                        {% if page.branch-booked-out-podcast %}
                        <li class="custom-icon-soundcloud dib mr2"><a class="blue" href="{{ page.branch-booked-out-podcast }}">Booked Out podcast</a></li>
                        {% endif %}</p>
                    </ul>

                </section> <!-- end #details -->

                {% endif %}

                {% if page.branch-news %}

                        <div class="{% include /c/corporate-panel.html %}"><p class="ma0">{{ page.branch-news }}</p></div>

                {% endif %}

                <div class="cf mt4 pt3 bt b--light-gray">

                    <section class="custom-g-l3" id="branch facilities">

                        <section>

                            <h1 class="f3 ma0 mb3 custom-lh-title">Branch facilities</h2>

                            <ul class="pl0-ns">

                                {% if page.branch-accessibility %}
                                  <li>
                                  <a  class="blue" href="{{ page.branch-accessibility }}">Accessibility information</a>
                                  </li>
                                {% endif %}

                                {% if page.branch-special-collections %}
                                  <li>
                                  <a class="blue" href="/special-collections/">Special collections:</a> {{ page.branch-special-collections }}</a>
                                  </li>
                                {% endif %}

                                {% if page.branch-parking %}
                                  <li>
                                  Parking: {{ page.branch-parking }}
                                  </li>
                                {% endif %}

                                {% if page.branch-bookdrop %}
                                  <li>
                                  Out-of-hours book return available
                                  </li>
                                {% endif %}

                                {% if page.branch-toilet %}
                                  <li>
                                  Customer toilet available
                                  </li>
                                {% endif %}

                                {% if page.branch-refreshments %}
                                  <li>
                                  Refreshments: {{ page.branch-refreshments }}
                                  </li>
                                {% endif %}

                                {% if page.branch-display-space %}
                                  <li>
                                  Display space: {{ page.branch-display-space }}
                                  </li>
                                {% endif %}

                                {% if page.branch-for-sale %}
                                  <li>
                                  <strong>For sale</strong>: {{ page.branch-for-sale }}
                                  </li>
                                {% endif %}

                                {% if page.branch-other-facilities %}
                                  <li>
                                  Also available: {{ page.branch-other-facilities }}
                                  </li>
                                {% endif %}


                            </ul>

                        <h1 class="f3 ma0 mb3 custom-lh-title">IT and printing facilities</h2>

                        <ul class="pl0-ns">

                            {% if page.branch-wifi %}
                              <li>
                              Free wifi available
                              </li>
                              {% endif %}

                            {% if page.branch-netloan %}
                            <li>
                              {% if page.branch-netloan == 'old' %}
                                <a href="http://netloan.suffolklibraries.co.uk" class="blue">Book a computer</a>
                              {% elsif page.branch-netloan == 'new' %}
                                <a href="http://78.31.106.220/netloan/Login.aspx" class="blue">Book a computer</a>
                              {% endif %}
                            </li>
                            {% endif %}

                            {% if page.branch-borrowing-ereaders-and-ipads %}
                              <li>
                              <a class="blue" href="/help/borrowing-ereaders-and-ipads/">Borrow {{ page.branch-borrowing-ereaders-and-ipads }}</a> from the library
                              </li>
                            {% endif %}

                            {% if page.branch-photocopying %}
                              <li>
                              Photocopying: {{ page.branch-photocopying }}
                              </li>
                            {% endif %}

                            {% if page.branch-colour-printing %}
                              <li>
                              Colour printing: {{ page.branch-colour-printing }}
                              </li>
                            {% endif %}

                            {% if page.branch-scan-to-email %}
                              <li>
                              Scan to email available
                              </li>
                            {% endif %}

                            {% if page.branch-faxing %}
                                <li>
                                Fax services available
                                </li>
                            {% endif %}


                        </ul>

                        {% if page.branch-room-hire %}

                            <p><a class="pure-button" href="{{ page.branch-room-hire }}">Room hire</a></p>

                        {% endif %}

                        </section>

                    </section> <!-- end #facilities -->

                    <section class="custom-g-l3 custom-g-nm" id="opening-hours">

                        <h1 class="f3 ma0 mb3 custom-lh-title">Opening hours</h1>

                        <table class="pure-table">
                        <thead>
                        <tr>
                        <th>Day</th>
                        <th>Hours</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td>Monday</td>
                        <td>{{ page.branch-monday-hours }}</td>
                        </tr>
                        <tr>
                        <td>Tuesday</td>
                        <td>{{ page.branch-tuesday-hours }}</td>
                        </tr>
                        <tr>
                        <td>Wednesday</td>
                        <td>{{ page.branch-wednesday-hours }}</td>
                        </tr>
                        <tr>
                        <td>Thursday</td>
                        <td>{{ page.branch-thursday-hours }}</td>
                        </tr>
                        <tr>
                        <td>Friday</td>
                        <td>{{ page.branch-friday-hours }}</td>
                        </tr>
                        <tr>
                        <td>Saturday</td>
                        <td>{{ page.branch-saturday-hours }}</td>
                        </tr>
                        <tr>
                        <td>Sunday</td>
                        <td>{{ page.branch-sunday-hours }}</td>
                        </tr>
                        </tbody>
                        </table>

                    </section> <!-- end #opening-hours -->

                </div>

                <div class="cf mt4 pt3 bt b--light-gray">

                    <section class="custom-g-l3" id="regular-events">

                        <h1 class="f3 ma0 mb3 custom-lh-title">Regular events and activities</h1>

                        {% assign current = page.branch-unique-id %}

                        {% assign recurrents = site.recurrents | where: "recurrent-category", "children" | where: "recurrent-location", current %}

                        {% if recurrents.size > 0 %}

                            <section class="pb2">

                                <h1 class="f4 ma0 mb2 custom-lh-title pt2 bt b--light-gray">Children's events</h1>

                                {% for recurrent in recurrents %}

                                    <article class="{% include /c/listing.html %}">

                                    <h1 class="{% include /c/listing-title.html %}">{{ recurrent.recurrent-title }}</h1>

                                    <p class="{% include /c/page-meta.html %}">{{ recurrent.recurrent-day }}, {{ recurrent.recurrent-times }}</p>

                                    </article>

                                {% endfor %}

                            </section>

                            {% endif %}

                            {% assign current = page.branch-unique-id %}

                            {% assign recurrents = site.recurrents | where: "recurrent-category", "older" | where: "recurrent-location", current %}

                            {% if recurrents.size > 0 %}

                                <section class="pb2">

                                    <h1 class="f4 ma0 mb2 custom-lh-title pt2 bt b--light-gray">Older people's events</h1>

                                    {% for recurrent in recurrents %}

                                        <article class="{% include /c/listing.html %}">

                                        <h1 class="{% include /c/listing-title.html %}">{{ recurrent.recurrent-title }}</h1>

                                        <p class="{% include /c/page-meta.html %}">{{ recurrent.recurrent-day }}, {{ recurrent.recurrent-times }}</p>

                                        </article>

                                    {% endfor %}

                                </section>

                            {% endif %}

                            {% assign current = page.branch-unique-id %}

                            {% assign recurrents = site.recurrents | where: "recurrent-category", "reading-groups" | where: "recurrent-location", current %}

                            {% if recurrents.size > 0 %}

                                <section class="pb2">

                                    <h1 class="f4 ma0 mb2 custom-lh-title pt2 bt b--light-gray">Reading groups</h1>

                                    {% for recurrent in recurrents %}

                                        <article class="{% include /c/listing.html %}">

                                        <h1 class="{% include /c/listing-title.html %}">{{ recurrent.recurrent-title }}</h1>

                                        <p class="{% include /c/page-meta.html %}">{{ recurrent.recurrent-day }}, {{ recurrent.recurrent-times }}</p>

                                        </article>

                                    {% endfor %}

                                </section>

                            {% endif %}

                            {% assign current = page.branch-unique-id %}

                            {% assign recurrents = site.recurrents | where: "recurrent-category", "writing-groups" | where: "recurrent-location", current %}

                            {% if recurrents.size > 0 %}

                                <section class="pb2">

                                    <h1 class="f4 ma0 mb2 custom-lh-title pt2 bt b--light-gray">Writing groups</h1>

                                    {% for recurrent in recurrents %}

                                        <article class="{% include /c/listing.html %}">

                                        <h1 class="{% include /c/listing-title.html %}">{{ recurrent.recurrent-title }}</h1>

                                        <p class="{% include /c/page-meta.html %}">{{ recurrent.recurrent-day }}, {{ recurrent.recurrent-times }}</p>

                                        </article>

                                    {% endfor %}

                                </section>

                            {% endif %}

                            {% assign current = page.branch-unique-id %}

                            {% assign recurrents = site.recurrents | where: "recurrent-category", "computer-courses" | where: "recurrent-location", current %}

                            {% if recurrents.size > 0 %}

                                <section class="pb2">

                                    <h1 class="f4 ma0 mb2 custom-lh-title pt2 bt b--light-gray">Computer courses</h1>

                                    {% for recurrent in recurrents %}

                                        <article class="{% include /c/listing.html %}">

                                        <h1 class="{% include /c/listing-title.html %}">{{ recurrent.recurrent-title }}</h1>

                                        <p class="{% include /c/page-meta.html %}">{{ recurrent.recurrent-day }}, {{ recurrent.recurrent-times }}</p>

                                        </article>

                                    {% endfor %}

                                </section>

                            {% endif %}

                            {% assign current = page.branch-unique-id %}

                            {% assign recurrents = site.recurrents | where: "recurrent-category", "language-courses" | where: "recurrent-location", current %}

                            {% if recurrents.size > 0 %}

                                <section class="pb2">

                                    <h1 class="f4 ma0 mb2 custom-lh-title pt2 bt b--light-gray">Language courses</h1>

                                    {% for recurrent in recurrents %}

                                        <article class="{% include /c/listing.html %}">

                                        <h1 class="{% include /c/listing-title.html %}">{{ recurrent.recurrent-title }}</h1>

                                        <p class="{% include /c/page-meta.html %}">{{ recurrent.recurrent-day }}, {{ recurrent.recurrent-times }}</p>

                                        </article>

                                    {% endfor %}

                                </section>

                            {% endif %}

                            {% assign current = page.branch-unique-id %}

                            {% assign recurrents = site.recurrents | where: "recurrent-category", "arts-crafts-games" | where: "recurrent-location", current %}

                            {% if recurrents.size > 0 %}

                                <section class="pb2">

                                    <h1 class="f4 ma0 mb2 custom-lh-title pt2 bt b--light-gray">Arts, crafts &amp; games</h1>

                                    {% for recurrent in recurrents %}

                                        <article class="{% include /c/listing.html %}">

                                        <h1 class="{% include /c/listing-title.html %}">{{ recurrent.recurrent-title }}</h1>

                                        <p class="{% include /c/page-meta.html %}">{{ recurrent.recurrent-day }}, {{ recurrent.recurrent-times }}</p>

                                        </article>

                                    {% endfor %}

                                </section>

                            {% endif %}

                            {% assign current = page.branch-unique-id %}

                            {% assign recurrents = site.recurrents | where: "recurrent-category", "health" | where: "recurrent-location", current %}

                            {% if recurrents.size > 0 %}

                                <section class="pb2">

                                    <h1 class="f4 ma0 mb2 custom-lh-title pt2 bt b--light-gray">Health &amp; wellbeing events</h1>

                                    {% for recurrent in recurrents %}

                                        <article class="{% include /c/listing.html %}">

                                        <h1 class="{% include /c/listing-title.html %}">{{ recurrent.recurrent-title }}</h1>

                                        <p class="{% include /c/page-meta.html %}">{{ recurrent.recurrent-day }}, {{ recurrent.recurrent-times }}</p>

                                        </article>

                                    {% endfor %}

                                </section>

                            {% endif %}

                            {% assign current = page.branch-unique-id %}

                            {% assign recurrents = site.recurrents | where: "recurrent-category", "surgeries-advice" | where: "recurrent-location", current %}

                            {% if recurrents.size > 0 %}

                                <section class="pb2">

                                    <h1 class="f4 ma0 mb2 custom-lh-title pt2 bt b--light-gray">Councillor surgeries &amp; professional advice</h1>

                                    {% for recurrent in recurrents %}

                                        <article class="{% include /c/listing.html %}">

                                        <h1 class="{% include /c/listing-title.html %}">{{ recurrent.recurrent-title }}</h1>

                                        <p class="{% include /c/page-meta.html %}">{{ recurrent.recurrent-day }}, {{ recurrent.recurrent-times }}</p>

                                        </article>

                                    {% endfor %}

                                </section>

                            {% endif %}

                            {% assign current = page.branch-unique-id %}

                            {% assign recurrents = site.recurrents | where: "recurrent-category", "cafes-stalls" | where: "recurrent-location", current %}

                            {% if recurrents.size > 0 %}

                                <section class="pb2">

                                    <h1 class="f4 ma0 mb2 custom-lh-title pt2 bt b--light-gray">Cafés, stalls &amp; book sales</h1>

                                    {% for recurrent in recurrents %}

                                        <article class="{% include /c/listing.html %}">

                                        <h1 class="{% include /c/listing-title.html %}">{{ recurrent.recurrent-title }}</h1>

                                        <p class="{% include /c/page-meta.html %}">{{ recurrent.recurrent-day }}, {{ recurrent.recurrent-times }}</p>

                                        </article>

                                    {% endfor %}

                                </section>

                            {% endif %}

                            {% assign current = page.branch-unique-id %}

                            {% assign recurrents = site.recurrents | where: "recurrent-category", "films-music-ents" | where: "recurrent-location", current %}

                            {% if recurrents.size > 0 %}

                                <section class="pb2">

                                    <h1 class="f4 ma0 mb2 custom-lh-title pt2 bt b--light-gray">Films, music &amp; entertainment</h1>

                                    {% for recurrent in recurrents %}

                                        <article class="{% include /c/listing.html %}">

                                        <h1 class="{% include /c/listing-title.html %}">{{ recurrent.recurrent-title }}</h1>

                                        <p class="{% include /c/page-meta.html %}">{{ recurrent.recurrent-day }}, {{ recurrent.recurrent-times }}</p>

                                        </article>

                                    {% endfor %}

                                </section>

                            {% endif %}

                            {% assign current = page.branch-unique-id %}

                            {% assign recurrents = site.recurrents | where: "recurrent-category", "business" | where: "recurrent-location", current %}

                            {% if recurrents.size > 0 %}

                                <section class="pb2">

                                    <h1 class="f4 ma0 mb2 custom-lh-title pt2 bt b--light-gray">Business</h1>

                                    {% for recurrent in recurrents %}

                                        <article class="{% include /c/listing.html %}">

                                        <h1 class="{% include /c/listing-title.html %}">{{ recurrent.recurrent-title }}</h1>

                                        <p class="{% include /c/page-meta.html %}">{{ recurrent.recurrent-day }}, {{ recurrent.recurrent-times }}</p>

                                        </article>

                                    {% endfor %}

                                </section>

                            {% endif %}

                            {% assign current = page.branch-unique-id %}

                            {% assign recurrents = site.recurrents | where: "recurrent-category", "history" | where: "recurrent-location", current %}

                            {% if recurrents.size > 0 %}

                                <section class="pb2">

                                    <h1 class="f4 ma0 mb2 custom-lh-title pt2 bt b--light-gray">History</h1>

                                    {% for recurrent in recurrents %}

                                        <article class="{% include /c/listing.html %}">

                                        <h1 class="{% include /c/listing-title.html %}">{{ recurrent.recurrent-title }}</h1>

                                        <p class="{% include /c/page-meta.html %}">{{ recurrent.recurrent-day }}, {{ recurrent.recurrent-times }}</p>

                                        </article>

                                    {% endfor %}

                                </section>

                            {% endif %}

                        </section> <!-- end #regular-events -->

                        <section class="custom-g-l3 custom-g-nm" id="upcoming-events">

                            <h1 class="f3 ma0 mb3 custom-lh-title">Upcoming special events</h1>

                            {% assign special-event-check = false %}

                            {% assign current = page.branch-unique-id %}

                            {% assign events = site.events | sort: 'event-start-date'%}

                            {% for event in events %}

                                {% if event.location == current %}

                                    {% capture now-unix-seconds %}{{'now' | date: '%s' }}{% endcapture %}

                                    {% if event.event-end-date %}

                                        {% capture event-time-seconds %}{{event.event-end-date | date: '%s' }}{% endcapture %}

                                    {% else %}

                                        {% capture event-time-seconds %}{{event.event-start-date | date: '%s' }}{% endcapture %}

                                    {% endif %}

                                    {% capture event-time %}{{ event-time-seconds | divided_by: 86400}}{% endcapture %}

                                    {% capture now-unix %}{{ now-unix-seconds | divided_by: 86400}}{% endcapture %}

                                    {% if now-unix <= event-time %}

                                        {% assign special-event-check = true %}

                                        <article class="{% include /c/listing.html %}">

                                            <h1 class="{% include /c/listing-title.html %}"><a class="blue" href="{{ event.url }}">{{ event.name }}</a></h1>

                                            <p class="{% include /c/page-meta.html %}">

                                            {% if event.event-end-date %}

                                                <span>{{ event.event-start-date | date: "%a %-d %b, %Y" }}</span> <span>{{ event.event-start-time }}</span> &#8211; <span>{{ event.event-end-date | date: "%a %-d %b, %Y" }}</span> <span>{{ event.event-end-time }}</span>

                                                {% else %}

                                                <span>{{ event.event-start-date | date: "%a %-d %b, %Y" }}</span> <span>{{ event.event-start-time }}</span> &#8211; <span>{{ event.event-end-time }}</span>

                                            {% endif %}

                                        </article>

                                    {% endif %}

                                {% endif %}

                            {% endfor %}

                            {% if special-event-check == false %}<p class="{% include /c/page-meta.html %} mb3">No upcoming special events.</p>{% endif %}

                        </section> <!-- end #upcoming-events -->

                    </div>

            </article>

        </main>

    </div>

{% include footer.html %}
