{% include header.html %}

{% include hero.html %}

{% if page.hnav %}

    {% include hnav.html %}

{% endif %}

<div class="{% include /c/main.html %}">

    <main id="content" role="main">

        <div class="custom-g-l4">

            <article>

                <div class="{% include /c/content-box.html %}">

                    {% include breadcrumb.html %}

                    <header>

                        <h1 class="{% include /c/page-title.html %}}">{{ page.title }}</h1>

                        {% if page.category %}

                            {% include post-meta.html %}

                        {% endif %}

                    </header>

                    <div class="{% include /c/prose.html %}">

                        {{ content }}

                    <footer>

                        {% if page.author and page.category == 'blog' %}

                          {% include post-bio.html %}

                        {% endif %}

                        {% if page.category == 'literacy' %}

                            {% include tag-listing.html %}

                        {% endif %}

                        {% if page.comments %}

                        <section class="{% include /c/content-block.html %} cf">

                            <h1 class="{% include /c/content-block-title.html %}">Comments</h1>

                            <div id="disqus_thread"></div>

                            <script>

                            var disqus_config = function () {
                            this.page.url = '{{ site.url }}{{ page.url }}';
                            this.page.identifier = '{{ page.url | remove: "/"  }}';
                            };

                            (function() { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');
                            s.src = '//suffolk-libraries.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                            })();
                            </script>

                            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

                            {% endif %}

                        </section>

                    </footer>

                    </div>

                </div>

            </article>

        </div>

    </main>

    <div class="custom-g-l2 custom-g-nm">

        {% include sidebar.html %}

    </div>

</div>

{% include footer.html %}
