{% include header.html %}

{% include hero.html %}

{% if page.hnav %}

    {% include hnav.html %}

{% endif %}

<div class="{% include /c/main.html %}">

    <main id="content" role="main">

        <div class="custom-g-l4">

            <article>

                <div class="{% include /c/content-box.html %}">

                    {% include breadcrumb.html %}

                    <header>

                        <h1 class="{% include /c/page-title.html %}}">{{ page.title }}</h1>

                        {% if page.category %}

                            {% include post-meta.html %}

                        {% endif %}

                    </header>

                    <div class="{% include /c/prose.html %}">

                        {{ content }}

                    <footer>

                        {% if page.category == 'literacy' %}

                            {% include tag-listing.html %}

                        {% endif %}

                    </footer>

                    </div>

                </div>

            </article>

        </div>

    </main>

    <div class="custom-g-l2 custom-g-nm">

        {% include sidebar.html %}

    </div>

</div>

{% include footer.html %}
