{% include header.html %}

{% if page.hero-image %}

    <figure class="hero-splash">

        <img src="/images/hero/{{ page.hero-image }}" {% if page.hero-alt %}alt="{{ page.hero-alt }}"{% endif %}>

        {% if page.hero-caption %}<figcaption class="hero-splash-text"><p>{{ page.hero-caption }}</p></figcaption>{% endif %}

    </figure>

{% endif %}

    <div class="g-row">

        <div class="g-w-left g-w-col8">

            <main id="content" class="clearfix bg bg-white" role="main">

                {% if page.breadcrumb %}

                    {% include breadcrumb.html %}

                {% endif %}

                <article class="entry">

                    <div class="entry-header">

                        <h1 class="entry-title">{{ page.title }}</h1>

                    </div>

                    <div class="entry-content">

                        {{ content }}

                    </div>

                </article>

            </main>

        </div>

        {% include sidebar.html %}

    </div> <!-- end .g-row -->

{% include footer.html %}
