<section class="{% include /c/sidebar-section.html %}">

      <h1 class="{% include /c/sidebar-section-title.html %}">In this section</h1>

      <ul class="{% include /c/sidebar-section-list.html %}">

          <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/about/">About us</a></li>
          <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/about/board-members/">Board members</a></li>
          <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/about/documents/">Documents (including board meeting minutes)</a></li>
          <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/about/member-organisations/">Member organisations</a></li>
          <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/about/jobs/">Jobs</a></li>
          <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/volunteer/">Volunteering</a></li>

      </ul>

  </section>
