<section class="{% include /c/sidebar-section.html %}">

    <h1 class="{% include /c/sidebar-section-title.html %}">In this section</h1>

    <ul class="{% include /c/sidebar-section-list.html %}">

        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/health/">New Chapters Home</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/health/events/">Events</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/health/links/">Links</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/health/contact/">Contact</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/health/lists/">Reading lists</a></li>

    </ul>

</section>

<section>

    <img src="/images/article/new-chapters-logo.png" class="pb3" alt="New Chapters logo"/>

    <h1 class="{% include /c/sidebar-section-title.html %}">About</h1>

    <p class="ma0 mb2 f6 f5-ns">My name is Sarah Lungley and I am the coordinator for Suffolk Libraries Mental Health and Wellbeing Information Service.</p>

    <p class="ma0 mb2 f6 f5-ns">My role is to help provide information on local services and to promote events in our libraries and the community that can support mental health and wellbeing.</p>

    <p class="ma0 mb2 f6 f5-ns">The service also aims to support our library staff, to ensure they are able to access useful and up-to-date information for our customers should they request it.</p>

    <p class="ma0 mb2 f6 f5-ns">Libraries are a fantastic resource, not only for books and information but for community, friendships and fun too. So pop in to your local branch or explore our website to find out more about what we do – we hope to see you soon!</p>

    <img src="/images/article/suffolk-information-standard-logo.jpg" class="pb3" alt="Suffolk Information Standard logo"/>

</section>
