<section class="{% include /c/sidebar-section.html %}">

    <h1 class="{% include /c/sidebar-section-title.html %}">In this section</h1>

    <ul class="{% include /c/sidebar-section-list.html %}">

        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/branches/hub/">Hub home</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="https://uk.bookingbug.com/home/45066-Enterprise-+-Innovation-Hub">Book a space, room or advisor</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/branches/hub/makerspace">MakerSpace</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/branches/hub/conditions-of-use">Conditions of use</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="http://eepurl.com/bB1SUb">Hub newsletter</a></li>

    </ul>

</section>
