<section class="{% include /c/sidebar-section.html %}">

    <h1 class="{% include /c/sidebar-section-title.html %}">In this section</h1>

    <ul class="{% include /c/sidebar-section-list.html %}">

        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/information-resources/">Information resources</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/music-and-drama">Music and Drama Library</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/special-collections">Special collections</a></li>

    </ul>

</section>
