<section class="{% include /c/sidebar-section.html %}">

    <h1 class="{% include /c/sidebar-section-title.html %}">Keep updated</h1>

    <p class="ma0 mb2 f6 f5-ns">Keep up to date with news, events and staff picks.</p>

    <ul class="{% include /c/sidebar-section-list.html %}">

        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/newsletter/">Email newsletter</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="https://facebook.com/suffolklibraries">Facebook</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="https://twitter.com/suffolklibrary">Twitter</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="https://instagram.com/suffolklibraries">Instagram</a></li>

    </ul>

</section>

<section class="{% include /c/sidebar-section.html %}">

    <h1 class="{% include /c/sidebar-section-title.html %}">Press &amp; media enquiries</h1>

    <p class="ma0 mb2 f6 f5-ns">Contact our marketing and communications manager <strong>james.powell@suffolklibraries.co.uk</strong></p>

</section>
