<section class="{% include /c/sidebar-section.html %}">

    <h1 class="{% include /c/sidebar-section-title.html %}">LBaRTS services</h1>

    <ul class="{% include /c/sidebar-section-list.html %}">

        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/schools/advisory-librarian-support">Advisory librarian support</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/schools/curriculum-support">Curriculum support</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/schools/staff-training-and-cpd">Staff training and CPD</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/schools/student-awards-and-events">Student awards and events</a></li>
        <li class="{% include /c/sidebar-section-list-item.html %}"><a class="{% include /c/sidebar-section-list-item-link.html %}" href="/schools/online-resources">Online resources</a></li>

    </ul>

</section>
