---
layout: sidebar-right
category: health
title: Events for your health and wellbeing
breadcrumb: health
sidebar: health
jquery: true
dynatable: true
---
<img src="/images/article/alzheimers-society.jpg" alt="Alzheimers society" />

<h2>What’s happening in my library?</h2>

<p>We host a wide range of activities and events across all our libraries.</p>

<h2>Upcoming special events</h2>

{% assign special-event-check = false %}

<table class="pure-table pure-table-bordered">

    <thead>
        <tr>
            <th data-dynatable-column="event">Event</th>
            <th data-dynatable-column="library">Library</th>
            <th data-dynatable-column="date">Date</th>
            <th data-dynatable-column="time">Time</th>
        </tr>
    </thead>

    <tbody>

    {% assign events = site.events | where: 'event-category', 'health' | sort: 'event-start-date'%}

    {% for event in events %}

    {% capture now-unix-seconds %}{{'now' | date: '%s' }}{% endcapture %}

    {% if event.event-end-date %}

        {% capture event-time-seconds %}{{event.event-end-date | date: '%s' }}{% endcapture %}

    {% else %}

        {% capture event-time-seconds %}{{event.event-start-date | date: '%s' }}{% endcapture %}

    {% endif %}

    {% capture event-time %}{{ event-time-seconds | divided_by: 86400}}{% endcapture %}

    {% capture now-unix %}{{ now-unix-seconds | divided_by: 86400}}{% endcapture %}

    {% if now-unix <= event-time %}

        {% assign special-event-check = true %}

        <tr>

            <td><a href="{{ event.url }}">{{ event.name }}</a></td>
            <td>{{ event.location-text }}</td>
            <td>{{ event.event-start-date | date: "%a %-d %b, %Y" }}{% if event.event-end-date %} &#8211; {{ event.event-end-date | date: "%a %-d %b, %Y" }}{% endif %}</td>
            <td>{{ event.event-start-time }}</td>

        </tr>

    {% endif %}

    {% endfor %}

    </tbody>

</table>

{% if special-event-check == false %}
  <p class="{% include /c/page-meta.html %} mb3">No upcoming events.</p>
{% endif %}

<h2>Regular events</h2>

{% assign health-check = false %}

{% include dynatable-library-list.html %}

<table id="search-table" class="pure-table pure-table-bordered">
  <thead>
    <tr>
      <th data-dynatable-column="library">Library</th>
      <th data-dynatable-column="activity">Activity</th>
      <th data-dynatable-column="day">Day</th>
      <th data-dynatable-column="times">Times</th>
    </tr>
  </thead>
  <tbody>
    {% assign recurrents = site.recurrents | where: "recurrent-category", "health" | sort: 'recurrent-location' %}
    {% for recurrent in recurrents %}
    {% assign health-check = true %}
    <tr>
      <td>{{ recurrent.recurrent-location-display-name }}</td>
      <td><a href="{{ recurrent.recurrent-location-display-url }}">{{ recurrent.recurrent-title }}</a></td>
      <td>{{ recurrent.recurrent-day }}</td>
      <td>{{ recurrent.recurrent-times }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if health-check == false %}
  <p class="{% include /c/page-meta.html %} mb3">No health events.</p>
{% endif %}

<img class="mb3 db" src="/images/article/suffolk-family-carers.jpg" alt="Suffolk family carers" />

<h2>What’s happening in my community?</h2>

<p>As well as the activities and events in your local library, there are lots of other things happening in your community. If you are doing anything to support mental health and wellbeing, please <a href="/health/contact/">contact us</a>.</p>
